<ion-header>

  <ion-toolbar mode="ios" color="dark">
    <ion-buttons (click)="closeModal()" slot="start">
      <ion-button>
        <ion-icon style="color: white;" name="close-circle">

        </ion-icon>
      </ion-button>
    </ion-buttons>



    <ion-buttons   (click)="closeModal()" slot="end">
      <ion-button>
        <ion-icon style="color: white;" name="checkmark-circle-outline">

        </ion-icon>
      </ion-button>
    </ion-buttons>




    <ion-title style="color: white;">
      Image Preview
    </ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content style="--background: #111;">
  <br>
<img src="{{this.imgUrl}}" >

</ion-content>
