<ion-list>

  <!-- Mostrar 'Agregar producto' si hay subcategoría pero no productos -->
  <ion-item button (click)="performAction('edit')">
    <ion-icon slot="start" name="color-wand-outline"></ion-icon>
   <b style="color: black;"> Edición avanzada</b>
  </ion-item>

  <!-- Mostrar 'Eliminar' si hay productos o subcategorías -->
  <ion-item button  (click)="performAction('delete')">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
  <b style="color: rgb(154, 0, 0);">  Eliminar</b>
  </ion-item>
</ion-list>
