


  <ion-content style="background: #fff; --background:#fff" [fullscreen]="true" class="orders-page">

  <!-- HEADER -->
  <div class="header" style="padding: 10px;margin-left: 10px;background: #fff;">
    <h1>Historial de pedidos ({{currentBusiness}})</h1>

    <div class="header-actions">
      <div class="date-range">
  <input
    type="date"
    (change)="setFechaInicio($event)"
  />

  <input
    type="date"
    (change)="setFechaFin($event)"
  />

</div>

      
      <button class="primary-btn" (click)="obtenerPedidosPorRango()">Aplicar rango</button>
    </div>
  </div>

  <!-- STATS -->
  <div class="stats" style="background: #fff;">

    <div class="stat-card">
      <span class="stat-title">Ganancias</span>
      <span class="stat-value" style="color: black;">${{totalVentas}}</span>
      <div class="stat-line green"></div>
    </div>

    <div class="stat-card">
      <span class="stat-title">Pedidos Totales</span>
      <span class="stat-value" style="color: black;">{{this.pedidos.length}}</span>
      <div class="stat-line blue"></div>
    </div>

    <div class="stat-card">
      <span class="stat-title">Entregados</span>
      <span class="stat-value" style="color: black;">{{finalizadoCount}}</span>
      <div class="stat-line orange"></div>
    </div>

    <div class="stat-card">
      <span class="stat-title">Cancelados</span>
      <span class="stat-value" style="color: black;">{{canceladosCount}}</span>
      <div class="stat-line purple"></div>
    </div>

    
  </div>

  <!-- TABS -->
  <div class="tabs" style="background: #fff;">
       <div class="header-actions" (click)="abrirCalendario()" style="margin-left: 16px;">
      <button class="primary-btn">{{fecha}}</button>
        <!-- Input nativo oculto -->
   <input
    #dateInput
    type="date"
    class="date-input"
    (change)="onFechaSeleccionada($event)"
  />
    </div>
    <ion-searchbar placeholder="Search orders"></ion-searchbar>
  </div>

  <!-- TABLE -->
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>ID</th>
        <th>Recibido</th>
        <th>Cliente</th>
        <th>Tipo</th>
        <th>Total</th>
        <th>Envio</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr (click)="goComanda(order)" *ngFor="let order of pedidos; let i = index">
        <td style="color: black;">
          {{ i + 1 }}.-
        </td>

        <!-- Order ID -->
        <td class="link" style="color: black;">
          {{ order.id }}
        </td>

        <!-- Created -->
        <td style="color: black;">
          {{ order.fecha }}
        </td>

        <!-- Customer -->
        <td style="color: black;" class="customer">
     
          {{ order.cliente }}
        </td>

        <!-- Fulfillment -->
        <td style="color: black;">
          <span
          
            class="badge"
            [ngClass]="{
              'green': order.status === 'Entregado',
              'yellow': order.status === 'En camino' || order.status === 'Aceptado',
              'purple': order.status === 'Pendiente'
            }"
          >
            {{ order.devMode }}
          </span>
        </td>

        <!-- Total -->
        <td style="color: black;">
          ${{ order.total }}
        </td>

        <!-- Profit -->
        <td style="color: black;">
          ${{ order.envio }}
        </td>

        <!-- Status -->
        <td>
          <span
            class="badge"
            [ngClass]="{
              'green': order.status === 'Entregado',
              'yellow': order.status === 'En camino',
              'purple': order.status === 'Pendiente',
              'red': order.status === 'Cancelado'
            }"
          >
            {{ order.status }}
          </span>
        </td>

  
      </tr>
    </tbody>
  </table>
</div>


</ion-content>

