<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Bets Query</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="font-size: 17px;--background: #111;">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-row>

        <ion-col size="3.5"></ion-col>
        <ion-col size="4.5">
          <ion-button>
            Mercado
          <ion-select (ionChange)="onMakeChangesMenu($event)" [(ngModel)]="typeMarket">
          
            <ion-select-option value="GL"><b>Goles</b></ion-select-option>
            <ion-select-option value="CL"> Corners</ion-select-option>
            <ion-select-option value="TDRL">Remates</ion-select-option>
            <ion-select-option value="TAL">Amarillas</ion-select-option>
            <ion-select-option value="RAPL">Remates a puerta</ion-select-option>
            <ion-select-option value="FL">Faltas</ion-select-option>
          
          </ion-select>
        </ion-button>
  
        </ion-col>

        <ion-col size="4"></ion-col>
        </ion-row>

      </ion-col>
      <ion-col size="6">
        <ion-searchbar placeholder="Buscar equipo" (ionChange)="getText1($event)" color="dark">

        </ion-searchbar>
        <ion-button shape="round" expand="full" (click)="search()">
          Buscar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-searchbar placeholder="Buscar equipo" (ionChange)="getText2($event)" color="dark">

        </ion-searchbar>

        <ion-button shape="round" expand="full" (click)="search2()">
          Buscar
        </ion-button>
      </ion-col>
  
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
   
      <ion-col size="6">
        <ion-row *ngFor="let item of pedidosUserArray; let i = index">
          <ion-col size="6">
            <div style="text-align: right; color: white;padding: 2px;">
              
            <b style="color: white;font-size: 13px;">  {{item.TL}}</b>
            {{item.ValorSelectedL}}

            </div>
          </ion-col>
          <ion-col size="6">
            <div style="text-align: left;color: white;padding: 2px;">
            -  {{item.ValorSelectedV}}
           <b style="font-size: 13px;">   {{item.TV}}</b>

            </div>
          </ion-col>
          
        
        </ion-row>
        <div class="chart-container" *ngIf="showValues === true">
          <div *ngFor="let value of values"  class="bar" [style.height.%]="value*5">
            <b style="color: white;font-size: 13px;"> {{value}}</b>

          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-row *ngFor="let item of pedidosUserArray2; let i = index">
          <ion-col size="6">
            <div style="text-align: right ; color: white;padding: 2px;">
      
            <b style="color: white;font-size: 13px;">  {{item.TL}}</b>
            {{item.ValorSelectedL}}

            </div>
          </ion-col>
          <ion-col size="6">
            <div style="text-align: left;color: white;padding: 2px;">
           -   {{item.ValorSelectedV}} 
           <b style="font-size: 13px;">   {{item.TV}}</b>

            </div>
          </ion-col>
        </ion-row>
        <div class="chart-container" *ngIf="showValues2 === true">
          <div *ngFor="let value of values2" style="text-align: center;"  class="bar" [style.height.%]="value*5">
            <b style="color: white;font-size: 13px;"> {{value}}</b>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
