ion-row:nth-child(even) {
    background-color: #222222;
  }
  ion-item:nth-child(even) {
    --background: #222222;
  }
  .chart-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100px;
    border: 1px solid rgb(49, 49, 49);
    margin: 10px;
    margin-top: 40px;
  }
  
  .bar {
    border-width: 0.1px;
    border-style: dashed;
    width: 20%;
    text-align: center;
    background-color: #3880ff;
    border-color: white;
  }
  