<ion-header>
  <ion-toolbar color="light">
    <ion-title>Códigos Postales</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="agregarNuevoCP()">
        <ion-icon name="add-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let cp of listaCP">
      <ion-label>
        <h2>CP: {{ cp.cp }}</h2>
        <p>Precio: {{ cp.precio || 'Sin precio' }}</p>
      </ion-label>

      <ion-button fill="clear" color="dark" (click)="editarCP(cp)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
