<ion-header>
  <ion-toolbar color="light" mode="ios">

    <ion-title style="color: rgb(0, 0, 0);">Administración 2.3</ion-title>


    <ion-buttons style="padding-left:10px" slot="start">
      <ion-menu-button style="color: rgb(0, 0, 0);">
     
              </ion-menu-button>
    </ion-buttons>

    <ion-buttons  (click)="logout()" slot="end">
      <ion-button>
<ion-icon style="color: rgb(0, 0, 0);" name="exit">

</ion-icon>
      </ion-button>
    
    </ion-buttons>

    <ion-buttons  slot="end">
      <ion-button>
<ion-icon style="color: rgb(0, 0, 0);" name="ellipsis-vertical">

</ion-icon>
      </ion-button>
    
    </ion-buttons>


  </ion-toolbar>

</ion-header>

<ion-content style="--background:#fff">

<ion-grid style="padding:0px">
  <ion-row>
    <ion-col size="12">
      <ion-card color="light">

        <ion-row style="padding: 1px;">
          <ion-col size="12">
            <div style="text-align: center;color: rgb(0, 0, 0);font-size: 28px;">
          
            
              <ion-label>              
<br>
                <b style="color: rgb(0, 0, 0);" *ngIf="this.connect === true">  Conectado </b> 
                <b style="color: rgb(230, 84, 84);" *ngIf="this.connect !== true">  Sin numero </b><br>
              </ion-label><br>
              <ion-item lines="none" color="light">
                <ion-select color="light" style="background: #ffffff;color: rgb(0, 0, 0);" [(ngModel)]="ph" (ionChange)="selectOption($event)">
                  <ion-select-option *ngFor="let option of arrayNumbers" style="color: black;font-size: 14px;" [value]="option">{{ option }}</ion-select-option>
                </ion-select>
              </ion-item>

              
     
            </div>

            </ion-col>
           

    

          <br>
          <ion-col size="5">
      
          </ion-col>
          <ion-col size="6">
    
          </ion-col>
          <ion-col size="1">
            <ion-icon name="settings-outline" style="color: rgb(172, 172, 172);font-size: 25px;">

            </ion-icon>
          </ion-col>

         

        </ion-row>

    </ion-card>


    </ion-col>
 



    <ion-col size="6">
      <ion-card color="light">

        <ion-row style="padding: 1px;" (click)="goConversations()" >
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-icon name="chatbubbles-outline" style="font-size: 40px;color: rgb(0, 0, 0);"></ion-icon>


            <br>
              <b style="color: rgb(0, 0, 0);">  Chats</b> 
            </div>

            </ion-col>
           

          <ion-col size="12">

            <br>
            <ion-button  fill="outline" color="danger" expand="full">
             <b style="color: rgb(0, 0, 0);"> Administrar</b> 
            </ion-button>
          </ion-col>
    
        </ion-row>

    </ion-card>


    </ion-col>


    <ion-col size="6">
      <ion-card color="light">

        <ion-row (click)="showToast('No tienes privilegios')" style="padding: 3px;">
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-icon name="git-compare-outline" style="font-size: 40px;color: #111;"></ion-icon>


            <br>
              <b style="color: rgb(0, 82, 44);">Estructura del bot</b> 
            </div>

            </ion-col>
           

          <ion-col size="12">
            <br>
            <ion-button  fill="outline" color="danger" expand="full">
             <b style="color: black;"> Modificar bot</b> 
            </ion-button>
         
          </ion-col>
        
        </ion-row>

    </ion-card>


    </ion-col>

    <ion-col size="6">
      <ion-card (click)="showToast('No tienes privilegios')"  color="light">

        <ion-row style="padding: 3px;">
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-icon name="alarm-outline" style="font-size: 40px;color: #111;"></ion-icon>


            <br>
              <b style="color: rgb(0, 82, 44);">  Programar mensajes</b> <br>
            </div>
<br>

<ion-button fill="outline" color="danger" expand="full">
<b style="color: black;">   Programar MSG</b>  
</ion-button>
            </ion-col>
           

    
        </ion-row>

    </ion-card>


    </ion-col>

    <ion-col size="6">
      <ion-card color="light">

        <ion-row style="padding: 3px;">
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-icon name="eye-outline" style="font-size: 40px;color: #111;"></ion-icon>
              
            <br>
            <b style="color: rgb(0, 0, 0);">  Business Panel</b> 
            </div>

            </ion-col>
           

          <ion-col size="12">

        
            <ion-button  (click)="activarBusinessPanel()" 
            fill="outline" color="danger" expand="full">
              <b style="color: black;">  Activar </b>  
  
            </ion-button>
          </ion-col>
       
        </ion-row>

    </ion-card>

    </ion-col>


    <ion-col size="6">
      <ion-card color="light">

        <ion-row style="padding: 3px;">
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-icon name="people-circle-outline" style="font-size: 40px;color: #111;"></ion-icon>
              
            <br>
            <b style="color: rgb(0, 82, 44);"> Administrar clientes</b> 
            </div>

            </ion-col>
           

          <ion-col size="12">
            <br>
            <ion-button (click)="toastNoAvailable('Continuamos trabajando con esta función. Será habilitada lo mas pronto posible.')" fill="outline" color="danger" expand="full">
              <b style="color: black;"> Administrar</b>    
            </ion-button>
         
          </ion-col>
      
        </ion-row>

    </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card color="light">

        <ion-row style="padding: 3px;">
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-icon name="pricetags-outline" style="font-size: 40px;color: #111;"></ion-icon>


            <br>
              <b style="color: rgb(0, 82, 44);"> Etiquetas de cliente</b> 
            </div>

            </ion-col>
           

          <ion-col size="12">
            <br>
            <ion-button fill="outline" color="danger" expand="full">
              <b style="color: black;">   Administrar</b>  
            </ion-button>
        
          </ion-col>
     
        </ion-row>

    </ion-card>


    </ion-col>


    <ion-col size="6">
      <ion-card color="light">

        <ion-row style="padding: 3px;">

          <ion-col size="12">
            <div style="text-align: center;">
              
              <ion-icon name="bar-chart-outline" style="font-size: 40px;color: #111;"></ion-icon>

<br>
              <b style="color: rgb(0, 82, 44);">  Graficas y estadistica</b> 
            </div>

            </ion-col>
           

          <ion-col size="12">

            <br>
            <ion-button (click)="toastNoAvailable('Continuamos trabajando con esta función. Será habilitada lo mas pronto posible.')" fill="outline" color="danger" expand="full">
              
              <b style="color: black;">  Ver graficas</b>  
  
            </ion-button>
          </ion-col>
      
        </ion-row>

    </ion-card>


    </ion-col>

    <ion-col size="6">
      <ion-card color="light">

        <ion-row style="padding: 3px;">
          <ion-col size="12">
            <div style="text-align: center;">
              <ion-icon name="document-text-outline" style="font-size: 40px;color: #111;"></ion-icon>
              
            <br>
            <b style="color: rgb(0, 82, 44);"> Generar reportes</b> 
            </div>

            </ion-col>
           

          <ion-col size="12">

            <br>
            <ion-button (click)="toastNoAvailable('Continuamos trabajando con esta función. Será habilitada lo mas pronto posible.')" fill="outline" color="danger" expand="full">
                   <b style="color: black;">MIS REPORTES</b>  
  
            </ion-button>
          </ion-col>
       
        </ion-row>

    </ion-card>

    </ion-col>




  </ion-row>
</ion-grid>
<div style="text-align: center;color: gray;font-size: 12px;padding: 10px;">Los reportes son mensuales. Los meses anteriores se guardarán en la sección de Historial de Datos.</div>

</ion-content>
