<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon style="color: #000;" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Asignar restaurante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-searchbar mode="ios" (ionInput)="onSearchChange($event)" style="min-height: 42px;" placeholder="Buscar Restaurantes por nombre..."></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let categoria of restaurantes">
      <ion-checkbox slot="start" [(ngModel)]="categoria.selected"></ion-checkbox>
      <ion-avatar slot="start">
        <img [src]="categoria.logo" style="object-fit: cover;">
      </ion-avatar>
      <ion-label>{{ categoria.nombre }}</ion-label>
    </ion-item>
  </ion-list>



</ion-content>
<ion-footer>
  <ion-button expand="block" color="primary" (click)="asignarSeleccionados()">
    Asignar seleccionados
  </ion-button>
</ion-footer>