<ion-header>
  <ion-toolbar mode="ios" color="dark"> 

    <ion-buttons (click)="closeModal()" slot="start">
   <ion-button>
    <ion-icon name="close-circle-outline" style="color: rgb(255, 81, 81);">

    </ion-icon>

   </ion-button>

    </ion-buttons>

    <ion-buttons (click)="saveModal()" slot="end">
      <ion-button>
        <ion-icon style="color: rgb(54, 204, 129);" name="checkmark-circle-outline">
    
        </ion-icon>
    
       </ion-button>
    </ion-buttons>
    <ion-title style="color: white;">
     Seleccionar etiqueta
    </ion-title>
    </ion-toolbar>
  
</ion-header>

  <ion-content style="--background:#111">
 

    <br>
    <ion-list style="background:#111;padding:0px" *ngFor="let item of arrayTags">
 

      <ion-radio-group color="danger" [(ngModel)]="tipoRespuesta">   
        <ion-item color="dark">
          <ion-icon style="color: rgb(224, 224, 224);" slot="start" name="bookmark-outline">

          </ion-icon>
          <ion-label style="color: rgb(228, 228, 228);">{{item.Name}}</ion-label>
          <ion-radio color="danger" value="{{item.Name}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    
    

     


<br>

    
  
 
 
    
    </ion-list>

    <ion-fab style="margin-bottom: 20%;" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="systemSendMsg" color="danger" (click)="saveModal()">
        <ion-icon style="font-size: 29px;" name="save-outline"></ion-icon>
      </ion-fab-button>
    
    </ion-fab>

    <br>
    <br>    <br>
    <br>
   
  </ion-content>