<ion-content style="--background: #fff">
  
  <div class="splash-screen" style="text-align: center;">
    <img src="{{url}}" class="splash-logo" />
    <br>
    <img  style="width: 120px;" src="https://i.pinimg.com/originals/89/86/fe/8986fef7a58272135c7c5d006a312554.gif">

    <div style="text-align: center; color: rgb(0, 0, 0);">
      ¡Gracias por tu compra!
    </div>
  </div>
  
  <!-- Contenedor de confeti -->
  <div class="confetti-container">
    <!-- Múltiples divs para cada pieza de confeti -->
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
  </div>
</ion-content>
