.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* No bloquea interacciones con otros elementos */
    z-index: 9999; /* Asegura que el confeti esté sobre todo */
    overflow: hidden;
  }
  
  .confetti {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: var(--confetti-color, #ffcc00);
    opacity: 0.7;
    border-radius: 50%;
    animation: confetti-fall 3s linear infinite;
  }
  
  /* Diferentes colores y ubicaciones para el confeti */
  .confetti:nth-child(1) { left: 10%; background-color: #ff3b3b; animation-delay: 0s; }
  .confetti:nth-child(2) { left: 20%; background-color: #ff8c3b; animation-delay: 0.5s; }
  .confetti:nth-child(3) { left: 30%; background-color: #ffd33b; animation-delay: 1s; }
  .confetti:nth-child(4) { left: 40%; background-color: #9cff3b; animation-delay: 1.5s; }
  .confetti:nth-child(5) { left: 50%; background-color: #3bff57; animation-delay: 2s; }
  .confetti:nth-child(6) { left: 60%; background-color: #3bffae; animation-delay: 2.5s; }
  .confetti:nth-child(7) { left: 70%; background-color: #3bdaff; animation-delay: 3s; }
  .confetti:nth-child(8) { left: 80%; background-color: #3b73ff; animation-delay: 3.5s; }
  .confetti:nth-child(9) { left: 90%; background-color: #af3bff; animation-delay: 4s; }
  .confetti:nth-child(10) { left: 95%; background-color: #ff3bff; animation-delay: 4.5s; }
  
  /* Animación para hacer que el confeti caiga */
  @keyframes confetti-fall {
    0% { transform: translateY(-100px) rotate(0deg); opacity: 1; }
    100% { transform: translateY(100vh) rotate(720deg); opacity: 0; }
  }
  .splash-logo {
    margin-top: 30px;
    border-radius: 50%;
    width: 150px; /* Ajusta el tamaño según lo necesites */
    height: auto;
 
    transition: transform 0.6s ease-in-out; /* Animación del logo */
  }

  