<ion-header>
  <ion-toolbar color="light">
    <ion-title style="color: black;">Clientbook</ion-title>
    <ion-buttons (click)="selectItem()" slot="end">
      <ion-buttons>
        <ion-icon name="checkmark-circle-outline" style="font-size: 25px;">

        </ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fff;">
  <ion-searchbar (ionChange)="searchSort($event)" color="light" placeholder="Buscar numero.." >
  
  </ion-searchbar>
  <ion-list *ngIf="menuLength === 0" style="padding: 0px; background: rgb(184, 103, 103);" >
    <ion-list-header color="light">
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="menuLength !== 0" >
    <ion-row style="padding: 2px; background: #fff;">
      <!--  12  columnas a lo ancho-->
      
  
        
        <ion-col size="5" >
          <div style="text-align: center;width: 100%; color: rgb(0, 0, 0);font-size: 12px;background: #fff;">
            <ion-icon name="person-circle-outline" style="font-size: 27px;color: rgb(228, 228, 228);">
      
            </ion-icon>
            <br>
            Nombre y numero<br>
            ({{this.arrayContactos.length}})
          </div>
          
            
            </ion-col>
      
          
            <ion-col size="5" (click)="reverseArray()">
              <div style="text-align: center;width: 100%; color: white;font-size: 12px;background: #fff;">
                <ion-icon name="swap-vertical-outline" style="font-size: 27px;color: rgb(214, 214, 214);">
      
                </ion-icon>
                <ion-icon name="sync-circle-outline" style="font-size: 10px;color: rgb(161, 236, 131);">
      
                </ion-icon>
                <br>

                <b style="color: rgb(0, 0, 0);font-size: 10px;">{{this.descVar}}</b>
              </div>
              
                
                </ion-col>
            
    <ion-col size="2">
      <div style="padding: 10px;text-align: center;margin-top: 5px;">
        <ion-icon (click)="filtercomponent()" name="options-outline" style="font-size: 23px;color: rgb(195, 195, 195);">
      
        </ion-icon>
      </div>

    </ion-col>
        
                    
  
      
      </ion-row>
  </ion-grid>
  <ion-grid *ngIf="menuLength !== 0" >
    <ion-row *ngFor="let item of arrayContactos;let i = index">
      <ion-col *ngIf="item.StateSelect === false" size="5">
        <div style="text-align: center; padding: 5px;">
          <b style="color: rgb(31, 31, 31);" *ngIf="item.Name !== ''"> {{item.Name}}</b>
          <b style="color: rgb(33, 33, 33);" *ngIf="item.Name === ''"> No name</b>
          <br>
          <b style="color: rgb(37, 37, 37);"> {{item.Num}}</b>

        </div>
      </ion-col>

      <ion-col *ngIf="item.StateSelect === false"  size="5">
        <div style="text-align: center; padding: 5px;" >
          <b style="color: rgb(0, 0, 0);font-size: 10px;" > {{item[actualVar]}}</b>
          <b style="color: rgb(0, 0, 0);font-size: 10px;" > {{item.Km}}</b>
      <!-- Número de pedidos -->
  <div style="color: rgb(0, 0, 0);font-size: 10px;">
    🛒 {{item.NumberPedidos || 0}} pedidos
  </div>

  <!-- Producto favorito -->
  <div style="color: rgb(0, 0, 0);font-size: 10px;" *ngIf="item.ProductoFavorito">
    ⭐ {{item.ProductoFavorito}}
  </div>

  <!-- Top 3 -->
  <div style="color: rgb(0, 0, 0);font-size: 10px;" *ngIf="item.TopProductos?.length > 0">
    🥇
    <span style="color: rgb(0, 0, 0);font-size: 10px;" *ngFor="let prod of item.TopProductos; let last = last">
      {{prod.name}} ({{prod.total}})<span *ngIf="!last">, </span>
    </span>
  </div>
        </div>
      </ion-col>
      <ion-col *ngIf="item.StateSelect === false"   size="2">
        <ion-item style="width: 50px;--background: #7fffd400;"   lines="none" >
          <ion-checkbox  style="margin-inline-end: 0px;    margin-inline: 0px 0px" [checked]="item.Checked" mode="md"
           (ionChange)="checkboxAdd($event,item,item.IndexArray)" slot="end"></ion-checkbox>
         
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
  <br>
  <br>
</ion-content>
