<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Respuestas rapidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:#111">
<ion-grid>
  <ion-row *ngFor="let item of listAns">
    <ion-col size="12">
      <div style="color: white;padding: 10px;">
        /{{item.Cmd}}

      </div>
    </ion-col>
    <ion-col  size="12">
<div style="color: white;padding: 10px;">
  {{item.Src}}

</div>
    </ion-col>
    <ion-col>
      <div style="color: white;background: white;height: 1px;width: 100%;">

      </div>
    </ion-col>
  </ion-row>

</ion-grid>
<br>
<br>
<div style="color: rgb(182, 182, 182);padding: 15px;">
  Para usarlas escribe "/" con el teclado o selecciona Respúesta rapida en la lista deslizable inferior del chat
</div>
</ion-content>
