ion-content{
  background: #ffffff;
  --background: #ffffff;
}
.animated-button {
    animation: fadeInUp 1s ease-in-out;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px); /* Start 50px below */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End in normal position */
    }
  }
  
  .animated-button2 {
    animation: fadeInUp2 2s ease-in-out;
  }
  
  @keyframes fadeInUp2 {
    0% {
      opacity: 0;
      transform: translateY(50px); /* Start 50px below */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End in normal position */
    }
  }
  