<ion-header [translucent]="true">
  <ion-toolbar class="glass-header">
    <ion-title class="title-glass" style="color: black;">Smart Home Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="glass-bg" [fullscreen]="true">

  <!-- CONTENEDOR PRINCIPAL -->
  <div class="control-container">

    <!-- TARJETA GLASS -->
    <div class="glass-card fade-in">

      <h2 class="device-title" style="color: black;">Luz Principal</h2>

      <div class="buttons-wrapper">

        <ion-button class="btn-glass" expand="block" color="dark" (click)="openGarage()">
       <b style="color: rgb(255, 255, 255);">   🔆 Encender Luz</b>
        </ion-button>

        <ion-button class="btn-glass danger" expand="block" color="dark" (click)="closeGarage()">
        <b style="color: rgb(255, 255, 255);">  🌙 Apagar Luz</b>
        </ion-button>

      </div>

    </div>

  </div>

</ion-content>
