

<ion-content [fullscreen]="true" class="buy-finish-content">
  <div class="finish-container">
    <!-- Logo -->
    <img class="logo" src="{{ logo }}" alt="Logo">

    <!-- Mensaje -->
    <h2>¡Gracias por tu pedido!</h2>
    <p>Manejamos un tiempo de entrega entre 35 y 45 minutos. <br>Te avisaremos cuando tu repartidor este en camino a tu domicilio</p>

    <!-- Botón de WhatsApp -->
    <ion-button expand="block" color="success" (click)="openWhatsApp()" class="whatsapp-btn">
      <ion-icon style="color: white;" name="logo-whatsapp" slot="start"></ion-icon>
       <b style="color: white;">Regresar a WhatsApp</b>
    </ion-button>
  </div>
</ion-content>
