<ion-header>

  <ion-toolbar mode="ios" color="light"> 

    <ion-buttons (click)="closeModal()" slot="start">
   <ion-button>
    <ion-icon name="close-circle-outline" style="color: rgb(255, 81, 81);">

    </ion-icon>

   </ion-button>

    </ion-buttons>

    <ion-buttons (click)="enviarMasivo()" slot="end">
      <ion-button>
        <ion-icon style="color: rgb(54, 204, 129);" name="checkmark-circle-outline">
    
        </ion-icon>
    
       </ion-button>
    </ion-buttons>
    <ion-title style="color: rgb(0, 0, 0);">
      Reenviar
    </ion-title>
    </ion-toolbar>
  

</ion-header>

<ion-content [fullscreen]="true"  style="--background: #fff;">



<!-- <button (click)="getStatus()">Estado</button>
<br>

<button (click)="getFunctions()">Funciones</button>
<br>

<button (click)="getDeviceInfo()">Info</button>
<br>

<button (click)="getAllDevices()">Listar</button>
<br> -->

<!-- <button (click)="rebootDevice()">Reiniciar</button>
<br>

<button (click)="removeDevice()">Eliminar</button>
<br> -->


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 <ion-searchbar (ionChange)="searchSort($event)" style="color: rgb(0, 0, 0);" placeholder="Buscar.." >
  
  </ion-searchbar>
  <div style="display: none;"  class="price-container">
    <div *ngFor="let item of arrayTags;" class="price-tag">{{item.Name}}</div>
   
</div>



  <ion-list *ngIf="menuLength === 0">

    <ion-item >
      <ion-label>
        <ion-skeleton-text color="light" animated class="my-skeleton" style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated class="my-skeleton" style="width: 90%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="menuLength !== 0" color="light" style="padding: 6px;background: #fff;" st id="inbox-list">
      
          <div   (click)="removeGreen(p)" *ngFor="let p of menuOptionsCache; let i = index">
            
            <div class="ion-activatable ripple-parent rounded-rectangle" style="margin-top: 10px;">
              <ion-grid style="background: #fff;">
                <ion-row (click)="goChat(p.to)">
               
               <ion-col size="0.3" style="padding: 0px;">
                
              </ion-col>
                  <ion-col size="2.1" size-md="1.5" size-lg="1.5" style="padding: 0px;">

                 <div 
class="avatar"
  [ngStyle]="{
    'background-color': getColor(p.Nombre)
  }"
>
  {{ p.Nombre.charAt(0).toUpperCase() }}
</div>

<div style="background: #fff;height: 100%; text-align: center;">
<ion-grid style="padding: 0px;display: none;">
<ion-row   [ngStyle]="{
    'background-image': 'url(' + p.img + ')',
    'width': '75px',
    'padding-top': '57px',
    'height': '75px',
    'display': 'inline-table',
    'border-radius': '17px',
    'background-size': 'cover',
    'background-position': 'center'
  }">
<ion-row style="background: #fff;border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;">
     <ion-col size="3" style="padding: 0px;">
<img src="../../../assets/icon/diamante.png" style="width: 15px;height: 15px;border-radius: 17px;">

  </ion-col>
    <ion-col size="3">
<img src="../../../assets/icon/estrella.png" style="width: 15px;height: 15px;border-radius: 17px;">

  </ion-col>
    <ion-col size="3">
<img src="../../../assets/icon/corazon.png" style="width: 15px;height: 15px;border-radius: 17px;">

  </ion-col>
   <ion-col size="3">
<img src="../../../assets/icon/transferencia-movil.png" style="width: 15px;height: 15px;border-radius: 17px;">

  </ion-col>
</ion-row>
  </ion-row>

</ion-grid>

</div>
                 
                  </ion-col>
              
                  <ion-col size-lg="8.5" size="8" style="background: #fff;padding: 2px;padding-top: 0px;">
                    <div style="color: white;font-size: 18px;background: #fff; " >
                      <b style="white-space: nowrap;text-overflow: ellipsis;width: 100%;font-size: 16px;color: #000;">{{p.Nombre}}</b>
                      <br>
              <div style="color: rgb(200, 200, 200);font-size:12px;width: 100px;padding: 0px;
                     white-space: nowrap;text-overflow: ellipsis;width: 100%;
                      ">
                      <ion-row>
   
  
                      </ion-row>
                    
                    </div>
                      <div style="color: rgb(64, 64, 64);font-size: 16px;margin-top: 0px;">
                        {{ p.Contact }}
                        <div *ngIf="p.Tag !== 'No tag'" style="margin-left: 5px;padding-bottom: 2px;padding-top:2px;padding-left: 7px;padding-right:7px;
                        text-align: center; background: rgb(41, 41, 41);color: white;border-radius: 15px;width: 100px; display: inline-block;font-weight: bold;">
                          {{p.Tag}}
                        </div>
<div>

</div>

                     
                      </div>

                    </div>
                  </ion-col>
                      <ion-col size="1.2" style="padding: 0px; display: flex; align-items: center; justify-content: center;">

              <ion-checkbox 
                [checked]="selectedPhones.includes(p.to)"
                (ionChange)="togglePhone(p.to)"
                color="success">
              </ion-checkbox>

            </ion-col>

                  <ion-ripple-effect>
                  
                  </ion-ripple-effect>
                </ion-row>
              </ion-grid>
        
              <div style="text-align: center;background: rgb(255, 255, 255);height: 0.5px;width: 100%;margin-top:10px"></div>
            </div>
            
               <div style="text-align: center;background: rgb(243, 243, 243);height: 0.5px;width: 100%;">

               </div>
          
            </div>
 
  
  </ion-list>

  
</ion-content>


<ion-footer>
  <ion-button color="dark" (click)="enviarMasivo()">
    <div style="color: rgb(255, 255, 255);"> Reenviar mensaje ({{selectedPhones.length}})</div>
  </ion-button>
</ion-footer>
