ion-content {
  --background: #000;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none; // NECESARIO PARA PINCH Y DRAG
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.1s linear;
  user-select: none;
  pointer-events: auto;
}
