<ion-header class="no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon style="color: black;" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: black;"></ion-title>

  
    <ion-buttons slot="end">
      <ion-button (click)="downloadDoc()">
        <ion-icon style="color: rgb(0, 65, 32);"  name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleZoom()">
        <ion-icon style="color: black;"  [name]="scale === 1 ? 'search-outline' : 'contract-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollY="false">
  <div class="img-wrapper"
       #imgContainer
       (wheel)="zoomWheel($event)"
       (dblclick)="onDoubleTap($event)">

    <img #imgEl 
         class="img"
         [src]="imgUrl"
         [style.transform]="'scale(' + scale + ') translate(' + posX + 'px,' + posY + 'px)'"
         (pointerdown)="startDrag($event)">
  </div>
</ion-content>
