<ion-header>
  <ion-toolbar color="light">
    <ion-title>Editar Acción</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label style="color: black;" position="stacked">Nombre (name)</ion-label>
    <ion-input style="color: black;" [(ngModel)]="action.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="color: black;" position="stacked">Descripción</ion-label>
    <ion-textarea style="color: black;" [(ngModel)]="action.description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label style="color: black;">Tipo de Respuesta (typeAns)</ion-label>
    <ion-select style="color: black;" [(ngModel)]="action.typeAns">
      <ion-select-option value="text">Texto</ion-select-option>
      <ion-select-option value="image">Imagen + Texto</ion-select-option>
      <ion-select-option value="location">Ubicación</ion-select-option>
      <ion-select-option value="buttons">Botones</ion-select-option>
      <ion-select-option value="btn_img">Imagen + Botones</ion-select-option>
      <ion-select-option value="notification">Notificación</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label style="color: black;" position="stacked">Texto de Respuesta</ion-label>
    <ion-textarea style="color: black;" [(ngModel)]="action.textAns"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label style="color: black;" position="stacked">URL Imagen</ion-label>
    <ion-input style="color: black;" placeholder="URL Imagen" [(ngModel)]="action.imgAns"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="color: black;" position="stacked">Menú (Menu JSON)</ion-label>
    <ion-textarea style="color: black;" [(ngModel)]="action.Menu"></ion-textarea>
  </ion-item>

  <ion-button expand="block" color="dark" class="ion-margin-top" (click)="guardar()">
   <b style="color: white;"> Guardar Cambios</b>
  </ion-button>

</ion-content>
