.custom-list {
    --ion-background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
  }
  .animated-button {
    animation: fadeInUp 0.6s ease-in-out;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px); /* Start 50px below */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End in normal position */
    }
  }
  .custom-item {
    margin-bottom: 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .icon-avatar {
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .type-icon {
    font-size: 1.8rem;
    color: #242424;
  }
  

     ion-content{
      --background: #ffffff;
    }