.search-bar {
    display: flex;
    align-items: center;
    background: #f1f3f5;
    border-radius: 12px;
    padding: 8px 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    margin-bottom: 16px;
  }
  
  .search-icon {
    font-size: 20px;
    margin-right: 8px;
    color: #666;
  }
  
  .custom-input {
    font-family: 'Questrial', sans-serif;
    font-weight: 500;
    font-size: 15px;
    --placeholder-color: #434343;
  }
  
  .suggestion-list {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background: white;
  }
  
  .suggestion-item {
    --background: #fff;
    --color: #333;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .suggestion-item:last-child {
    border-bottom: none;
  }
  
  .suggestion-text {
    white-space: normal;
    line-height: 1.4;
  }
  
  .tip-box {
  border-radius: 12px;
  background-color: #f1f5f9; /* Un gris claro, ajusta al color de tu tema */
  padding: 8px;
}

.tip-item {
  --padding-start: 0;
}

.tip-icon {
  font-size: 24px;
  color: #f59e0b; /* Amarillo suave */
  padding-right: 8px;
}
