<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
  <ion-back-button style="color: black;"></ion-back-button>
</ion-buttons>

    <ion-title>Respuestas Rapidas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCreatePrompt()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <ion-header collapse="condense">
    <ion-toolbar>
          <ion-buttons slot="start">
  <ion-back-button style="color: black;"></ion-back-button>
</ion-buttons>
      <ion-title size="large">Respuestas rapidas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="controls">
    <ion-searchbar placeholder="Buscar respuestas rápidas" [(ngModel)]="filterTxt" (ionInput)="applyFilter()"></ion-searchbar>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of displayedFastAns; let i = index; trackBy: trackByFn"
              class="fast-item fade-in"
              [style.animationDelay]="(i * 40) + 'ms'">

      <ion-icon slot="start" name="flame" class="flame"></ion-icon>

      <ion-label (click)="copyToClipboard(item.Src)" class="item-label">
        <div class="cmd">
          <span class="chip">{{ item.Cmd }}</span>
        </div>
        <div style="color: black;" class="src">{{ item.Src }}</div>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="openEditPrompt(item)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="confirmDelete(item)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="displayedFastAns.length === 0">
      <ion-label class="empty">
        No hay respuestas rápidas. Pulsa <b>+</b> para crear una.
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreatePrompt()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
