@media screen and (min-width: 1200px) {
  

    ion-content{
      --padding-start: 30%;
      --background: #181818;
      --padding-end: 30%;
    }
    ion-modal{
        width:1000px;
        height:700px
    }
    img{
      max-height: 220px;
      width: 100%;
    }
    }


    img{
      max-height: 420px;
      width: 100%;
    }
 
   
    .container {
      position: relative;
    }
    ion-col{
        background: #111;
    }
    .close-icon {
      position: absolute;
      top: 10px; /* Ajusta según sea necesario */
      left: 10px; /* Ajusta según sea necesario */
      font-size: 39px; /* Ajusta según sea necesario */
      color: rgb(246, 246, 246); /* O cualquier otro color deseado */
    }