

<ion-content [fullscreen]="true">
  <ion-toolbar class="headerPanel" mode="md" style="height: 60px;" color="light">
    <ion-buttons slot="start" style="margin-left: 10px;">
      
  
  </ion-buttons>


    <ion-title  style="color: #000000;font-style: italic;">
  <b>    Channel Manager System 1.3</b>

    </ion-title>

 
  
  
  
  <ion-buttons style="margin-right: 10px;" slot="end">
      <div class="project-name" style="letter-spacing: 2px;color: #0039a6;">
     {{this.currentBusiness}}
      </div>

  </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button style="color: rgb(0, 0, 0);" text="Atrás"  defaultHref="/inventario/{{this.currentBusiness}}"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-style: italic;">Gestionar Addons</ion-title>

  </ion-toolbar>
<ion-grid style="background: #fafafa;padding: 0px;">
<ion-row>
<ion-col [attr.size]="12"
[attr.size-md]="3.5">


  <ion-card  color="light" style="min-height: 500px; margin-inline: 5px; border-radius: 22px;">
    <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
      <ion-card-title style="font-size: 14px; font-weight: bold; text-align: center; color: #333;">
        Complementos para Productos
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="  background: #fff;  padding-inline-start: 0px;
    -webkit-padding-end: 0px;">
      <ion-searchbar
      placeholder="Buscar complemento..."
      (ionInput)="filtrarAddons()"
      debounce="300"
      [(ngModel)]="searchText"
      >
    </ion-searchbar>
    
      <ion-list *ngIf="addonsCopy.length === 0">
        <ion-item (click)="setCurrentSelectedAddon(item,i)" *ngFor="let item of addons; let i = index" lines="full">
          <ion-icon name="checkmark-circle" slot="start" style="color: green;"></ion-icon>
          <ion-label style="color: black;">
            <h2 style="font-weight: bold;font-size: 12px;color: #000;">{{item.nameTopping}}</h2>
            <p style="margin: 0;font-size: 12px;">Tipo: {{item.type}}</p>
            <p style="margin: 0;font-size: 12px;">Obligatorio: {{item.isMandatory}}</p>
            <p style="margin: 0;font-size: 12px;" *ngIf="item.type === 'increment'">Min: {{item.min || 0}} -  Max: {{item.max || 0}}</p>
          </ion-label>
          <ion-icon  name="copy" slot="end" color="primary" (click)="duplicarAddon(i)"
          style="cursor: pointer;margin-right: 10px;font-size: 17px;"></ion-icon>
          <ion-icon name="trash" slot="end" color="primary" (click)="removeTopping(i,item)"
           style="cursor: pointer;margin-right: 10px;font-size: 17px;"></ion-icon>
          <ion-icon name="create" slot="end" color="primary"
           (click)="editTopping(i)" style="cursor: pointer;font-size: 17px;"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="addonsCopy.length !== 0">
        <ion-item (click)="setCurrentSelectedAddon(item,item.indexProduct)" *ngFor="let item of addonsCopy; let i = index" lines="full">
          <ion-icon name="checkmark-circle" slot="start" style="color: green;"></ion-icon>
          <ion-label style="color: black;">
            <h2 style="font-weight: bold;color: #000;">{{item.nameTopping}}</h2>
            <p style="margin: 0;">Tipo: {{item.type}}</p>
            <p style="margin: 0;">Obligatorio: {{item.isMandatory}}</p>
            <p style="margin: 0;" *ngIf="item.type === 'increment'">Min: {{item.min || 0}} -  Max: {{item.max || 0}}</p>
          </ion-label>
          <ion-icon  name="copy" slot="end" color="primary" (click)="duplicarAddon(i)"
          style="cursor: pointer;margin-right: 10px;"></ion-icon>
          <ion-icon name="trash" slot="end" color="primary" (click)="removeTopping(i,item)"
           style="cursor: pointer;margin-right: 10px;"></ion-icon>
          <ion-icon name="create" slot="end" color="primary"
           (click)="editTopping(i)" style="cursor: pointer;"></ion-icon>
        </ion-item>
      </ion-list>
      <div style="text-align: center; margin-top: 20px;">
        <ion-button expand="block" color="dark" shape="round" style="border-radius: 30px; font-size: 16px; padding: 10px 20px;" 
        (click)="addComplemento()">
       <b style="font-size: 13px;font-style: italic;color: #ffffff;">   Crear Complemento</b>
        </ion-button>
      </div>

   
    </ion-card-content>
  
  </ion-card>
</ion-col>

  <ion-col [attr.size]="12"
  [attr.size-md]="8.5" *ngIf="enableShowToppings === true" >
    <ion-card color="light">
      <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
        <ion-card-title style="font-size: 18px; font-weight: bold; text-align: center; color: #333;">
          {{currentname}} - {{currenttype}} - {{currentmandatory}}
          <ion-icon name="save-outline" style="color: #007aff; font-size: 24px; position: absolute; right: 20px;"
           (click)="saveCustomizationChanges()"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <div style="padding: 20px;padding-bottom: 0px;padding-top: 0px;" >
      
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label style="color: black;" position="stacked">Nombre del complemento</ion-label>
      
                <ion-input [(ngModel)]="currentname"   (ionInput)="onInputChange($event)" placeholder="Agrega el nombre del complemento"></ion-input>
              </ion-item>
            </ion-col>
      
      
          </ion-row>
        </ion-grid>
      </div>
           <div style="padding: 20px;padding-bottom: 0px;padding-top: 0px;" >
      
      <ion-item *ngIf="currenttype !== 'increment'" lines="none">
        <ion-label style="color: black;" position="stacked">
            Min Multiple
        </ion-label>
      <ion-input style="margin-left: 10px;"  [(ngModel)]="minMultiple" (ionChange)="saveChangeMinMultiple($event)" > </ion-input>
</ion-item>
 <ion-item style="margin-top: 10px;" *ngIf="currenttype !== 'increment'" lines="none">
     <ion-label style="color: black;" position="stacked">
            Max Multiple
        </ion-label>
      <ion-input style="margin-left: 10px;" position="stacked"  [(ngModel)]="maxMultiple" (ionChange)="saveChangeMaxMultiple($event)" > </ion-input>
</ion-item>
           </div>
        <div style="padding: 20px;" *ngIf="currenttype === 'increment'">
          <ion-label style="color: black;" position="stacked">Seleccionar Mínimo o Máximo</ion-label>
        
          <ion-grid>
            <ion-row>
              <ion-col *ngIf="currentmandatory || !currentmandatory" size="6">
                <ion-item lines="none">
                  <ion-label position="stacked" style="color: black;">Mínimo de selecciones </ion-label>
                  <ion-input type="number" (ionInput)="onInputChangeSelectionsMin($event)" [(ngModel)]="minSelections" placeholder="Ingrese el mínimo"></ion-input>
                </ion-item>
              </ion-col>
        
              <ion-col *ngIf="!currentmandatory" size="6">
                <ion-item lines="none">
                  <ion-label position="stacked" style="color: black;">Máximo de selecciones</ion-label>
                  <ion-input type="number" (ionInput)="onInputChangeSelectionsMax($event)" [(ngModel)]="maxSelections" placeholder="Ingrese el máximo"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        
<div style="padding: 20px;" *ngIf="currenttype !== 'increment'">

    <ion-label position="stacked" style="color: black;">Seleccionar opción</ion-label>
    <ion-radio-group  style="margin-left: 30px;color: #000;" mode="md" [(ngModel)]="currenttype" (ionChange)="saveCurrent($event)">
      <ion-radio style="margin-left: 30px;color: #000;" value="single">Single</ion-radio>
      <ion-radio style="margin-left: 30px;color: #000;" value="multiple">Multiple</ion-radio>
    </ion-radio-group>


  </div>

      <ion-list>
        <ion-row *ngFor="let item of currentAddon.arrayToppings; let i = index">
    
          <ion-col size="4">
            <ion-item lines="none">
              <ion-label style="color: black;" position="stacked">Tipo</ion-label>
              <ion-input
                type="text"
                [value]="item.name"
                (ionChange)="updateItem(i, 'name', $event)"
                min="0">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-item lines="none">
              <ion-label style="color: black;" position="stacked">Precio</ion-label>
              <ion-input
                type="number"
                [value]="item.Precio"
                (ionInput)="updateItem(i, 'Precio', $event)"
                min="0">
              </ion-input>
            </ion-item>
          </ion-col>
          
          <ion-col size="2">
            <div style="text-align: center;">
              <ion-icon (click)="deleteItem(i)" name="trash" color="primary" style="margin-top: 35px;font-size: 20px;"></ion-icon>
              <ion-icon (click)="copyItem(i)" name="copy" color="primary" style="margin-left: 10px;margin-top: 35px;font-size: 20px;"></ion-icon>
           
            </div>
           
          </ion-col>
      
          <ion-col size="3">
            <ion-item lines="none">
              <ion-label position="stacked">Activo</ion-label>
              <ion-toggle
                [(ngModel)]="item.active"
                (ionChange)="toggleItemStatus(i, $event); saveCustomizationChanges()">
              </ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      <div style="margin-left: 20px; margin-bottom: 10px; padding: 20px;color: #000;">
        <u style="color: black;" (click)="addItem()">Agregar Opción</u>
      </div>
    </ion-card>
    

  </ion-col>
</ion-row>

</ion-grid>

</ion-content>




  <!--
  
       <ion-col  size="{{sizeComplementosList}}"  style="display: none;">
        <ion-card style="min-height: 500px; border-radius: 22px;" >      
          <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
            <ion-card-title style="font-size: 16px; font-weight: bold; text-align: center; color: #333;">
            Complementos
              <ion-icon 
                name="add-circle-outline" 
                style="color: #007aff; font-size: 24px; position: absolute; right: 1px;" 
                (click)="showToppingCard()">
              </ion-icon>
              <ion-icon 
              name="close-circle-outline" 
              style="color: #007aff; font-size: 24px; position: absolute; left: 1px;" 
              (click)="cancelComplementosProduct()">
            </ion-icon>

            </ion-card-title>
          </ion-card-header>

          <ion-card-content style="padding: 0px;">
                 
            <div style="text-align: center; margin-top: 20px;">
              <ion-button 
                expand="block" 
                color="primary" 
                shape="round" 
                style="border-radius: 30px; font-size: 16px; padding: 10px 20px;" 
                (click)="showToppingCard()">
                Agregar Complemento
              </ion-button>
            </div>
      
            <ion-card *ngIf="selectedProduct.toppings && selectedProduct.toppings.length > 0">
              <ion-card-header>
                <ion-card-title style="font-size: 24px; font-weight: bold;">Complementos del Producto</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <ion-list>
                  <ion-item *ngFor="let item of selectedProduct.toppings; let i = index" lines="full">
                    <ion-icon name="checkmark-circle" slot="start" style="color: green;"></ion-icon>
                    <ion-label>
                      <h2 style="font-weight: bold;">{{item.nameTopping}}</h2>
                      <p style="margin: 0;">Tipo: {{item.type}}</p>
                    </ion-label>
                    
                    <ion-icon name="trash" slot="end" color="danger" (click)="removeTopping(i)" style="cursor: pointer;"></ion-icon>
                
                    <ion-icon name="create" slot="end" color="primary" (click)="editTopping(i)" style="cursor: pointer;"></ion-icon>
                  </ion-item>
                </ion-list>
                
                
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="{{sizeComplementosCreate}}" style="display: none;" >
        <ion-card style="min-height: 500px;margin-inline: 5px; border-radius: 22px;" *ngIf="selectedProduct">
          <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
            <ion-card-title style="font-size: 18px; font-weight: bold; text-align: center; color: #333;">
              Complementos del Producto
              <ion-icon 
                name="save-outline" 
                style="color: #007aff; font-size: 24px; position: absolute; right: 20px;" 
                (click)="saveCustomizationChanges()">
              </ion-icon>
              <ion-icon 
              name="close-circle-outline" 
              style="color: #007aff; font-size: 24px; position: absolute; left: 20px;" 
              (click)="cancelComplementosAddProduct()">
            </ion-icon>

            </ion-card-title>
          </ion-card-header>
          <ion-card style="display: none;">
       
            <ion-card-header >
              <ion-card-title>Complementos Sugeridos</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let topping of suggestedToppings">
                  <ion-label>{{ topping.nameTopping }}</ion-label>
                  <ion-label slot="end">{{ topping.type }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card-header>
            <ion-card-title style="font-size: 20px;">Personalizar Toppings
              <ion-icon name="save-outline" style="color: black;margin-left: 40px;" 
              (click)="editProduct(selectedCategory1.name)">
              </ion-icon>
              <ion-icon name="close-outline" style="color: black;margin-left: 40px;" 
              (click)="cancelTopping()">
              </ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
      
            <ion-button expand="full" (click)="saveCustomizationChanges()">Guardar Cambios</ion-button>

              <form [formGroup]="customizationForm" (ngSubmit)="onSubmit()">
                <ion-item lines="none">
                  <ion-label position="stacked">
                    Variantes/Nombre de complemento <span class="error-star">*</span>
                  </ion-label>
                  <ion-input [(ngModel)]="complemento" formControlName="customisation_name" maxlength="30"></ion-input>
                </ion-item>
     
            
                <ion-radio-group [(ngModel)]="typeComplemento" mode="md" (ionChange)="onTypeComplementoChange($event)">
                  <ion-item (click)="single()">
                    <ion-label>Single Select</ion-label>
                    <ion-radio id="singleRadio" slot="start" value="single"></ion-radio>
                  </ion-item>
                  <ion-item >
                    <ion-label>Multi Select</ion-label>
                    <ion-radio id="multiRadio" slot="start" value="multi"></ion-radio>
                  </ion-item>
                </ion-radio-group>
                
                
             
            
                <div>
             
            
                  <ion-button expand="full" (click)="addItem()">Agregar Opción</ion-button>
                </div>
            
              </form>
              <ion-list>
                <ion-row *ngFor="let item of items; let i = index">
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="stacked">Tipo</ion-label>
                      <ion-input
                        type="text"
                        [value]="item.name"
                        (ionChange)="updateItem(i, 'name', $event)"
                        min="0">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="3">
                    <ion-item>
                      <ion-label position="stacked">Precio</ion-label>
                      <ion-input
                        type="number"
                        [value]="item.Precio"
                        (ionChange)="updateItem(i, 'Precio', $event)"
                        min="0">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
  -->
