

<ion-header *ngIf="imgSys" mode="ios">
  
  <ion-grid style=" margin-top: -1px;   margin-bottom: -1px;
  margin-left: -8px;display: none;
  margin-right: -12px;">
    <ion-row>
   
      <ion-col size-lg="7" size="12">
        <ion-toolbar  style="--background: #202329;" mode="md">

          <ion-buttons slot="start" >
            <ion-button>
             
              <ion-avatar style="height: 30px; width: 30px;" slot="start" >
                <img src="https://w7.pngwing.com/pngs/806/991/png-transparent-logo-logo-whatsapp-logo-text-trademark-sticker-thumbnail.png">
             </ion-avatar>
            </ion-button>
          
          </ion-buttons>
        
         
      
      
      
        


          <ion-buttons (click)="searchComponent()" style="padding-right:8px" slot="end" >
            <ion-button>
              <ion-icon name="search" >
              
              </ion-icon>
                    </ion-button>
          </ion-buttons>

          <ion-buttons style="padding-right:10px" slot="end" >
            <ion-button>
              <ion-icon name="ellipsis-vertical" >
              
              </ion-icon>
                    </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size-lg="5" size="0">
        <ion-toolbar  style="--background: #202329;" mode="md">

          <ion-buttons slot="start" >
            <ion-button>
              <ion-avatar style="height: 33px; width: 36px;">
      
                <img id="imagenProfile"src="../../assets/icon/icon-512x512.png" alt="Snow" >
      
              </ion-avatar>
        
            </ion-button>
          
          </ion-buttons>
        
      
      
      
        
          <ion-title style="font-size: 20px;font-weight: bold;"> Menu de opciones
             <img (click)="showToast('Perfil verificado manualmente por un Auditor.')" 
             src="../../../assets/icon/verified.png" 
             width="14px"> 
            </ion-title>
       

          <ion-buttons (click)="searchComponent()" style="padding-right:3px" slot="end" >
            <ion-button>
              <ion-icon name="search" >
              
              </ion-icon>
                    </ion-button>
          </ion-buttons>

          <ion-buttons  slot="end">
            <ion-button>
      <ion-icon name="bookmark-outline">
      
      </ion-icon>
            </ion-button>
          
          </ion-buttons>

          
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-toolbar  style="--background: #202329;" mode="md">
         
    <ion-buttons  style="padding-left:0px; width: 30px;" (click)="navConver()"
     style="--padding-end:16px" slot="start">
<ion-button>
  <ion-icon name="arrow-back">

  </ion-icon> 
</ion-button>
 
  
  
    </ion-buttons>
    <ion-buttons (click)="navConver()" slot="start" >
      <ion-button>
       
        <ion-avatar style="height: 28px; width: 28px;" slot="start" >
          <img src="https://cdn-icons-png.flaticon.com/512/4159/4159471.png">
       </ion-avatar>
      </ion-button>
    
    </ion-buttons>
  
    <ion-buttons style="display: none;" slot="end">
      <ion-button>
<ion-icon name="play">

</ion-icon>
      </ion-button>
    
    </ion-buttons>


    <ion-buttons style="display: none;" slot="end">
      <ion-button>
<ion-icon name="ellipsis-vertical">

</ion-icon>
      </ion-button>
    
    </ion-buttons>

<!--REALTITLE-->
  
    <ion-title (click)="viewProfile()" style="font-size: 12px;font-weight: bold;">{{this.NameReceptor}}<br>  ({{this.uidtipster}})<br>
   

</ion-title>
<ion-buttons (click)="tagsComponent()" style="padding-right:8px" slot="end">
  <ion-button>
<ion-icon name="bookmark">
</ion-icon>
  </ion-button>
</ion-buttons>
    <ion-buttons (click)="searchComponent()" style="padding-right:8px" slot="end" >
      <ion-button>
        <ion-icon name="search" >
        
        </ion-icon>
              </ion-button>
    </ion-buttons>

    <ion-buttons style="padding-right:6px" slot="end" >
      <ion-button>
        <ion-icon name="ellipsis-vertical" >
        
        </ion-icon>
              </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>











  
  <ion-content>

    <ion-grid style="height: 100%;">
      <div style="text-align: center;width: 100%;">
        <div class="tagTop">
        
          <b  *ngIf="statusIntervention === true"
          style="color: #c3c3c3;font-size: 10px;">
         (Conversación intervenida)
       </b>
        </div>
      </div>
      <div style="text-align: center;width: 100%;" *ngIf="answerFast">

      <div class="tagBottom" 
  
      style="background: #131313;color: white;padding: 10px;
     border-radius: 14px;">
        <div style="max-height: 170px; overflow-y: scroll;"> <!-- Ajusta max-height según tu necesidad -->
   
    <ion-item *ngFor="let item of arrayFastAns" (click)="setFastAnswer(item.Src)" color="dark">
      <ion-icon name="flame" slot="start" style="font-size: 18px;color: rgb(255, 136, 0);margin-inline: 5px;">

      </ion-icon>
      <ion-label style="font-size: 10px;height: 40px;"><br>
        <b style="font-size: 9px;padding-left: 6px;padding-right: 6px;padding-top: 1px;padding-bottom: 1px;
        background: #421c88;border-radius: 14px;">{{item.Cmd}}</b><br>
        {{item.Src}}
        </ion-label>
    </ion-item>

  </div>
</div>
</div>
    
    
      <ion-row style="height: 100%;">o
        <ion-col  size-lg="12" size="12">
          <ion-content style="width:100%;height: 100%; " [scrollEvents]="true"
           (ionScroll)="logScrolling($event)"
           [hidden]="Nothing" #content >
  
            <ion-grid>
            <ion-row>
           
          
              <ion-col  size="12" size-md="12">
            
                
            <ion-list style="background: rgba(253, 228, 228, 0);" lines="none" >
            <!--
            
              <div class="speech-wrapper" *ngFor="let message of conversations">
                <div class="bubble" *ngIf="message.Me === false && message.Type === 'text'">
                  <div class="txt">
                    <p class="name">Benni</p>
                    <p class="message"> {{message.Msg}}</p>
                    <span class="timestamp"> {{message.Hr}}</span>
                  </div>
                  <div class="bubble-arrow"></div>
                </div>
            
                <div *ngIf="message.Me === true && message.Type === 'text'" class="bubble alt" >
                  <div class="txt">
                    <p class="name alt">+353 87 1234 567<span> ~ John</span></p>
                    <p class="message">Nice... this will work great for my new project.</p>
                    <span class="timestamp">10:22 pm</span>
                  </div>
                  <div class="bubble-arrow alt"></div>
                </div>
              </div>
          
              
          
          
                          BOT CENTER TYPE MESSAGE SENDER
            -->
            <div class="speech-wrapper" *ngFor="let message of conversations; let i = index; let last = last">
          
             
              <div appPress
              (press)="onPress($event, message)" class="bubble altfrom" *ngIf="message.to === this.phoneNumberAdmin" >
                <div  class="ion-activatable ripple-parent rounded-rectangle">
                  
                  <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
                <div class="txt">
                  <p class="name">
                   <span>
                    <div *ngIf="processEnable && i === conversations.length-1" style="font-size: 7px;width: 20px;display: inline;padding:-left 5px;padding:-right 5px;padding: 3px; background: #181818;border-radius: 6px;color: rgb(101, 226, 149);" > (Proceso Activo)</div> </span>  </p>
                    
                    <p  class="message" *ngIf="message.type === 'text' || message.type === 'template' || message.type === 'interactive'">
                      <span class="text" [innerHTML]="formatTextoToppings(message.interactive.body.text)">{{message.interactive.body.text}}</span>
                      <span class="time" *ngIf="this.fechaActual === message.fecha">{{message.tstlast}}</span>
                      <span class="time" *ngIf="this.fechaActual !== message.fecha">{{message.fecha}} {{message.tstlast}}</span>
                  </p>
                  <ion-grid *ngIf="message.type === 'audio'">
                    <ion-row >
                    
                      <ion-col  size="12">
                        <audio controls>
                          <source src="{{message.interactive.body.text}}" type="audio/mpeg">
                         
                      </audio>
                <p class="message">
                <span class="time" *ngIf="this.fechaActual === message.fecha">{{message.tstlast}}</span>
                <span class="time" *ngIf="this.fechaActual !== message.fecha">{{message.fecha}} {{message.tstlast}}</span>
    
              </p>
                        </ion-col>
                  
                  
                    </ion-row>
                    
                    </ion-grid>
                  <ion-grid *ngIf="message.type === 'sticker'">
                    <ion-row  style="height: 100%;">
                   <ion-col style="height: 100%;"  size="12">
                    <div style="text-align: left;width: 100%;">

               
               <p class="message">
               <img style="height: 120px;width: 120px;" (click)="openImg(message.interactive.body.text)" src="{{message.interactive.body.text}}" >

                <span class="time" *ngIf="this.fechaActual === message.fecha">{{message.tstlast}}</span>

                <span class="time" *ngIf="this.fechaActual !== message.fecha">{{message.fecha}} {{message.tstlast}}</span>     

               </p>
              </div>
                        </ion-col>
                  
                  
                    </ion-row>
                    
                    </ion-grid>
                      <ion-grid *ngIf="message.type === 'image'">
                        <ion-row  style="height: 100%;">
                       <ion-col style="height: 100%;"  size="12">
                        <div style="text-align: center;width: 100%;">
                          <img (click)="openImg(message.interactive.body.text)" src="{{message.interactive.body.text}}" >

                        </div>
                    
                            </ion-col>
                      
                      
                        </ion-row>
                        
                        </ion-grid>
                        <ion-grid *ngIf="message.type === 'document'">
                          <ion-row  style="height: 100%;">
                         <ion-col style="height: 100%;"  size="12">
                          <div style="text-align: center;width: 100%;">
                            <img (click)="goDoc(message.interactive.body.text)"
                             src="https://play-lh.googleusercontent.com/dl4ZuJhfD5xR9m2H-oZ9UcLZwYmGpmWMurPrvTiN831ZWLia9NbrYurXV-32wtOzPmM5" >
                            <br>{{message.interactive.body.fpath}}
                            
                          </div>
                      
                              </ion-col>
                        
                        
                          </ion-row>
                          
                          </ion-grid>

                        <ion-grid *ngIf="message.TypeRS === 'URL'">
                          <ion-row >
                          
                            <ion-col (click)="downloadDoc(message.Src)" size="12">
                              
               <u style="color: rgb(59, 182, 100);font-size: 16px;">       <a style="color: rgb(87, 207, 161);" href="{{message.Src}}" >{{message.Src}} </a></u>
          
                              </ion-col>
                        
                        
                          </ion-row>
                          
                          </ion-grid>
            
                        <ion-grid style="margin-top: 5px;" *ngIf="message.TypeRS === 'DATE'">
                          <ion-row >
                          
                            <ion-col size="12">
                              <div (click)="selectDate()" class="bubbleTags">
                                <ion-row>
                                  <ion-col size="9">
                                    <div style="text-align: right;color: white;font-size: 18px;">
                                      Seleccionar fecha
          
                                    </div>
                                  </ion-col>
                                  <ion-col size="3">
                                    <div style="text-align: center;">
                                      <ion-icon name="calendar-outline" style="font-size:20px"></ion-icon>
                                    
                                    </div>
          
                                  </ion-col>
                                </ion-row>
          
                              </div>
                              </ion-col>
                        
                        
                          </ion-row>
                          
                          </ion-grid>
          
        
            
                            <ion-grid style="margin-top: 5px;" *ngIf="message.TypeRS === 'LOCATIONS'">
                              <ion-row >
                              
                                <ion-col size="12">
                                  <div style="text-align: center;color: rgb(134, 134, 134);border-radius: 4px;border-style: solid; border-width: 0.1px;">
                                    <img style="width: 100%;height: 90px;" src="https://t.ctcdn.com.br/Bj1MGY6EiN9jg_PJCRamlOLJoV4=/512x288/smart/filters:format(webp)/i381158.jpeg" >
                                    <b style="color: white;">Ubicación</b>
                                  </div>
                                  </ion-col>
                            
                            
                              </ion-row>
                              
                              </ion-grid>
          
                              
                            <ion-grid style="margin-top: 7px;" *ngIf="message.TypeRS === 'DOCUMENTS'">
                     
                              <ion-row style="text-align: center;color: rgb(134, 134, 134);border-radius: 4px;border-style: solid; border-width: 0.1px;background: rgb(77, 77, 77);">
                              <!-- Using the original name for the downloaded file -->
          
                                <ion-col (click)="downloadDoc(message.Src)" size="4">
                                  <div style="padding: 5px;">
                                    <img style="width: 50px;height: 50px;" src="https://cdn-icons-png.flaticon.com/512/9502/9502265.png" >
                                   
                                  </div>
                                  </ion-col>
                                  <ion-col (click)="downloadDoc(message.Src)" size="8">
                                    <div style="margin-top:10%">
                                      <b style="color: white;">catalogo.pdf</b>
                                      <b style="color: rgb(206, 221, 66);">Enlace de descarga</b>
                                    </div>
                                    </ion-col>
                            
                            
                              </ion-row>
                              
                              </ion-grid>
                              
                         
                        
                  <span class="timestamp">{{message.Hour}}</span>
            
                </div>
                <div class="bubble-arrowaltfrom"></div>
          
          
              </div>
              </div>
          
              <!--  Speech Bubble admin -->
              <div class="bubble alt"  appPress
              (press)="onPress($event, message)"  *ngIf="message.to !== this.phoneNumberAdmin">
                <div class="ion-activatable ripple-parent rounded-rectangle">
                  <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
              
                <div class="txt" style="color: white;">
                  <p class="message" *ngIf="message.type === 'audio'">
                    <span class="text" [innerHTML]="formatTextoToppings(message.interactive.body.text)">{{message.interactive.body.text}}</span>
                    <span class="time" >{{message.tstlast}}
                      <ion-icon *ngIf="'read' === message.st" style="color: rgb(44, 211, 253);font-size: 13px;" name="checkmark-done"></ion-icon>
                      <ion-icon *ngIf="'delivered' === message.st" style="color: rgb(199, 199, 199);font-size: 13px;" name="checkmark-done"></ion-icon>
                      <ion-icon *ngIf="'sent' === message.st" style="color: rgb(189, 189, 189);font-size: 13px;" name="checkmark"></ion-icon>
                  
  
                    </span>
                 
                </p>

                <p class="message" *ngIf="message.type === 'text' || message.type === 'template' || message.type === 'interactive'">
                  <span class="text" [innerHTML]="formatTextoToppings(message.interactive.body.text)">{{message.interactive.body.text}}</span>
                  <span class="time" >{{message.tstlast}}
                    <ion-icon *ngIf="'read' === message.st" style="color: rgb(44, 211, 253);font-size: 13px;" name="checkmark-done"></ion-icon>
                    <ion-icon *ngIf="'delivered' === message.st" style="color: rgb(199, 199, 199);font-size: 13px;" name="checkmark-done"></ion-icon>
                    <ion-icon *ngIf="'sent' === message.st" style="color: rgb(189, 189, 189);font-size: 13px;" name="checkmark"></ion-icon>
                

                  </span>
               
              </p>
              <ion-grid *ngIf="message.type === 'sticker'">
                <ion-row >
                
                  <ion-col  size="12">
                    
            <img style="width: 50px;height: 50px;" (click)="openImg(message.interactive.body.text)" src="{{message.interactive.body.text}}" >
            <p class="message">
            <span class="time" *ngIf="this.fechaActual === message.fecha">{{message.tstlast}}</span>
            <span class="time" *ngIf="this.fechaActual !== message.fecha">{{message.fecha}} {{message.tstlast}}</span>

            {{message.txt}}
          </p>
                    </ion-col>
              
              
                </ion-row>
                
                </ion-grid>
                <ion-grid *ngIf="message.type === 'location'">
                  <ion-row>
                  
                    <ion-col size="12">
                      <ion-row>
                        <ion-col size="2">
                          <ion-icon name="share-social" 
                           (click)="shareGralLoc(message.lat,message.lng)"
                           style="color: white;font-size: 25px;margin-top: 30px;">
                          
                          
                          </ion-icon>

                        </ion-col>
                        <ion-col  size="10">
                          <img style="max-height: 350px;" (click)="openImg(message.interactive.body.text)"
                          src="https://img.freepik.com/premium-vector/gps-pins-blue-color-showing-map-street-dark-tone_99087-84.jpg" >
                    
                        </ion-col>
                      </ion-row>
                      
             <p class="message">
            <a style="color: rgb(238, 238, 238);" href="https://www.google.com/maps?q={{message.lat}},{{message.lng}}">
              https://www.google.com/maps?q={{message.lat}},{{message.lng}}
            </a>    

              <span class="time" *ngIf="this.fechaActual === message.fecha">

                <ion-icon *ngIf="'read' === message.st" style="color: rgb(44, 211, 253);font-size: 12px;" name="checkmark-done"></ion-icon>
                <ion-icon *ngIf="'delivered' === message.st" style="color: rgb(199, 199, 199);font-size: 12px;" name="checkmark-done"></ion-icon>
                <ion-icon *ngIf="'sent' === message.st" style="color: rgb(189, 189, 189);font-size: 12px;" name="checkmark"></ion-icon>



              </span>
              <span class="time" *ngIf="this.fechaActual !== message.fecha">{{message.fecha}} {{message.tstlast}}</span>

              {{message.txt}}
            </p>
                      </ion-col>
                
                
                  </ion-row>
                  
                  </ion-grid>
                  <ion-grid *ngIf="message.type === 'image'">
                    <ion-row >
                    
                      <ion-col  size="12">
                        
                <img style="max-height: 350px;" (click)="openImg(message.interactive.body.text)" src="{{message.interactive.body.text}}" >
                <p class="message">
                <span class="time" *ngIf="this.fechaActual === message.fecha">{{message.tstlast}}
                  <ion-icon *ngIf="'read' === message.st" style="color: rgb(44, 211, 253);font-size: 12px;" name="checkmark-done"></ion-icon>
                  <ion-icon *ngIf="'delivered' === message.st" style="color: rgb(199, 199, 199);font-size: 12px;" name="checkmark-done"></ion-icon>
                  <ion-icon *ngIf="'sent' === message.st" style="color: rgb(189, 189, 189);font-size: 12px;" name="checkmark"></ion-icon>



                </span>
                <span class="time" *ngIf="this.fechaActual !== message.fecha">{{message.fecha}} {{message.tstlast}}</span>

                {{message.txt}}
              </p>
                        </ion-col>
                  
                  
                    </ion-row>
                    
                    </ion-grid>
                    <ion-grid *ngIf="message.type === 'document'">
                      <ion-row >
                      
                        <ion-col  size="12" size-md="12">
              <img (click)="goDoc(message.interactive.body.text)" src="https://play-lh.googleusercontent.com/dl4ZuJhfD5xR9m2H-oZ9UcLZwYmGpmWMurPrvTiN831ZWLia9NbrYurXV-32wtOzPmM5" >
      
                 <p class="message" >
                <span class="time" *ngIf="this.fechaActual === message.fecha">{{message.tstlast}}</span>
                  <span class="time" *ngIf="this.fechaActual !== message.fecha">{{message.fecha}} {{message.tstlast}}</span>
                {{message.interactive.body.fpath}}
  
                  {{message.txt}}
                </p>
                          </ion-col>
                    
                    
                      </ion-row>
                      
                      </ion-grid>
                

                  <span class="timestamp">{{message.Hour}}</span>
                </div>
                <div class="bubble-arrow alt"></div>
          
              </div>
            </div>
       <div #bottom *ngIf="last"></div>
            </div>
          
            
            
            </ion-list>
            
            
            
              </ion-col>
          
        
            </ion-row>
            
            </ion-grid>
          
            <ion-fab *ngIf="scrollDepthTriggered" slot="fixed" vertical="bottom" horizontal="end" >
              <ion-fab-button id="systemSendMsg" style="width: 35px;height: 35px;" 
              color="danger" (click)="ScrollToBottom()">
                <ion-icon style="font-size: 26px;" name="chevron-down-circle-outline"></ion-icon>
              </ion-fab-button>
            
            </ion-fab>
          
            <ion-fab *ngIf="this.arrayCartWpp.length !== 0" class="my-button" slot="fixed" 
            vertical="bottom" horizontal="end" style="margin-bottom: 45px;">
              <ion-fab-button id="systemSendMsg"  
              color="danger" (click)="showCartModal()">
                <ion-icon style="font-size: 16px;margin-left: 0px;" name="bag-handle-outline"></ion-icon>
                 <b style="font-size: 12px;margin-left: 2px;width: 5px;--padding-start:3px">{{this.arrayCartWpp.length}}</b>
            
              </ion-fab-button>
            
            </ion-fab>

          
              <!-- Using a custom name for the downloaded file -->
            
            <div *ngIf="showLoading" style="z-index: 999999; position: relative;background: rgb(24, 24, 24);width: 50px;left: 10%;border-radius: 9px; text-align: center;margin-bottom: 5px; ">
              <ion-spinner color="danger" name="dots"></ion-spinner>
          
            </div>
          
          
            </ion-content >
        </ion-col>
        <ion-col *ngIf="!isMobileResolution" size-lg="4" size="0">
          <ion-content style="width: 100%;height: 100%;">
            <ion-list lines="full">
              <ion-item color="dark">
                <ion-icon slot="start" name="person-add-outline"></ion-icon>
                <ion-label>Agregar Contacto</ion-label>
              </ion-item>
              <ion-item (click)="intervenir()" color="dark">
                <ion-icon slot="start" class="blink" name="chatbubbles-outline"></ion-icon>
                <ion-label >Intervenir conversación <b  *ngIf="statusIntervention === true"
                   style="color: #57c7af;">
                  Interviniendo
                </b>
                <b *ngIf="statusIntervention === false" style="color: #dd4e3b;">
                  Desactivado
                </b>
              </ion-label>
              </ion-item>
          
              <ion-item color="dark">
                <ion-icon slot="start" name="calendar-outline"></ion-icon>
                <ion-label>Programar Mensaje</ion-label>
              </ion-item>

              <ion-item color="dark">
                <ion-icon slot="start" name="document-text-outline"></ion-icon>
                <ion-label>Agregar Nota</ion-label>
              </ion-item>

              <ion-item color="dark">
                <ion-icon slot="start" name="mail-outline"></ion-icon>
                <ion-label>Programar Correo Electrónico</ion-label>
              </ion-item>
      
              <ion-item color="dark">
                <ion-icon slot="start" name="heart-outline"></ion-icon>
                <ion-label>Categoria de contacto</ion-label>
              </ion-item>

              <ion-item color="dark">
                <ion-icon slot="start" name="pricetag-outline"></ion-icon>
                <ion-label>Enviar Ofertas y Descuentos</ion-label>
              </ion-item>

              <ion-item color="dark">
                <ion-icon slot="start" name="help-circle-outline"></ion-icon>
                <ion-label>Enviar plantilla de mensaje</ion-label>
              </ion-item>

           
          
       
              <ion-item color="dark">
                <ion-icon slot="start" name="location-outline"></ion-icon>
                <ion-label>Ubicaciónes</ion-label>
              </ion-item>
     
              <ion-item color="dark">
                <ion-icon slot="start" name="settings-outline"></ion-icon>
                <ion-label>Configuración de Usuario</ion-label>
              </ion-item>
         
             
        
            </ion-list>
          </ion-content>
              </ion-col>
      </ion-row>

  
      
    </ion-grid>
  

  </ion-content>
  











  <div style="z-index:99999999999; position: relative;
  height: 100%;width: 100%;text-align: center;display: none;background:#202329"
   id="backgroundCrop">
    
    <ion-grid style="margin-top: 10px;margin-bottom: 10px">
      <ion-row>
        <ion-col size="2">
          <ion-icon (click)="closeImgSys()" style="font-size: 25px;" name="close">

          </ion-icon>
        </ion-col>
        <ion-col size="2">

        </ion-col>
        <ion-col size="2">

        </ion-col>
        <ion-col size="2">

        </ion-col>
        <ion-col size="2">
   
        </ion-col>
        <ion-col size="2">
          <ion-icon (click)="cropImg()" style="font-size: 25px;" name="crop">

          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <img src="{{this.src}}"  *ngIf="typePublicacion === 'IMG' && croppedImage.length < 100 || this.imgCropBoolean === true" />
    <img src="{{this.croppedImage}}"  id="imagenProfile2" [ngStyle]="{'max-height': this.HeightDevice+'px'}" style="width: 100%;" *ngIf="this.imgCropBoolean === false" />
  



    <div *ngIf="this.imgCropBoolean === true" style="padding-left: 12%; padding-right: 5%;">

 
  <!-- <image-cropper
    #cropper
    
    [imageBase64]="img"
    [maintainAspectRatio]="false"
    [aspectRatio]="4 / 3"
    format="png"
    [ngStyle]="{'max-height': this.HeightDeviceCrop+'px'}"
     
    [autoCrop]="false"
    (imageCropped)="imageCropped($event)"
    (loadImageFailed)="loadImageFailed()"
    (imageLoaded)="imageLoaded()"
  >


</image-cropper> -->

<ion-button expand="full" color="success" (click)="cropImage()" *ngIf="this.imgCropBoolean === true" >
  Recortar
</ion-button>
 
</div>



  </div>

  


  


  <ion-footer >
   
    <div class="price-container" *ngIf="showingAns === true">
      <div class="price-tag" (click)="setDiagonal()"> <ion-icon name="flash" style="font-size: 12px;color: yellow;"></ion-icon> Respuestas rapidas</div>
      <div class="price-tag" (click)="crearPedido()"><ion-icon name="color-wand" style="font-size: 12px;color: rgb(255, 121, 43);"></ion-icon> Crear pedido</div>
      <div class="price-tag" (click)="sendImgMenu()"><ion-icon name="newspaper" style="font-size: 12px;"></ion-icon> Enviar menu</div>
     
  </div>
    <div style="text-align: center;" class="digitalists" *ngIf="digitalist">
      <div style="text-align: center;width: 100%;">
        <ion-grid style="background: #202329;">
          <ion-row>
            <ion-col size="4.5">
              <div style="text-align: left;color: rgb(167, 243, 186);padding: 7px;font-size: 14px;
              font-weight: bold; margin-left: 5px;"> 
                Digitalizar pedido
              </div>
            </ion-col>
            <ion-col size="5.5" style="background: #202329;">
              <div *ngIf="this.precio !== 0" (click)="finalizarPedido()" style="color: white;font-size: 10px;border-radius: 40px;background: #1baa8b;padding: 5px;margin-top: 3px;font-weight: bold;">
                Finalizar pedido x ${{this.precio+this.costoEnvio}}
              </div>
            </ion-col>
            <ion-col (click)="hideCreatePedido()" size="2" style="background: #202329;">
              <ion-icon style="font-size:28px;color:#f18476;" name="close-circle-outline">

              </ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
     
      </div>

      <div style="font-size: 12px;height: 20px;">
        <ion-grid>
          <ion-row>

            <ion-col size="2">
              <ion-checkbox mode="md" [(ngModel)]="isFeatureEnabled" (ionChange)="toggleFeature()"></ion-checkbox>
    
            </ion-col>
            <ion-col size="10">
              <div style="text-align: left;color: white;">
                Activar descuentos
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
     
      </div>


      <div style="font-size: 12px;color: white;">
        Costo envio: ${{this.costoEnvio}}   (Suc. {{this.suc}})
      </div>
      <div style="height: 130px; width: 100%;overflow: auto;  overflow: auto;
      white-space: nowrap;margin-top: 10px;-webkit-overflow-scrolling: touch;" >
     
          <div (click)="getDetailsItem(item)" *ngFor="let item of menuPromociones; let xi = index" 
          
           style="color: white;display: inline-block;margin-left: 15px;"  >
            <!-- Contenido de tu elemento aquí -->
        
    <div  class="contenedor-imagen">
      <img style="min-width: 90px;min-height: 90px;
      max-width: 90px;max-height: 90px;border-radius: 15px;"
       src="{{item.Img}}" alt="Descripción de la imagen">
      <div class="texto-superpuesto">
        {{item.Disc}}% Descuento
      </div>
    </div>
    
         <div   style="padding: 1px;font-weight:bold;
         text-align: center;">
          <div style="font-size: 12px;color: rgb(255, 255, 255);">
            {{item.Nombre}}
          
          </div>
      
        <div style="font-size: 13px;color: rgb(99, 226, 167);"> ${{item.DescFinal}} MXN</div> 
      
    <!-- <div style="text-align: center;display: none;">
<ion-button expand="full" shape="round" style="height: 20px;">
  <b style="font-size: 12px;">Agregar</b> 
</ion-button>
    </div> -->
 

          <ion-row>

  </ion-row>

 
         </div>   
     
        
         
          </div>
     </div>
     <div (click)="textComponent('Agregar una nota')" style="text-align: center;font-size: 10px;">
  <ion-item color="dark">
    <ion-label style="font-size: 12px;color: white;">
     <b> Dirección:</b> <br>{{this.ubicacion}}<br>

      </ion-label>

  </ion-item>

    </div>
    <div  style="text-align: center;font-size: 11px;">
      
      <ion-item *ngIf="payMeth === 'Pago en Efectivo'"  color="dark">
        <ion-label (click)="textComponent('Cuanto paga')" style="font-size: 12px;color: white;">
          Cuanto paga: <b style="color: rgb(86, 194, 158);font-size: 14px;">${{this.cuantoPaga}}</b>
        </ion-label>
      <ion-icon (click)="textComponent('Cuanto paga')" name="create-outline" style="color: white;font-size: 17px;"></ion-icon>
     
   
      </ion-item>
      <ion-item color="dark" *ngIf="payMeth === 'Pago en Efectivo'">
        <ion-chip (click)="setCuantoPaga('Exacto')" color="success"
        style="--background: rgb(0, 165, 69)11;color: white;font-size: 14px;">
         Exacto
       </ion-chip>
       <ion-chip (click)="setCuantoPaga('500')" color="success" style="--background: rgb(0, 165, 69)11;color: white;">
        500
      </ion-chip>
      <ion-chip (click)="setCuantoPaga('300')" color="success" style="--background: rgb(0, 165, 69)11;color: white;">
        300
      </ion-chip>
     <ion-chip (click)="setCuantoPaga('200')" color="success" style="--background: rgb(0, 165, 69)11;color: white;">
       200
     </ion-chip>
     <ion-chip (click)="setCuantoPaga('150')" color="success" style="--background: rgb(0, 165, 69)11;color: white;">
       150
     </ion-chip>
     <ion-chip (click)="setCuantoPaga('100')" color="success" style="--background: rgb(0, 165, 69)11;color: white;">
       100
     </ion-chip>
      </ion-item>
    </div>


    <ion-radio-group>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-item lines="none" (click)="setPayMeth('Pago en Efectivo')" color="dark">
        <ion-label style="font-size: 13px;color: white;">Efectivo</ion-label>
        <ion-radio mode="md" slot="start" value="option1"></ion-radio>
    </ion-item>
    </ion-col>
    <ion-col size="6">

      <ion-item lines="none" (click)="setPayMeth('Transferencia')"  color="dark">
        <ion-label style="font-size: 13px;color: white;">Transferencia</ion-label>
        <ion-radio  mode="md"  slot="end" value="option2"></ion-radio>
    </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
  </ion-radio-group>


    </div>
   
    <button style="display: none;" id="img64" (click)="hideChatFeatures('img')"></button>
    <button style="display: none;" id="img66" (click)="hideChatFeatures('document')"></button>
 
    <button style="display: none;" id="btnUpload2" (click)="sendImg()"></button>
    <button style="display: none;" id="btnUploadPdf" (click)="sendPdf()"></button>
    
    <div style="display: none;" id="resetArrayImg2" (click)="resetArray()"></div>
    <input style="display: none;"  type="file" id="upload2" accept="image/x-png,image/jpeg" onchange="process9()" multiple />
    <input style="display: none;" type="file" id="upload2pdf" accept=".pdf,.doc,.docx,.xls,.xlsx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="process10()" multiple />

      <ion-grid *ngIf="imgSys" style="margin-bottom: 5px;">
       
       
        <ion-row>

      <ion-col *ngIf="bodytxt === ''" style="background: #1a1919;display: none;" size-lg="0.6" size="1.5">

        
        <div style="text-align: center;margin-top: 0px;">
          <ion-fab  
           style="left: 4px;margin-top: 5px;"
             >
            <ion-fab-button  style="width: 40px;height: 40px;" color="danger">
              <ion-icon name="attach"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <ion-fab-button style="height: 45px;width: 45px;" color="danger" (click)="doit()">
                <ion-icon name="image-outline"></ion-icon>
              
             </ion-fab-button>
              <ion-fab-button style="height: 45px;width: 45px;"  color="danger" (click)="doitpdf()">
                <ion-icon name="document-outline"></ion-icon>
             
              </ion-fab-button>
              <!-- Agrega más opciones según sea necesario -->
            </ion-fab-list>
          </ion-fab>
         </div>
      </ion-col>
<ion-col size-lg="0.6" size="0.3">

</ion-col>
      <ion-col size-lg="0.6" size="1.7">

        <div style="text-align: left;">

          <ion-fab-button color="dark" id="systemSendMsg" class="my-button" 
          style="margin-left: 1px;width: 40px;height: 40px;margin-top: 5px;"
         (click)="mostrarPopover($event)">
            <ion-icon style="font-size: 22px;color: rgb(255, 242, 128);" name="flash"></ion-icon>
            
          </ion-fab-button>

         </div>
      </ion-col>


          <ion-col size-lg="5.9" style="border-top-right-radius: 54px;border-bottom-right-radius: 55px;" 
          size="8.4">
     
       
  <ion-item style="--background:#202329 ;" lines="none">
 
           <ion-textarea 
  (keyup.enter)="sendMessageWpp()" 
  rows="2" mode="md" 
  (ionBlur)="blur($event)" 
  (ionFocus)="focusInput($event)" 
  id="myInput"
  (ionChange)="detectInput($event)"
  [(ngModel)]="bodytxt"
  searchIcon="false"
  style="
      /* Color de fondo personalizado */
    --color: white;         /* Color del texto */
    --padding-start: 12px;
    --padding-top: 2px;
    font-size: 14px;
    margin-top: 0px;
  " 
  placeholder="Escribe un mensaje...">
</ion-textarea>

              </ion-item>



          </ion-col>

          <ion-col size-lg="1.5" size="1.5">
 <div style="text-align: right;margin-left: 5px;">
  <ion-fab-button id="systemSendMsg" style="margin-right: 5px;width: 40px;height: 40px;margin-top: 5px;" color="danger"
   (click)="sendMessageWpp()">
    <ion-icon style="font-size: 30px;" name="navigate-circle-outline"></ion-icon>
  </ion-fab-button>
 </div>


          </ion-col>
        </ion-row>
      </ion-grid>


<ion-grid *ngIf="imgSysKeyboard">
 
  <ion-row style="height: 100%;">


<ion-col size="12" *ngIf="actualTypeSend === 'document'">
  <div style="padding: 20%;color: white;">
<img src="https://play-lh.googleusercontent.com/dl4ZuJhfD5xR9m2H-oZ9UcLZwYmGpmWMurPrvTiN831ZWLia9NbrYurXV-32wtOzPmM5" style="max-height: 250px;width: 100%;">
    <br>
Documento:    {{this.filepath}}
<br>
<ion-button  (click)="uploadPdf()" expand="full">
  <b>Enviar documento</b>
</ion-button>
  </div>
</ion-col>


    <!-- <ion-col size="10.5">

 
<ion-item style="--background:#0c0c0c ;;border-radius: 40px;display: none;">

          <ion-input color="danger"  mode="ios" (ionBlur)="blur($event)" (ionFocus)="focusInput($event)" #inputFacebook
          [(ngModel)]="descImg" searchIcon="false" style="margin-top: 5px;font-size: 12px;font-size: 12px;;color: white" placeholder="Agrega una descripción...">

          </ion-input>
        </ion-item>



    </ion-col> -->

    <ion-col size="12">
<div style="text-align: center;" *ngIf="actualTypeSend === 'img'">
  <ion-button expand="full" shape="round" (click)="uploadImg()"  color="danger" >
    Enviar imagen
  </ion-button>

</div>

<div style="text-align: center;"  *ngIf="actualTypeSend === 'document'">
  <ion-fab-button id="systemSendMsg" style="margin-right: 5px;width: 40px;height: 40px;margin-top: 5px;" color="danger" (click)="uploadPdf()">
  <ion-icon style="font-size: 30px;" name="navigate-circle-outline"></ion-icon>
  </ion-fab-button>
  </div>


    </ion-col>
  </ion-row>
</ion-grid>



      <div *ngIf="processEnable"  style="height: 60px; width: 100%;overflow: auto;  overflow: auto;background: #202329;margin-bottom: 0px;
      white-space: nowrap;">

     <div style="text-align: center;width: 100%;font-size: 9px;color: rgb(213, 213, 213);margin-top: 5px;">
  Mensajes Predeterminados
     </div>

    


        <!-- <div class="blocksHome" id="sendMessage" (click)="checkerWords(item.Cmd,item.Type)" *ngFor="let item of menuOptions let i = index">     
         <div style="color: white;text-align: center;width: 100%;">
          {{item.Cmd}}
         </div>
        </div>    -->
      </div>

 


  </ion-footer>
  



































         

