.select-icon{
    opacity: 1;
}
ion-row:nth-child(even) {
  background-color: #222222;
}


ion-row:nth-child(odd) {
  background-color: #181818;
}
ion-icon{
  margin-inline-end: 5px;

}
ion-label {
  font-weight: bold;
padding: 12px;
font-family: 'general-font';
font-size: 32px;
}
