



<ion-content fullscreen="true" class="ion-padding">

  <!-- KPI CARDS -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3.8">
        <div class="kpi-card">
          <div class="kpi-icon users">👥</div>
          <div>
            <p style="color: black;">Total de Pedidos</p>
            <h2 style="color: black;">{{this.pedidos.length}}</h2>
          </div>
        </div>
      </ion-col>
   <ion-col size="12" size-md="0.2">
    
   </ion-col>
      <ion-col size="12" size-md="3.8">
        <div class="kpi-card">
          <div class="kpi-icon revenue">💰</div>
          <div>
            <p style="color: black;">Total Ventas</p>
            <h2 style="color: black;">${{this.totalVentas}}</h2>
            <p>
              Sucursal: {{ currentBusiness }}
            </p>
          </div>
        </div>
      </ion-col>
 <ion-col size="12" size-md="0.2">
    
   </ion-col>
      <ion-col size="12" size-md="4">
        <div class="kpi-card">
          <div class="kpi-icon conversion">🔁</div>
          <div>
            <p style="color: black;">Ticket promedio</p>
   <h2 style="color: black;">
  ${{ (this.totalVentas / this.pedidos.length) | number:'1.0-0' }}
</h2>

   </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- MAIN CONTENT -->
  <ion-grid style="margin-top: 10px;">
    <ion-row>
      <!-- CHART -->
      <ion-col size="12" size-lg="7.8">
        <div class="card">
     <ion-grid class="report-toolbar">

  <ion-row class="report-card">

    <!-- Filtros de fecha -->
    <ion-col size="12" size-lg="6">
      <div class="filter-group">

        <div class="date-field">
          <label style="color: black;">📅 Fecha inicial</label>
          <input
          style="color: black;"
            type="date"
            id="fechainit"
            [(ngModel)]="fechainit"
            name="fechainit"
            required
          />
        </div>

        <div class="date-field">
          <label style="color: black;">📅 Fecha final</label>
          <input
            type="date"
          style="color: black;"

            id="fechalast"
            [(ngModel)]="fechalast"
            name="fechalast"
            required
          />
        </div>

      </div>
    </ion-col>

    <!-- Filtro restaurantes -->
    <!-- <ion-col size="12" size-lg="4" *ngIf="currentBusiness === 'all'">
      <div class="restaurants-filter">

        <label class="filter-title">
          🏪 Restaurantes
        </label>

        <div class="restaurants-selected">
          {{ allSelectedRest || 'Todos los restaurantes' }}
        </div>

        <ion-button
          size="small"
          fill="outline"
          (click)="openRepartidoresModal()"
        >
          Filtrar restaurantes
        </ion-button>

      </div>
    </ion-col> -->

    <!-- Exportar Excel -->
    <ion-col size="12" size-lg="6" class="export-col">
      <div class="export-box">

        <ion-button
          expand="block"
          shape="round"
          color="success"
          (click)="checkExportar(this.pedidos)"
        >
          <ion-icon name="document-text-outline" style="color: white;" slot="start"></ion-icon>
        <b style="color: white;">  Exportar Excel</b>
        </ion-button>

        <small class="export-hint">
          Se generará un archivo .xlsx
        </small>

      </div>
    </ion-col>

  </ion-row>

</ion-grid>

          <div class="chart-placeholder">
            <!-- aquí va tu chart.js -->
          
              <div class="stat-card" style="width: 100%;height: 300px;">
          <canvas id="salesChart"></canvas>
        </div>
  
          </div>
          <br>
          <br>
          <br>
        
        </div>
      </ion-col>

      <ion-col size="12" size-lg="0.2">
      </ion-col>
      <!-- COUNTRIES -->
      <ion-col size="12" size-lg="4">
        <div class="card" style="background: #fff;">
          <div class="card-header">
            <h4 style="font-size: 17px;margin-top: 0px;font-weight: bold;">Ranking de productos</h4><br>
       
          </div>

          <div class="country-list" style="margin-top: 0px;background: #fff;">
        
       <ng-container *ngFor="let product of productos; let i = index">

            <div class="country-row" *ngIf="i < 15">
              <span style="color: black;">{{ product.nombre }}</span>
              <b style="color: black;">x{{ product.ventas }}</b>
              <span class="positive">+{{ product.ganancias | currency }}</span>
            </div>
       </ng-container>


        

            <div class="view-more">
              Ver todos →
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


<br>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Ranking de Productos</ion-card-title>
    </ion-card-header>

    <ion-card-content>



      <table class="analytics-table">
        <thead>
          <tr>
            <th>Negocio</th>
            <th>Producto</th>

            <th>Ventas Totales</th>
            <th>Ganancias</th>
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productos">
            <td routerLink="/restaurante-details/{{product.key}}"><u> {{ product.negocio }} </u></td>

            <td>{{ product.nombre }}</td>
            <td>{{ product.ventas }}</td>
            <td>{{ product.ganancias | currency }}</td>
            
          </tr>
        </tbody>
      </table>
      
    </ion-card-content>
  </ion-card>


  <!-- Tabla detallada de analítica de productos -->
 

</ion-content>
