

ion-tab-bar{
  position: fixed; /* <- hace que flote sobre las páginas */
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10; /* asegúrate que esté por encima */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: rgb(255, 255, 255);
  border-top: 1px solid rgba(169, 169, 169, 0.221);
  margin: 0 0px 0px; /* para que se vea “flotante” con margen */
  width: 100%;
  padding-bottom: env(safe-area-inset-bottom); /* iOS fix */
}

.tabs-inner{
  background: #fff;
}

ion-tab-button{

  --color-selected:#444444;
  --color:#000000;
}
.ion-page{
background: #ffff

}
ion-tab-bar {
  padding-bottom: 28px;

  min-height: 70px;
  overflow: hidden; /* importante para que se aplique bien */
}

ion-fab-button {
    --background: #34e1ff;
    --background-activated: #45c48f;
    --background-hover: #818be6;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    --color: black;
  }

 

  

  ion-card{
    padding: 5px;
    margin-top: 10px;
    box-shadow: var(--ion-color-danger) -1px 2px 7px;
}


.alert-sub-title.sc-ion-alert-ios {
  /* color: var(--ion-color-step-600, #666666); */
  font-size: 14px;
  color: #ffe528;
}
.alert-message.sc-ion-alert-ios {
    max-height: 240px;
    color: white;
}

.linesSeparatorDivs{
    height: 1px;
    background: #fff;
    margin-top: 2px;
    margin-bottom: 3px;
    width: 100%;
    padding-bottom: 1px;
}

ion-select::part(text) {
    color: #fff;
  }
  
  ion-select::part(icon) {
    color: #ffffff;
    opacity: 1;
  }

  
ion-segment{
    --color: white;
  
  }

  .gridmatch{
  margin-left: 0px;
  flex: none;
  margin-right: 0px;
  }


ion-segment-button {
   
  --indicator-color:#028a3f
}


.events li { 

    display: flex; 
   
  }
  
  ul{
      padding-left: 15px;
      margin-bottom: 0px;
  }
  ion-segment-button{
    // --indicator-color:rgb(47, 202, 0);
    --indicator-color:var(--ion-color-primary);
  }
  .events time { 
    position: relative;
    padding: 0 0 1 1em;  }
  
  .events .timewey::after { 
      font-family: "FontAwesome";
     content: "\f00c"; zoom:75%;
     position: absolute;
     z-index: 2;
     right: 0;
     vertical-align: middle;
     top: 0;
     padding-left: 2px;
     padding-top:2px;
     display:inline-block;
     transform: translateX(50%);
     border-radius: 50%;
     background: rgb(1, 172, 66);
  width: 1.3em;
  height: 1.3em;
   
     border: 1.8px rgb(1, 172, 66) solid;
  
  }
  
  
  .events span {
    padding: 0 1.5em 1.5em 1.5em;
    position: relative;
    font-size: 14px;
  }
  
  .events span::before {
     content: "";
     position: absolute;
     z-index: 1;
     left: 0;
     height: 100%;
     border-left: 1px rgb(134, 134, 134) solid;
  }
  
  .events strong {
     display: block;
     font-weight: bolder;
  }
  
  .events { width: 100%; }
  .events, 
  .events *::before, 
  .events *::after { box-sizing: border-box; font-family: arial; }
  
  
  
  
  
  
  .eventscancel li { 
     display: flex; 
    
   }
   
   ul{
       padding-left: 15px;
       margin-bottom: 0px;
   }
   .eventscancel time { 
     position: relative;
     padding: 0 0 1 1em;  }
     .events .timeempty::after { 
      font-family: "FontAwesome";
     content: "\f05a"; zoom:75%;
     position: absolute;
     z-index: 2;
     right: 0;
     vertical-align: middle;
     top: 0;
     padding-left: 0px;
     padding-top:0px;
     display:inline-block;
     color:rgb(144, 144, 144);
     transform: translateX(50%);
     border-radius: 50%;
     background: rgb(144, 144, 144);
  width: 1.3em;
  height: 1.3em;
   
     border: 1.8px rgb(0, 0, 0) solid;
  
  }
   .events .timeroja::after { 
       font-family: "FontAwesome";
      content: "\f00d"; zoom:75%;
      position: absolute;
      z-index: 2;
      right: 0;
      vertical-align: middle;
      top: 0;
      padding-left: 3px;
      padding-top:2px;
      display:inline-block;
      transform: translateX(50%);
      border-radius: 50%;
      background: rgb(255, 25, 25);
   width: 1.3em;
   height: 1.3em;
    
      border: 1.8px rgb(255, 13, 13) solid;
   
   }
   ion-modal .ion-page:not(ion-nav .ion-page) {
    position: relative;
    contain: layout style;
    height: 100%;
}
 
   .eventscancel span {
     padding: 0 1.5em 1.5em 1.5em;
     position: relative;
     font-size: 14px;
   }
   
   .eventscancel span::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      height: 100%;
      border-left: 1px rgb(134, 134, 134) solid;
   }
   
   .eventscancel strong {
      display: block;
      font-weight: bolder;
   }
   
   .eventscancel { width: 100%; }
   .eventscancel, 
   .eventscancel *::before, 
   .eventscancel *::after { box-sizing: border-box; font-family: arial; }


   
ion-segment-button {
    color:var(--ion-color-dark-contrast);
  --indicator-color:var(--ion-color-danger)
}

ion-segment-button::part(indicator-background) {
    background: #3383df;
  }
  
  /* Material Design styles */
  ion-segment-button.md::part(native) {
    color: #000;
  }
  
  .segment-button-checked.md::part(native) {
    color: #3383df;
  }
  
  ion-segment-button.md::part(indicator-background) {
    height: 4px;
  }
  
  /* iOS styles */
 
  
  .segment-button-checked.ios::part(native) {
    color: #fff;
  }
  
  ion-segment-button.ios::part(indicator-background) {
    border-radius: 20px;
  }