<ion-header [translucent]="true">
  <ion-toolbar color="light">
    
    <ion-buttons  routerLink="/choose-payment-methods" slot="start">
      <ion-button>
<ion-icon style="color: rgb(0, 0, 0);" name="chevron-forward">

</ion-icon>
      </ion-button>
    
    </ion-buttons>
    <ion-title>Agregar tarjetax</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background: #f0f4ff;">
<ion-card class="glass-card">

<div style="text-align: center;color: #000;">
{{customerId}}
</div>
  <ion-card-content>
    <div class="stripe-field">
      <label style="font-size: 13px;">Número de tarjeta</label>
      <div id="card-number" class="card-element"></div>
    </div>

    <div class="stripe-field-inline">
      <div class="stripe-field">
        <label style="font-size: 12px;">MM/AA</label>
        <div id="card-expiry" class="card-element"></div>
      </div>
      <div class="stripe-field">
        <label style="font-size: 12px;">CVV</label>
        <div id="card-cvc" class="card-element"></div>
      </div>
    </div>

    <p *ngIf="cardError" class="error">{{ cardError }}</p>

    <ion-button expand="full" shape="round" color="dark" (click)="submitCard()"> <b style="color: white;">Guardar tarjeta</b></ion-button>
    <div style="text-align: center;color: #6b6b6b;margin-top: 20px;font-size: 11px;">

     <ion-icon name="shield-checkmark" style="color: rgb(10, 151, 128);"> </ion-icon>   La información de tu tarjeta se guardará de forma segura.
    </div>
 
  </ion-card-content>
</ion-card>
<br>
    <p *ngIf="cardError" class="error">{{ cardError }}</p>
</ion-content>
