.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    white-space: nowrap;
  }
  
  .day-box {
    padding: 5px 7px;
    font-size: 11px;
    border-radius: 20px;
    background-color: #f0f0f0;
    text-align: center;
    min-width: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .day-box.selected {
    background-color: #D10074;
    color: white;
    font-weight: bold;
  }
  
     ion-content{
      --background: #ffffff;
    }