.profile-ui {
  background: #f7f8fc;
  padding-bottom: 90px;
}

/* HEADER */
.profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 16px;
}
ion-item ion-label {
  color: #000 !important;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-avatar {
  width: 64px;
  height: 64px;
}

.profile-info h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.profile-info p {
  margin: 0;
  color: #6b7280;
}

/* CARD */
.ui-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 18px;
  margin-bottom: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

.ui-card h3 {
  margin-bottom: 14px;
  font-size: 16px;
}

/* INPUTS */
.ui-item {
  margin-bottom: 12px;
  --background: #f9fafb;
  border-radius: 12px;
}

/* CHIPS */
.chip-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 12px 0;
}

/* MEDIA */
.media-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.media-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 8px;
}

/* SCHEDULE */
.schedule-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 12px;
}

.day-card {
  background: #f9fafb;
  border-radius: 14px;
  padding: 10px;
  text-align: center;
}

/* FOOTER */
.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  background: #ffffff;
  box-shadow: 0 -6px 18px rgba(0,0,0,0.08);
}
   ion-content {
        --padding-start: 0%;
        --padding-end: 0%;
    }
