<ion-content class="profile-ui">

  <!-- HEADER PERFIL -->
  <div class="profile-header" style="background: #fff;">
    <ion-buttons>
      <ion-back-button defaultHref="/restaurantes"></ion-back-button>
    </ion-buttons>

    <div class="profile-info">
      <ion-avatar class="profile-avatar">
        <img [src]="restauranteForm.get('logo')?.value || 'assets/avatar.png'" />
      </ion-avatar>

      <div>
        <h1 style="color: black;">{{ restauranteForm.get('nombre')?.value }}</h1>
        <p>{{ restauranteForm.get('categoria')?.value }}</p>
      </div>
    </div>
  </div>

  <ion-grid>
    <form style="background: #fff;" [formGroup]="restauranteForm" (ngSubmit)="updateRestaurante()">
     <!-- HORARIO -->
      <ion-row>
        <ion-col size="12">
          <div class="ui-card" style="background: #fff;">
      

            <div class="schedule-grid">
              <ng-container *ngFor="let day of ['lunes','martes','miercoles','jueves','viernes','sabado','domingo']">
                <div class="day-card">
                  <strong style="color: black;">{{ day | titlecase }}</strong>
                  <ion-input type="time" formControlName="{{day}}Apertura"></ion-input>
                  <ion-input type="time" formControlName="{{day}}Cierre"></ion-input>
                </div>
              </ng-container>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <!-- INFO BASICA -->
      <ion-row>
        <ion-col size="12" size-lg="7.8">
          <div style="background: #fff;" class="ui-card">
            <h3 style="color: black;">Información general</h3>

            <ion-item disabled="true" lines="none" class="ui-item">
              <ion-label  position="floating">Nombre del restaurante</ion-label>
              <ion-input formControlName="nombre"></ion-input>
            </ion-item>

            <ion-item lines="none" class="ui-item">
              <ion-label position="floating">Descripción</ion-label>
              <ion-input formControlName="desc"></ion-input>
            </ion-item>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item disabled="true" lines="none" class="ui-item" [disabled]>
                  <ion-label position="floating">Teléfono</ion-label>
                  <ion-input formControlName="telefono"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-md="6">
                <ion-item lines="none" class="ui-item" [disabled]>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input formControlName="email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-item lines="none" class="ui-item">
              <ion-label>Categoría</ion-label>
              <ion-select style="font-size: 13px;" formControlName="categoria">
                <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.nombre">
                  {{ categoria.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="12" size-lg="0.2">
        </ion-col>
        <!-- TAGS -->
        <ion-col size="12" size-lg="3.8">
          <div class="ui-card">
               <ion-button expand="block" color="dark"
                 routerLink="/admin-fast-ans">RESPUESTAS RAPIDAS
                  <!-- ponme aqui el icono de un rayo-->
                 <ion-icon name="flash" style="color: yellow;" slot="end"></ion-icon>

                   </ion-button>

            <h3>Etiquetas</h3>

            <ion-button expand="block" color="dark" (click)="openEtiquetasModal()">ETIQUETAS</ion-button>
            <div class="chip-row" *ngIf="tags?.length">
              <ion-chip style="--background: #eeeeee" *ngFor="let tag of tags">
                {{ tag }}
                <ion-icon name="close" (click)="removeTag(tag)"></ion-icon>
              </ion-chip>
            </div>

            <ion-button expand="block" color="dark" (click)="openHashtagsModal()">HASHTAGS</ion-button>
            <div class="chip-row" *ngIf="hashtags?.length">
              <ion-chip style="--background: #eeeeee"  *ngFor="let tags of hashtags">
                {{ tags }}
                <ion-icon name="close" (click)="removehashTag(tags)"></ion-icon>
              </ion-chip>
            </div>


               
       
          </div>
        </ion-col>
           <ion-col size="12" size-lg="0.2">
        </ion-col>
      </ion-row>

      <!-- UBICACION -->
      <ion-row>
        <ion-col size="12" size-lg="4">
          <div class="ui-card">
            <h3>Ubicación</h3>

            <ion-item lines="none" class="ui-item" [disabled]="true">
              <ion-label position="floating">Dirección</ion-label>
              <ion-input formControlName="direccion"></ion-input>
            </ion-item>

            <ion-item disabled="true" lines="none" class="ui-item">
              <ion-label position="floating">Latitud</ion-label>
              <ion-input formControlName="currentLat"></ion-input>
            </ion-item>

            <ion-item disabled="true" lines="none" class="ui-item">
              <ion-label position="floating">Longitud</ion-label>
              <ion-input formControlName="currentLng"></ion-input>
            </ion-item>

            <ion-item disabled="true" lines="none" class="ui-item">
              <ion-label position="floating">Radio (KM)</ion-label>
              <ion-input formControlName="rango"></ion-input>
            </ion-item>

          </div>
        </ion-col>

        <ion-col size="12" size-lg="0.2">
        </ion-col>
        <!-- MEDIA -->
        <ion-col size="12" size-lg="7.6">
          <div class="ui-card">
            <h3>Logo & Banner</h3>

            <div class="media-grid">
              <div>
                <img [src]="logoPreview || restauranteForm.get('logo')?.value" class="media-img" />
                <ion-input formControlName="logo" placeholder="Logo URL"></ion-input>
                <input type="file" (change)="onFileSelected($event, 'logo')" />
              </div>

              <div>
                <img [src]="bannerPreview || restauranteForm.get('banner')?.value" class="media-img" />
                <ion-input formControlName="banner" placeholder="Banner URL"></ion-input>
                <input type="file" (change)="onFileSelected($event, 'banner')" />
              </div>
            </div>
          </div>
        </ion-col>
          <ion-col size="12" size-lg="0.2">
        </ion-col>
      </ion-row>

 

      <button type="submit" id="keyer" style="display:none"></button>
    </form>
  </ion-grid>
  <br>
  <br>
  <br>
  <br>
  <br>
</ion-content>

<ion-footer class="sticky-footer">
  <ion-button expand="block" color="dark" (click)="keyerClick()">GUARDAR CAMBIOS</ion-button>
</ion-footer>
