<ion-header translucent>
  <ion-toolbar color="light">
    <ion-title style="color: black;"></ion-title>
        <ion-buttons slot="end">
      <ion-button routerLink="/secap-upload" shape="round" fill="solid" color="light">
        <ion-icon name="cloud-upload" slot="icon-only" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-bg" fullscreen>
    <ion-header collapse="condense" translucent>
    <ion-toolbar color="light">
      <ion-title size="large" style="color: black;">Consultar Certificados</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="center-wrap">
    <ion-card color="light" class="glass-card demo-card">
        <!-- Vista previa -->
  <div *ngIf="imageResult" class="preview">
    <ion-img id="miImg" [src]="imageResult"></ion-img>
  </div>
      <ion-card-header>
        <ion-img src="https://ade3131a7d.clvaw-cdnwnd.com/a1e7b3eee663ec04867c877dbbbe7ba4/200001678-b0c7fb0c81/secap.png?ph=ade3131a7d" alt="Logo SECAP"></ion-img>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="search()">
          <ion-item>
            <ion-label style="color: black;" position="stacked">Matrícula / ID del estudiante</ion-label>
            <ion-input formControlName="studentId" placeholder="Ej. 20251234"></ion-input>
          </ion-item>
          <br>
          <ion-button expand="full" type="submit" color="dark" shape="round" style="margin-top: 12px;"><b style="color: white;"> Buscar</b></ion-button>
        </form>

        <ion-list *ngIf="results.length > 0">
          <ion-list-header style="color: black;">
            Resultados encontrados
          </ion-list-header>
          <ion-item *ngFor="let r of results">
            <ion-label style="color: black;">
              <h2>{{ r.studentName }}</h2>
              <p>Curso: {{ r.course }}</p>
              <p>Emitido: {{ r.issuedDate?.toDate ? (r.issuedDate.toDate() | date) : (r.issuedDate | date) }}</p>
            </ion-label>
            <ion-button slot="end" fill="outline" (click)="download(r.fileUrl)"> <b style="color: white;"> Descargar</b></ion-button>
          </ion-item>
        </ion-list>

  

        <ion-spinner *ngIf="loadingResults" name="crescent"></ion-spinner>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
