<ion-header>
  <ion-toolbar mode="md" color="dark"> 

    <ion-buttons (click)="closeModal()" slot="start">
   <ion-button>
    <ion-icon name="close-circle-outline" style="color: rgb(255, 81, 81);font-size: 30px;">

    </ion-icon>

   </ion-button>

    </ion-buttons>

    <ion-buttons (click)="saveModal()" slot="end">
      <ion-button>
        <ion-icon style="color: rgb(54, 204, 129);font-size: 30px;" name="checkmark-circle-outline">
    
        </ion-icon>
    
       </ion-button>
    </ion-buttons>
    <ion-title style="color: white;font-size: 16px;">
     {{this.type}}
    </ion-title>
    </ion-toolbar>
  
</ion-header>

<ion-content style="--background:#111">

<div style="padding: 10px;">
  <div style="text-align: center;font-size: 16px;color: white;" *ngIf="this.type === 'Agregar calle y numero'">
    Porfavor agrega la calle y el numero del domicilio. 
  </div>

  <ion-item style="margin-top: 10px;" color="dark" fill="outline">
    <ion-label   position="floating">{{this.type}}</ion-label>
    <ion-textarea (keyup.enter)="saveModal()" #twoinput placeholder="Escribe aqui.." autofocus="true" 
      [(ngModel)]="src"></ion-textarea>
  </ion-item >

</div>




  <br>

  
</ion-content>



