// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #1fa181;
    --ion-color-secondary: #429c8a;
    --ion-color-tertiary: #eb9f2e;
    --ion-color-success: #1fa181;
    --ion-color-warning: #f1f3ff;
    --ion-color-danger: #1fa181;
    --ion-color-light: #ffffff;
    --ion-color-medium: #e1e1e1;
    --ion-color-dark: #202329;
  // src/theme/variables.scss

  }