ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #ffffff));
}
.spanMenu{
  font-size: 14px;

}
.tabs-inner{
  background: #fff;
}
.ion-page{
  background: #fff;

}
ion-menu.md ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

ion-menu.md ion-list {
  padding: 0px 0;
}
.sidebar {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
overflow-x: hidden;
height: 100%;

  background: #fff;
  padding: 20px 15px;
  flex-direction: column;
}

.logo {
  align-items: center;
  padding-bottom: 20px;
}

.logo img {
  width: 35px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}


.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: #444;
  font-size: 15px;
  transition: 0.2s;
}

.menu-item ion-icon {
  font-size: 20px;
}

.menu-item:hover {
  background: #f3f3f3;
}

.menu-item.active {
  background: #10cd8e;
  color: #fff;
}

.menu-item.active ion-icon {
  color: #fff;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-background-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 14px;
  background: #eeeeee73;
  border-radius: 8px;
  
  margin-bottom: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.menu-item ion-icon {
  font-size: 20px;
}

.menu-item .spanMenu {
  flex-grow: 1;            /* Esto empuja la flecha al final */
  margin-left: 12px;
}

.menu-item .arrow {
  font-size: 16px;
  color: #b3b3b3;
}




ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}
ion-split-pane{
  background: #f8f8f8;
    padding: 0px;
}
ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}



ion-content{
  --background: url('https://i.pinimg.com/originals/c4/82/14/c4821433f0bb5ac2650e42a9ed06a382.jpg') 0 0/100% 100% no-repeat;

}

ion-menu.md ion-list {
  padding: 20px 0;
}
div{
  background:#fff
}
ion-menu.md ion-note {
  margin-bottom: 30px;
}
.hoverMenuToggle ion-item {
  transition: background 0.2s ease, transform 0.15s ease;
}

.hoverMenuToggle ion-item:hover {
  background: #f0f0f0;
  transform: scale(1.02);
  border-radius: 8px;
  cursor: pointer;
}

.price-container {
    display: flex;
    overflow-x: auto; /* Habilita la barra de desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.active-chat {
  background: #0dbb74 !important; /* verde */
  border-radius: 10px;
}
.avatar {
  max-width: 36px;
  min-height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.menu-btn {
  text-align: center;
  padding: 10px;
  background: #e9e9e9;
  border-radius: 42px;
  width: 40px;
  height: 40px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;

  ion-icon, img {
    font-size: 20px;
    color: #000;
    width: 20px;
    height: 20px;
  }
}

.active-btn {
  background: #000 !important;
  ion-icon, img {
    color: #fff !important;
    filter: brightness(0) invert(1); /* para las imágenes tipo png */
  }
}

.price-tag {
    display: inline-block;
    background-color: #f3f3f3; /* Color de fondo */
    color: rgb(27, 27, 27); /* Color del texto */
    font-size: 14px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Alineación del texto */
    margin-right: 15px; /* Espaciado entre las etiquetas */
    flex-shrink: 0; /* Evita que los elementos se encojan */
}
ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}
.sc-ion-label-md-h {
  --color: initial;
  display: block;
  color: var(--color);
  font-family: var(--ion-font-family, inherit);
  font-size: inherit;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
   overflow: inherit; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #f8f8f8;

  min-height: 26px;
}
.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
  width: 100%;
  --color: initial;
  display: block;
  color: var(--color);
  font-family: var(--ion-font-family, inherit);
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
   overflow: inherit;
  -webkit-box-sizing: border-box;
   box-sizing: border-box; 
}
ion-menu.md ion-item {
  --padding-start: 10px;


}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}


ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}



.project-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 16px;
  border-radius: 16px;
  background: linear-gradient(135deg, #ececec, #ffffff);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.091);
  color: #fff;
  margin-top: 10px;

  backdrop-filter: blur(10px);
}

.project-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.project-avatar {
  width: 48px;
  height: 48px;
  border-radius: 14px;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}

.project-info {
  display: flex;
  flex-direction: column;
  background: #ffffff00;
}

.project-label {
  font-size: 7px;
  color: #000;
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-name {
  font-size: 12px;
  margin: 0;
  font-weight: 600;
  color: #000;
}

.project-status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #f9f9f9;
  background: rgba(0, 0, 0, 0.87);
  padding: 6px 12px;
  border-radius: 50px;
}

.status-dot {
  width: 8px;
  height: 8px;
  background: #00ff88;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff88;
}



.hero-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff00;
}

.glass-badge {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 15px;
  width: 100%;
  font-size: 22px;
  font-family: 'bschat';
  text-align: center;
  font-weight: 600;
  color: #ffffff;

  background: rgba(0, 135, 74, 0.984);
  border: 1px solid rgba(19, 220, 130, 0.779);

  border-radius: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  box-shadow:
    0 0 40px rgba(0, 255, 140, 0.25),
    0 15px 40px rgba(0, 0, 0, 0.3);

  letter-spacing: 1px;
}

.version-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #00ff88;
  box-shadow: 0 0 15px #00ff88;
}

.crm-header {
  position: relative;
  padding: 11px 8px;
  border-radius: 14px;
  overflow: hidden;

  background: linear-gradient(
    135deg,
    #06a45a0e,
    #44444411,
    #3e3e3e1c
  );


  backdrop-filter: blur(18px);
}

/* Glow animado */
.crm-header-glow {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255,255,255,0.25),
    transparent 60%
  );
  animation: glowMove 8s linear infinite;
  pointer-events: none;
}

@keyframes glowMove {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0.6;
  }

  25% {
    transform: scale(1.05) translate(-10px, 8px);
    opacity: 0.75;
  }

  50% {
    transform: scale(1.08) translate(8px, -6px);
    opacity: 0.65;
  }

  75% {
    transform: scale(1.04) translate(-6px, 6px);
    opacity: 0.7;
  }

  100% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0.6;
  }
}

.crm-header-content {
  position: relative;
  z-index: 2;
  display: flex;
  background: #ffffff00;
  justify-content: space-between;
  align-items: center;
}

.crm-left {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #ffffff00;
}

.crm-icon {
  width: 46px;
  height: 46px;
  border-radius: 16px;

  backdrop-filter: blur(12px);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  color: white;

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    0 6px 14px rgba(0,0,0,0.25);
}

.crm-title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  font-family: 'bschat';
  background: #ffffff00;
  letter-spacing: 0.5px;
}

.crm-title span {
  font-weight: 400;
  opacity: 0.85;
}

.crm-settings {
  width: 42px;
  height: 42px;
  border-radius: 14px;

  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 20px;

  transition: 0.3s;
}

.crm-settings:hover {
  background: rgba(255,255,255,0.25);
  transform: scale(1.05);
}
