<ion-app>
  <ion-split-pane  contentId="main-content">
    <ion-menu style="--background: #fff;" contentId="main-content" type="overlay">
      <ion-content *ngIf="estaLogueado" style="  --padding-start:0%;
    --padding-end:0%;">

      <ion-grid style="text-align: center;width: 100%;height: 100%;background: #f8f8f8;padding: 0px;margin-top: 0px;">
        <ion-row style="height: 100%;background: #f8f8f8;">
   <ion-col style="background: #ffffff; padding: 8px 0;height: 100%;
  height: 100% !important;" 
         [sizeLg]="sizeMenu" size-md="4.3" size="12" >

<div class="sidebar">

  <!-- Logo -->
  <div class="logo" style="text-align: center;color:rgb(0, 0, 0);font-family: 'bschat';font-size: 20px;font-style: italic;font-weight: bold;letter-spacing: 1px;">
    <img src="../assets/icon/bschat.png" style="max-width: 50px;max-height: 50px;display: none;" />
  <div class="crm-header">
  <div class="crm-header-glow"></div>

 Business Chat V6.1.3
</div>


    <div style="color: rgb(0, 0, 0);font-size: 24px;font-family: 'bschat';font-weight: bold;width: 100%;text-align: center;">
  
     <div class="project-selected">
   <div (click)="getOptions()" class="project-info">
      <span class="project-label">Proyecto actual</span>
      <h2 class="project-name">{{ (businessFinal + '').slice(3) }}</h2>
      
          <ion-select style="display: none;" id="selectChangeX" (ionChange)="selectOption($event)">
      <ion-select-option *ngFor="let option of arrayNumbers" [value]="option">{{ option }}</ion-select-option>
    </ion-select>
    </div>

  <div class="project-status">
    <span class="status-dot"></span>
    Activo
  </div>
</div>
  
    </div>
  
  

  </div>

  <div class="menu">
 <div 
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'chat'}"
      (click)="selectIcon('chat','tabs/conversations')">

      <ion-icon name="chatbubbles-outline"></ion-icon>
      <span class="spanMenu">Chats</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>

    <div 
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'pedidos'}"
      (click)="selectIcon('pedidos', '/panel/')"

      >

      <ion-icon name="list-circle-outline"></ion-icon>
      <span class="spanMenu">Comanda</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
 

     <div 
   *ngIf="businessFinal.toString() === '5218333861194'"
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'pedidosx'}"
      (click)="selectIcon('pedidosx', '/panel/michelotes-madero')"

      >

      <ion-icon name="list-circle-outline"></ion-icon>
      <span class="spanMenu">Comanda Madero</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
   <div 
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'solicitar-repa'}"
      (click)="selectIcon('solicitar-repa','solicitar-repa')">

      <ion-icon name="bicycle-outline"></ion-icon>
      <span class="spanMenu">Solicitar repartidor</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
 <div 
   *ngIf="businessFinal.toString() === '5218333861194'"
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'pedidosxx'}"
      (click)="selectIcon('pedidosxx', '/pedidos-history/michelotes')"

      >

      <ion-icon name="list-circle-outline"></ion-icon>
      <span class="spanMenu">Historial pedidos Norte</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
     <div 
   *ngIf="businessFinal.toString() === '5218332367397'"
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'pedidosxx'}"
      (click)="selectIcon('pedidosxx', '/pedidos-history/abe-abe-germinal')"

      >

      <ion-icon name="list-circle-outline"></ion-icon>
      <span class="spanMenu">Historial Abe Abe</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>

    <div 
   *ngIf="businessFinal.toString() === '5218333861194'"
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'pedidosxx'}"
      (click)="selectIcon('pedidosxx', '/pedidos-history/michelotes-madero')"

      >

      <ion-icon name="list-circle-outline"></ion-icon>
      <span class="spanMenu">Historial pedidos Madero</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
    <div 
   *ngIf="businessFinal.toString() === '5218334460818'"
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'pedidosxx'}"
      (click)="selectIcon('pedidosxx', '/pedidos-history/toyama')"

      >

      <ion-icon name="list-circle-outline"></ion-icon>
      <span class="spanMenu">Historial pedidos Toyama</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
  

 <div 
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'punto-venta'}"
      (click)="selectIcon('punto-venta','/punto-venta/')">

      <ion-icon name="desktop-outline"></ion-icon>
      <span class="spanMenu">Punto de venta</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
 <div 
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'inventario-punto'}"
      (click)="selectIcon('inventario-punto','/punto-venta/')">

      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      <span class="spanMenu">Inventario</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>


   

    <!-- INVENTARIOS SEGÚN NEGOCIO -->
    <div *ngIf="businessFinal.toString() === '5218333861194'" 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'inventario-michelotes'}"
      (click)="selectIcon('inventario-michelotes','/inventario/michelotes')">

      <ion-icon name="fast-food-outline"></ion-icon>
      <span class="spanMenu">Productos Michelotes</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>

      <div *ngIf="businessFinal.toString() === '5218333861194'" 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'inventario-madero'}"
      (click)="selectIcon('inventario-madero','/inventario/michelotes-madero')">

      <ion-icon name="fast-food-outline"></ion-icon>
      <span class="spanMenu">Productos Madero</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
    <div *ngIf="businessFinal.toString() === '5218334460818'"
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'inventario'}"
      (click)="selectIcon('inventario','/inventario/toyama')">

      <ion-icon name="fast-food-outline"></ion-icon>
      <span class="spanMenu">Productos</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>

    <div *ngIf="businessFinal.toString() === '5218332367397'"
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'inventario'}"
      (click)="selectIcon('inventario','/inventario/abe-abe-germinal')">

      <ion-icon name="fast-food-outline"></ion-icon>
      <span class="spanMenu">Productos Abe Abe</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
        <div *ngIf="businessFinal.toString() === '5218333096367'"
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'inventario'}"
      (click)="selectIcon('inventario','/inventario/tortas-lalo')">
      <ion-icon name="fast-food-outline"></ion-icon>
      <span class="spanMenu">Productos Lalo</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>

 <!-- <div 
      class="menu-item" 
      [ngClass]="{active: selectedIcon === 'gpt-control'}"
      (click)="selectIcon('gpt-control','/gpt-control/')">

      <ion-icon name="sparkles-outline"></ion-icon>
      <span class="spanMenu">IA Studio Pro</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div> -->

    <!-- <div 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'marketing'}"
       (click)="selectIcon('marketing','/marketing')"
      >

      <ion-icon name="megaphone-outline"></ion-icon>
      <span class="spanMenu">ADX Studio Prox</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div> -->
 <div 
    *ngIf="businessFinal.toString() === '5218332367397'" 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'stats'}"
       (click)="selectIcon('stats','stats/abe-abe-germinal')"

      >

      <ion-icon name="stats-chart-outline"></ion-icon>
      <span class="spanMenu">Estadísticas Abe Abe</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
    <div 
    *ngIf="businessFinal.toString() === '5218333861194'" 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'stats'}"
       (click)="selectIcon('stats','stats/')"

      >

      <ion-icon name="stats-chart-outline"></ion-icon>
      <span class="spanMenu">Estadísticas Michelotes</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
      <div 
    *ngIf="businessFinal.toString() === '5218333861194'" 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'michelotes'}"
       (click)="selectIcon('michelotes','stats/')"

      >

      <ion-icon name="stats-chart-outline"></ion-icon>
      <span class="spanMenu">Estadísticas Michelotes Madero</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
       <div 
    *ngIf="businessFinal.toString() === '5218333096367'" 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'tortas-lalo'}"
       (click)="selectIcon('tortas-lalo','stats/tortas-lalo')"

      >

      <ion-icon name="stats-chart-outline"></ion-icon>
      <span class="spanMenu">Estadísticas Tortas Lalo</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
 <div 
 *ngIf="businessFinal.toString() === '5218334460818'" 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'stats'}"
       (click)="selectIcon('stats','stats/')"

      >

      <ion-icon name="stats-chart-outline"></ion-icon>
      <span class="spanMenu">Estadísticas Toyama</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>

    <div 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'clientes'}"
      (click)="selectIcon('clientes','/clientes')">

      <ion-icon name="people-outline"></ion-icon>
      <span class="spanMenu">Clientes</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
   <div 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'marketing'}"
      (click)="selectIcon('marketing','/marketing')">

      <ion-icon name="logo-whatsapp"></ion-icon>
      <span class="spanMenu">WhatsApp Marketing</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
       <div 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'adx-pro'}"
      (click)="selectIcon('adx-pro','/adx-pro')">

      <ion-icon name="megaphone-outline"></ion-icon>
      <span class="spanMenu">Adx Pro</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
     <div 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'adx-media'}"
      (click)="selectIcon('adx-media','/adx-media')">

      <ion-icon name="image"></ion-icon>
      <span class="spanMenu">Adx Media</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
    <div 
      class="menu-item"
      [ngClass]="{active: selectedIcon === 'settings'}"
      (click)="selectIcon('settings','/settings/')">

      <ion-icon name="settings-outline"></ion-icon>
      <span class="spanMenu">Configuración</span>
      <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </div>
  <div 
      class="menu-item"
      (click)="logout()">

      <ion-icon name="exit-outline" style="color: red;"></ion-icon>
      <span style="color: red;" class="spanMenu">Cerrar Sesión</span>
    </div>
  </div>
</div>


<br>
<br>
<br>
 


</ion-col>


          <ion-col *ngIf="conversationsBoolean === true" size="0" size-md="7.8" size-lg="7.1" style="padding: 16px;border-radius: 14px;height: 90%;">
               <ion-toolbar  style=" border-top-right-radius: 14px;
    border-top-left-radius: 14px;" mode="md" color="light">
        <ion-buttons  style="display: none;" (click)="logout()" slot="end">
     <ion-button>
<ion-icon name="log-out-outline" style="color: rgb(253, 107, 107);">

</ion-icon>

     </ion-button>
    
        </ion-buttons>

        <ion-buttons (click)="addContact()" style="display: none;" slot="end">
          <ion-button>
     <ion-icon style="color: rgb(223, 223, 223);" name="add-circle-outline">
     
     </ion-icon>
     
          </ion-button>
         
             </ion-buttons>



        <ion-buttons style="display: none;" (click)="goConfig()" slot="end">
          <ion-button>
     <ion-icon style="color: rgb(47, 47, 47);" name="settings-outline">
     
     </ion-icon>
     
          </ion-button>
         
             </ion-buttons>
             <ion-button style="display:none" id="updateComponent" (click)="updateListComponent()">   </ion-button>

             
    
        <ion-title style="color: rgb(0, 0, 0);font-size: 20px;font-weight: bold;">Chats Recientes</ion-title>

    
      </ion-toolbar>
 
      <ion-toolbar color="light">
    <ion-searchbar 
    routerLink="/clientes"
     style="background: #fff;color: #000;   "
      placeholder="Buscar..."
    ></ion-searchbar>
      </ion-toolbar>
      
       <div  style="display: none;" class="price-container">
    <div *ngFor="let item of arrayTags;" class="price-tag" style="color: black;">{{item.Name}}</div>
   
</div>
      <ion-content style="--padding-start:0%;--padding-end:0%;background: #fff;">
        <div style="display: none;text-align: center;color: white;">
          <img src="../assets/icon/icon-384x384.png"   routerLink="/home" style="height: 90px; width: 105px;" alt="Snow" >
  
        </div>
       
    <ion-list color="dark" style="padding: 0px;" id="inbox-list">

  <ion-menu-toggle 
      *ngFor="let p of menuOptions; let i = index; trackBy: trackByContact"
      routerLink="/p/{{p.Contact}}"
      (click)="removeGreen(p)"
      routerDirection="root"
      class="hoverMenuTogle"
      auto-hide="false"
      style="margin-top: 5px;"
      color="light">

    <div class="ion-activatable ripple-parent rounded-rectangle" style="margin-top: 10px;">

      <ion-grid style="background: #fff;">

        <ion-row>

          <!-- ESPACIO -->
          <ion-col size="0.3" style="padding: 0px;"></ion-col>

          <!-- AVATAR -->
          <ion-col size="2.5" size-md="1.6" style="padding: 0px;text-align: center;">
            <div 
              class="avatar"
              [ngStyle]="{
                'background-color': getColor(p.Nombre)
              }"
            >
              {{ p.Nombre.charAt(0).toUpperCase() }}
            </div>
          </ion-col>

          <!-- NOMBRE + MENSAJE -->
          <ion-col size="8.1" size-md="8.5" style="background: #fff;padding: 2px;padding-top: 0px;">

            <div style="white-space: nowrap;text-overflow: ellipsis;width: 100%;
                      font-size: 14px;color: #000;display: block;font-family: -apple-system,
                       BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, sans-serif;">
              {{ p.Nombre }}
          </div>

         
                    
                            
            <ion-row style="color: rgb(150,150,150);font-size:12px;white-space: nowrap;overflow: hidden;">

              <ion-col *ngIf="p.last === 'owner'" size="0.7" style="padding-top: 0px;">
                <ion-icon name="checkmark-done-outline"
                          style="color: rgb(124,124,124);font-size: 14px;margin-top:3px">
                </ion-icon>
              </ion-col>

              <ion-col size="11.3" style="padding-left: 2px;color: #000;">
              <div style="font-size: 12px;font-weight: 100;color: #252525;font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, sans-serif;">
                        {{ p.text.length > 45 ? (p.text | slice:0:45) + '…' : p.text }}</div>
              </ion-col>
 <ion-col size="12" style="padding-top:0px;padding-left: 2px;color: #000;">
                
                           <div style="font-size: 12px;margin-top: 0px;color: #606060;font-family:
                            -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, sans-serif;" > 
                             {{ p.to?.startsWith('521') ? p.to.slice(3) : p.to }}</div>
                        </ion-col>
            </ion-row>
  
            <!-- TAG (igual que la primera) -->
            <!-- <div *ngIf="p.Tag !== 'No tag'" style="margin-top:4px;background:#292929;color:white;border-radius:15px;
                        width:fit-content;padding:2px 7px;font-weight:bold;font-size:12px;">
                  {{p.Tag}}
            </div> -->

          </ion-col>

          <!-- HORA + NOTIFICACIÓN -->
          <ion-col size="1.6" style="padding: 0px;">
            <div style="font-size: 9px;text-align: center;color: rgb(113, 113, 113);margin-bottom: 3px;">

              <span *ngIf="fechaActual === p.fecha">{{ p.hr }}</span>
              <span *ngIf="fechaActual !== p.fecha" style="font-size: 12px;">{{ p.hr }}</span>

              <br>

              <div *ngIf="p.last === 'Client'" 
                   style="height: 21px;width: 21px;border-radius: 50%;
                          background: rgb(12, 146, 103);margin-left: 12px;margin-top: 4px;
                          color: white;padding-top: 3px;font-size: 12px;">
                1
              </div>

            </div>
          </ion-col>

      
        </ion-row>
      </ion-grid>

      <div style="text-align: center;background: rgb(255,255,255);height: 0.5px;width: 100%;margin-top:10px;">

      </div>
    </div>

    <div style="text-align: center;background: rgb(243,243,243);height: 0.5px;width: 100%;">

    </div>

  </ion-menu-toggle>

</ion-list>

  
   



      </ion-content>
          </ion-col>
              
        </ion-row>
      </ion-grid>
      </ion-content>
   
     <ion-content *ngIf="!estaLogueado" style="  --padding-start:0%;
    --padding-end:0%;">

      <ion-grid style="width: 100%;height: 100%;background: #f8f8f8;padding: 0px;margin-top: 0px;text-align: left;">
        <ion-row style="height: 100%;background: #f8f8f8;">
<ion-col size="12" size-md="12" size-lg="12">

  <div class="sidebar" style="text-align: center;width: 100%;">

    <img src="../assets/icon/logobschat.jpeg" style="max-width: 120px;max-height: 120px;;" />

    <!-- Header -->
    <div class="logo" style="width: 100%;">

      <div  style="font-size: 20px;width: 100%;">
        Business Chat
      </div>
    </div>

    <div class="menu">


           <div class="menu-item"
           [ngClass]="{active: selectedIcon === 'inicio'}"
           (click)="selectIcon('inicio','/inicio')">

        <ion-icon name="home-outline"></ion-icon>
        <span>Inicio</span>
        <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
      </div>
    <!-- Precios -->
      <div class="menu-item"
           [ngClass]="{active: selectedIcon === 'precios'}"
           (click)="selectIcon('precios','/precios')">

        <ion-icon name="pricetag-outline"></ion-icon>
        <span>Precios</span>
        <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
      </div>
      <!-- Cómo funciona -->
      <div class="menu-item"
           [ngClass]="{active: selectedIcon === 'como-funciona'}"
           (click)="selectIcon('como-funciona','/como-funciona')">

        <ion-icon name="help-circle-outline"></ion-icon>
        <span>Cómo funciona</span>
        <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
      </div>

      <!-- Características -->
      <div class="menu-item"
           [ngClass]="{active: selectedIcon === 'mision-y-vision'}"
           (click)="selectIcon('mision-y-vision','/mision-y-vision')">

        <ion-icon name="layers-outline"></ion-icon>
        <span>Mision y Visión</span>
        <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
      </div>

  

      <!-- Contacto -->
      <div class="menu-item"
           [ngClass]="{active: selectedIcon === 'contacto'}"
           (click)="selectIcon('contacto','/contacto')">

        <ion-icon name="mail-outline"></ion-icon>
        <span>Contacto</span>
        <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
      </div>

    </div>

  </div>

</ion-col>



              
        </ion-row>
      </ion-grid>
      </ion-content>
   


    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>




