<ion-list>
  <!-- Mostrar 'Agregar subcategoría' si no hay subcategoría y no hay productos -->
  <ion-item button *ngIf="subcategoria === true" (click)="performAction('add-subcategoria')">
    <ion-icon slot="start" name="create-outline"></ion-icon>
  <b style="color: black;">  Agregar subcategoría</b>
  </ion-item>

  <!-- Mostrar 'Agregar producto' si hay subcategoría pero no productos -->
  <ion-item button *ngIf="products === true" (click)="performAction('add-product')">
    <ion-icon slot="start" name="create-outline"></ion-icon>
  <b style="color: #000;">  Agregar producto</b>
  </ion-item>

  <!-- Mostrar 'Agregar producto' si hay subcategoría pero no productos -->
  <ion-item button (click)="performAction('edit')">
    <ion-icon slot="start" name="create-outline"></ion-icon>
   <b style="color: black;"> Editar</b>
  </ion-item>
  <ion-item button (click)="performAction('desactivar')">
    <ion-icon slot="start" name="toggle-outline"></ion-icon>
 <div *ngIf="!item.active" style="color: green;">
  Activar

 </div>
 <div *ngIf="item.active" style="color: red;">
  Desactivar

 </div>

  </ion-item>
  <!-- Mostrar 'Eliminar' si hay productos o subcategorías -->
  <ion-item button *ngIf="subcategoria || products" (click)="performAction('delete')">
    <ion-icon  slot="start" name="trash-outline"></ion-icon>
     <b style="color: red;">Eliminar</b>
  </ion-item>
</ion-list>
