<ion-header>
  <ion-toolbar mode="ios" color="dark"> 

    <ion-buttons (click)="closeModal()" slot="start">
   <ion-button>
    <ion-icon name="close-circle-outline" style="color: rgb(255, 81, 81);">

    </ion-icon>

   </ion-button>

    </ion-buttons>

    <ion-buttons (click)="saveModal()" slot="end">
      <ion-button>
        <ion-icon style="color: rgb(54, 204, 129);" name="checkmark-circle-outline">
    
        </ion-icon>
    
       </ion-button>
    </ion-buttons>
    <ion-title style="color: white;">
      Crear nueva regla
    </ion-title>
    </ion-toolbar>
  
</ion-header>

  <ion-content style="--background:#3c3c3c">
    <ion-item style="margin-top: 15px;" color="dark" fill="outline" mode="md">
      <ion-label position="floating">Etiqueta Fija (Obligatorio)</ion-label><ion-icon (click)="showToastEtiqueta()" slot="start" name="help-circle-outline" style="color: white;">

      </ion-icon>
      <ion-input [(ngModel)]="cmd" class="inpits" maxlength="20" ></ion-input>
    </ion-item >

    <ion-list style="background:#3c3c3c;padding:0px">
 


      <ion-radio-group color="danger" [(ngModel)]="tipoRespuesta">

        <ion-list-header style="color: white;" color="dark">
          Secuencia de preguntas y respuestas <ion-icon name="help-circle-outline" style="font-size: 22px;margin-left: 10px;" (click)="showToast()">
  
          </ion-icon>
        </ion-list-header>
              <ion-item color="dark">
                <ion-label style="color: rgb(228, 228, 228);">Flujo de conversación (No disponible Actualmente)  </ion-label>
                <ion-radio disabled="true" color="danger" value="PROCESS"></ion-radio>
              </ion-item>

              
        <ion-list-header style="color: white;" color="dark">
          Respuestas sencillas  <ion-icon name="help-circle-outline" style="font-size: 22px;margin-left: 10px;" (click)="showToastSencilla()">

          </ion-icon>
        </ion-list-header>

        <ion-item color="dark">
          <ion-icon  style="color: rgb(224, 224, 224);" slot="start" name="text-outline">

          </ion-icon>
          <ion-label style="color: rgb(228, 228, 228);">Texto</ion-label>
          <ion-radio color="danger" value="TXT"></ion-radio>
        </ion-item>


    
        <ion-item color="dark">
          <ion-icon style="color: rgb(224, 224, 224);" slot="start" name="image-outline">

          </ion-icon>
          <ion-label style="color: rgb(228, 228, 228);">Imagen</ion-label>
          <ion-radio color="danger" value="IMG"></ion-radio>
        </ion-item>
    

    
        <ion-item color="dark">
          <ion-icon style="color: rgb(224, 224, 224);" slot="start" name="document-attach-outline" >

          </ion-icon>
          <ion-label style="color: rgb(228, 228, 228);">Documentos</ion-label>
          <ion-radio color="danger" value="DOCUMENTS"></ion-radio>
        </ion-item>

        <ion-item color="dark">
          <ion-icon style="color: rgb(224, 224, 224);" slot="start" name="globe-outline" >

          </ion-icon>
          <ion-label style="color: rgb(228, 228, 228);">Enlace</ion-label>
          <ion-radio color="danger" value="URL"></ion-radio>
        </ion-item>

        
        <ion-item color="dark">
          <ion-icon style="color: rgb(224, 224, 224);" slot="start" name="storefront-outline">

          </ion-icon>
          <ion-label style="color: rgb(228, 228, 228);">Tienda de productos (En construccion)</ion-label>
          <ion-radio disabled="true" color="danger" value="SHOP"></ion-radio>
        </ion-item>

     

        <ion-item color="dark">
          <ion-icon style="color: rgb(192, 192, 192);" slot="start" name="location-outline" >

          </ion-icon>
          <ion-label style="color: rgb(228, 228, 228);">Ubicacion (En construccion) </ion-label>
          <ion-radio disabled="true" color="danger" value="LOCATIONS"></ion-radio>
        </ion-item>


        <ion-item color="dark">
          <ion-icon style="color: rgb(224, 224, 224);" slot="start" name="document-attach-outline" >

          </ion-icon>
          <ion-label style="color: rgb(228, 228, 228);">Redes sociales (En construccion)</ion-label>
          <ion-radio disabled="true" color="danger" value="SOCIAL"></ion-radio>
        </ion-item>

   


       
      </ion-radio-group>



<br>

    
  
 
 
    
    </ion-list>

    <ion-fab style="margin-bottom: 20%;" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="systemSendMsg" style="margin-left: 5px;width: 55px;height: 55px;margin-top: 5px;" color="danger" (click)="saveModal()">
        <ion-icon style="font-size: 29px;" name="save-outline" style="margin-left: 13px;"></ion-icon>
      </ion-fab-button>
    
    </ion-fab>

    <br>
    <br>
    <br>
    <br>
    <br>    <br>
    <br>
   
  </ion-content>