<ion-content class="page-container">

  <!-- HERO -->
  <div class="hero-block">
    <div class="hero-bg"></div>
    <div class="hero-glass">
      <h1>¿Cómo Funciona TheBusinessChat?</h1>
      <p>Automatizamos ventas, marketing y atención al cliente con tecnología oficial de WhatsApp.</p>
    </div>
  </div>

  <!-- PASOS -->
  <div class="section">
    <h1 style="margin-bottom: 20px;">Proceso en 4 pasos</h1>

    <div class="grid-3">

      <div class="glass-card">
        <ion-icon name="logo-whatsapp" size="large"></ion-icon>
        <h3>1. Conectamos tu negocio</h3>
        <p>Integramos WhatsApp Marketing API oficial a tu empresa o restaurante.</p>
      </div>

      <div class="glass-card">
        <ion-icon name="flash-outline" size="large"></ion-icon>
        <h3>2. Automatizamos respuestas</h3>
        <p>Bots inteligentes atienden clientes 24/7 sin perder oportunidades.</p>
      </div>

      <div class="glass-card">
        <ion-icon name="paper-plane-outline" size="large"></ion-icon>
        <h3>3. Enviamos campañas</h3>
        <p>Mensajes masivos segmentados con análisis de comportamiento.</p>
      </div>

      <div class="glass-card">
        <ion-icon name="stats-chart-outline" size="large"></ion-icon>
        <h3>4. Analizamos resultados</h3>
        <p>Mapa de calor, estadísticas y preferencias del cliente.</p>
      </div>

           <div class="glass-card">
        <ion-icon name="stats-chart-outline" size="large"></ion-icon>
        <h3>5. Generamos contenido</h3>
        <p>Con nuestra IA generamos contenido de marketing personalizado para tu negocio.</p>
      </div>

        <div class="glass-card">
        <ion-icon name="stats-chart-outline" size="large"></ion-icon>
        <h3>6. Optimizamos estrategias</h3>
        <p>Basado en los resultados, ajustamos estrategias de marketing para maximizar el impacto.</p>
      </div>

    </div>
  </div>

  <!-- CTA -->
  <div class="section">
    <ion-button class="btn-main" shape="round" routerLink="/login">
 <b style="color: white;">     Comenzar Ahora</b>
    </ion-button>
  </div>

</ion-content>
