ion-content{
    --padding-start:0%;
    --padding-end:0%;
    --background:#ffffff;
}
ion-col{
    padding: 0px;
}
ion-input{
    --padding-start:10px
}

.chip-filter {
  display: inline-flex;
  align-items: center;
  background: #f2f2f2;
  padding: 8px 14px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  gap: 6px;
  border: 1px solid #e5e5e5;
}

.chip-dot {
  width: 9px;
  height: 9px;
  background: #25A443; /* Verde */
  border-radius: 50%;
}

.chip-text {
  color: #000;
}

.chip-icon {
  font-size: 15px;
  color: #000;
}
.accordion-container {
  margin-top: 10px; /* Espacio entre el item y el accordion */
  padding: 10px; /* Espaciado interno para mejor visualización */
  border: 1px solid #ccc; /* Límites para separar los acordeones */
  border-radius: 5px;
  background-color: #f9f9f9; /* Fondo para destacar */
}

.zebra-item:nth-child(even) {
  --background: #f4f4f4; /* Color para pares */
}

.zebra-item:nth-child(odd) {
  --background: #ffffff; /* Color para impares */
}

  .tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  
    .truncate-text {
      font-size: 14px;
      display: inline-block;
      max-width: 150px; /* Ajusta según tu diseño */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .tooltip {
      position: fixed; /* Fijar fuera del flujo de los elementos */
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      z-index: 1000; /* Asegurar que esté encima de otros elementos */
      transform: translateX(-50%); /* Centrar horizontalmente */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      pointer-events: none; /* Evitar que interfiera con el mouse */
    }
  }
  
  .tooltip-container:hover .tooltip {
    display: block;
  }
  
  
  ion-item:hover {
    --background: #dfdfdf;
    cursor: pointer; /* Cambia el cursor a un puntero */
  }


  .card-content-ios {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 1rem;
    line-height: 1.4;
}




ion-grid {
  overflow-x: hidden; /* Evita que el grid contenga barras innecesarias */
}

/* Estilos para mostrar la barra de desplazamiento */
ion-row::-webkit-scrollbar {
  height: 8px;
}

ion-row::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

ion-row::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
