
<ion-content [fullscreen]="true">
      <ion-toolbar class="glass-toolbar" color="light" style="height: 33px;" translucent="true" mode="md">
    </ion-toolbar>
  <ion-toolbar class="headerPanel" mode="md" style="height: 60px;" color="light">
  <ion-buttons slot="start">
    <ion-menu-button style="color: black;"></ion-menu-button>
  </ion-buttons>


    <ion-title  style="color: #000000;font-style: italic;">
  <b>    Catalogar productos</b>

    </ion-title>

 


  </ion-toolbar>
  <ion-toolbar color="light" mode="md">
  <ion-buttons slot="start">
    <ion-menu-button style="color: black;"></ion-menu-button>
  </ion-buttons>
    <ion-title style="font-style: italic;">{{this.currentBusiness}}</ion-title>
 
  

    
<ion-buttons style="margin-right: 10px;" routerLink="/add-addons/{{this.currentBusiness}}" slot="end">
  
  <!-- <ion-toggle style="margin-left: 40px;" color="primary" *ngIf="currentBusiness !== 'all'" mode="ios" (ionChange)="onToggleChange($event)" [(ngModel)]="enableRestaurante">
    <ion-label style="color: #ffffff;" *ngIf="enableRestaurante"> </ion-label>
    <ion-label style="color: #ffffff;" *ngIf="!enableRestaurante"> </ion-label>
  
  </ion-toggle> -->
  <div class="chip-filter">
  <span class="chip-dot"></span>
  <span class="chip-text">Addons</span>
  <ion-icon name="chevron-down-outline" class="chip-icon"></ion-icon>
</div>
  </ion-buttons>

  </ion-toolbar>
<ion-grid style="background: #fff; --background:#fff">
  <ion-row>
    <ion-col size="12">
    
      <ion-breadcrumbs >

      
        <ion-breadcrumb >Categorias</ion-breadcrumb>
        <ion-breadcrumb *ngIf="showTooltip"> {{ showTooltipText}}</ion-breadcrumb>

        <ion-breadcrumb *ngIf="sizeSubcategoria > 0">Subcategoria</ion-breadcrumb>
        <ion-breadcrumb *ngIf="sizeSubcategoria2 > 0">Subcategoria 2</ion-breadcrumb>
        <ion-breadcrumb *ngIf="sizeSubcategoria3 > 0">Subcategoria 3</ion-breadcrumb>
        <ion-breadcrumb *ngIf="sizeProducts > 0">Producto</ion-breadcrumb>
        <ion-breadcrumb *ngIf="sizeDetails > 0">Detalles</ion-breadcrumb>
        <ion-breadcrumb *ngIf="sizeComplementosList > 0">Complementos</ion-breadcrumb>
    
        <ion-breadcrumb *ngIf="sizeComplementosCreate > 0">Agregar complemento</ion-breadcrumb>
    
      </ion-breadcrumbs>
    
    </ion-col>
  
  </ion-row>
</ion-grid>

  <ion-grid style="--background: #fff;background: #fff;">
    <ion-row #sliderRowEl style="display: flex; flex-wrap: nowrap; overflow-x: scroll; width: 100%;">
      
      <!-- Columna 1: Crear Categorías y mostrar lista de categorías -->
      <ion-col   [attr.size]="9"
      [attr.size-md]="sizeCategories" *ngIf="showCategoriaCards">

        <ion-card color="light" style="min-height: 500px; border-radius: 22px;">
          
          <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
            <ion-card-title style="font-size: 16px; font-weight: 600; text-align: center; color: #333;">
              Categorías
              <ion-icon 
                name="add-circle-outline" 
                style="color: #007aff; font-size: 24px; position: absolute; right: 0px;" 
                (click)="presentAlert()">
              </ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Lista de categorías -->
            <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
              <ng-container *ngFor="let category of categories">

              <ion-item class="hover1"  (click)="selectCategory(category)">
                <ion-reorder slot="start" style="color: black;"></ion-reorder>
                <ion-label
                [ngStyle]="{'color': !category.active ? 'red' : 'black'}"
                class="tooltip-container"
                (mouseenter)="onMouseEnter($event, category.name)"
                (mouseleave)="onMouseLeave()"
              >
              
                <span class="truncate-text">{{ category.name }}</span>
              </ion-label >
              
                <ion-icon   name="ellipsis-vertical" style="font-size: 18px;color: #000;" slot="end" 
                (click)="presentPopover($event, category, 'category')"></ion-icon>
              </ion-item>

            </ng-container>

            </ion-reorder-group>

          </ion-card-content>
       
        </ion-card>


      </ion-col>

   
      <ion-col  [attr.size]="11"
      [attr.size-md]="sizeSubcategoria" *ngIf="sizeSubcategoria !== 0">
        <ion-card style="min-height: 500px; border-radius: 22px;">
        

          <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
            <ion-card-title style="font-size: 16px; font-weight: bold; text-align: center; color: #333;">
              Subcategoria
      
       

            </ion-card-title>
          </ion-card-header>

          <ion-card-content style="padding-inline-end:0px;padding-inline-start:0px">
            <!-- Lista de productos -->
            <ion-reorder-group disabled="false" (ionItemReorder)="doReorderSubcategoria1($event)">
         
              <ion-item class="hover1"  *ngFor="let product of selectedCategory1.subcategorias; let indx = index" (click)="selectSubcategory(product, indx)">
                <ion-reorder style="color: black;" slot="start"></ion-reorder>
       <ion-label  style="font-size: 14px;color: #000;"  [ngStyle]="{'color': !product.active ? 'red' : 'black'}" >
        {{ product.nombre }} 

       </ion-label>
                <ion-icon   name="ellipsis-vertical" style="font-size: 18px;color: #000;" slot="end" 
                (click)="presentPopoverSubcategoria($event, product, 'product', indx)"></ion-icon>
              </ion-item>
            </ion-reorder-group>


 
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col  size="{{sizeSubcategoria2}}" *ngIf="sizeSubcategoria2 !== 0">
        <ion-card style="min-height: 500px; border-radius: 22px;" >
        

          <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
            <ion-card-title style="font-size: 16px; font-weight: bold; text-align: center; color: #333;">
              Subcategoria2
      
       

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
                   <!-- Lista de productos -->
                   <ion-reorder-group disabled="false" (ionItemReorder)="doReorderSubcategoria2($event)">
                    <ion-item *ngFor="let product of selectedCategory2.subcategorias; let indx = index" (click)="selectSubcategory2(product, indx)">
                      <ion-reorder slot="start"></ion-reorder>
                      <ion-label [ngStyle]="{'color': !product.active ? 'red' : 'black'}">
                        {{ product.nombre }}
                      </ion-label>
                      <ion-icon name="ellipsis-vertical" style="font-size: 18px;" slot="end" (click)="presentPopoverSubcategoria2($event, product, 'product', indx)"></ion-icon>
                    </ion-item>
                  </ion-reorder-group>
                  

            <!-- Lista de productos -->
      
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col [attr.size]="11"
      [attr.size-md]="sizeSubcategoria3" *ngIf="sizeSubcategoria3 !== 0">
        <ion-card style="min-height: 500px; border-radius: 22px;">
        

          <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
            <ion-card-title style="font-size: 16px; font-weight: bold; text-align: center; color: #333;">
              Subcategoria3
      
       

            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- Lista de productos -->
            <ion-list>
              <ion-item *ngFor="let product of selectedCategory3.subcategorias; let indx = index" (click)="selectSubcategory3(product, indx)">
                 {{ product.nombre }}
                <ion-icon name="ellipsis-vertical" style="font-size: 18px;"  slot="end"
                 (click)="presentPopoverSubcategoriaFinal($event, product, 'product', indx)"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Columna 2: Lista de productos de la categoría seleccionada -->
      <ion-col [attr.size]="11"
      [attr.size-md]="sizeProducts" *ngIf="sizeProducts !== 0">
        <ion-card style="min-height: 500px; border-radius: 22px;" color="light"> 
          <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
            <ion-card-title style="font-size: 16px; font-weight: bold; text-align: center; color: #333;">
           Productos
       
           <ion-icon  *ngIf="sizeCategories > 0 && sizeProducts > 0 && sizeSubcategoria === 0"
           name="add-circle-outline" 
           style="color: #2074ce; font-size: 24px; position: absolute; right: 0px;" 
           (click)="openCreateProductModal({inactive: true}, 'create')">
         </ion-icon>
       
         <ion-icon  *ngIf="sizeCategories > 0 && sizeProducts > 0 && sizeSubcategoria > 0 && sizeSubcategoria2 === 0"
          name="add-circle-outline" 
          style="color: #20ce83; font-size: 24px; position: absolute; right: 0px;" 
          (click)="openCreateProductModal2(0,{inactive: true}, 'create')">
        </ion-icon>

        <ion-icon  *ngIf="sizeCategories > 0 && sizeProducts > 0 && sizeSubcategoria > 0 && sizeSubcategoria2 > 0 && sizeSubcategoria3 === 0"
          name="add-circle-outline" 
          style="color: #ce2057; font-size: 24px; position: absolute; right: 0px;" 
          (click)="openCreateProductModal3(0,{inactive: true}, 'create')">
        </ion-icon>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- Lista de productos -->
            <ion-list>
              <ion-reorder-group (ionItemReorder)="doReorderProducts($event)" disabled="false">
                <ion-item class="hover2" *ngFor="let product of selectedCategoryProduct.products; let indx = index" (click)="selectProduct(product, indx)">
                 <ion-label style="font-size: 14px;"   [ngStyle]="{'color': !product.active ? 'red' : 'black'}" >
                  {{ product.nombre }}
                 </ion-label>
                  <ion-icon  name="ellipsis-vertical" style="font-size: 18px;color: #000;" slot="end" 
                  (click)="presentPopoverProductos($event, product, indx)"></ion-icon>
                  <ion-reorder slot="start" style="color: black;"></ion-reorder>
                </ion-item>
              </ion-reorder-group>
            </ion-list>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <!-- Columna 3: Detalles del producto seleccionado -->
      <ion-col  [attr.size]="11"
      [attr.size-md]="4.5"  *ngIf="selectedProduct">
        <ion-card style="min-height: 500px; border-radius: 22px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" color="light">
          <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
            <ion-card-title style="font-size: 18px; font-weight: bold; text-align: center; color: #333;">
              Detalles
              <ion-icon *ngIf="sizeSubcategoria === 0" 
                name="save-outline" 
                style="color: #4aa2ff; font-size: 24px; position: absolute; right: 20px;" 
                (click)="saveProductChanges()">
              </ion-icon>

              <ion-icon  *ngIf="sizeSubcategoria > 0"
              name="save-outline" 
              style="color: #008d70; font-size: 24px; position: absolute; right: 20px;" 
              (click)="saveProductChanges2()">
            </ion-icon>
            <ion-icon  *ngIf="sizeSubcategoria2 > 0"
              name="save-outline" 
              style="color: #7300ff; font-size: 24px; position: absolute; right: 20px;" 
              (click)="saveProductChanges3()">
            </ion-icon>
              <ion-icon 
              name="close-circle-outline" 
              style="color: #007aff; font-size: 24px; position: absolute; left: 20px;" 
              (click)="cancelDetailsProduct2()">
            </ion-icon>

            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="padding: 20px;">
            <!-- Nombre y Precio -->
            <ion-grid>
              <ion-row>
    
                <ion-col [attr.size]="12">
                  <div style="text-align: center;">
       <img src="{{selectedProduct.imageLowRes}}" style="height: 100px; width: 100px;border-radius: 15px;">

                    <!-- Input de archivo oculto -->
                    <input 
                      type="file" 
                      style="margin-top: 20px;display: none;"
                      (change)="onFileSelected($event, 'imageLowRes')" 
                      accept="image/*" 
                     
                      #fileInput>
                  </div>
                </ion-col>
                <ion-col  [attr.size]="12"
                 class="fade-in-element">
                  <ion-item lines="none">
                    <ion-label style="color: black;">Activar producto</ion-label>
                    <ion-toggle slot="end"
                      [checked]="selectedProduct.active" 
                      (ionChange)="toggleActive($event)">
                    </ion-toggle>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label style="color: black;">Producto Destacado</ion-label>
                    <ion-toggle slot="end"
                      [checked]="selectedProduct.destacado" 
                      (ionChange)="toggleActiveDestacado($event)">
                    </ion-toggle>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label style="color: black;">Producto Exclusivo</ion-label>
                    <ion-toggle slot="end"
                      [checked]="selectedProduct.exclusivo" 
                      (ionChange)="toggleActiveExclusivo($event)">
                    </ion-toggle>
                  </ion-item>
                </ion-col>
                <!-- Nombre
                nombre
                precio
                descr
                
                

                duplicar restaurantes y activar eliminar


                nosotros ver todos los clientes

                nombre
                correo
                telefono
                id cliente
                fecha de registro


                settings> bloquear - borrar- editar

                clientepage

                historial de pedidos a todos los restaurantes para admin
                historial de pedidos de su restaurante para el cliente

                cumpleaños y sexo


                codigos promocionales crear lista yque vaya quitando 


                porcentaje

                -->

                <ion-col size="12">
                  <div style="position: relative;">
                    <p style="font-size: 16px; font-weight: bold; color: #555;">Nombre</p>
                    <ion-input 
                      [(ngModel)]="selectedProduct.nombre" 
                      placeholder="Editar nombre" 
                      style="font-size: 16px;">
                    </ion-input>
                    <ion-icon 
                      name="save-outline" 
                      style="position: absolute; right: 10px; top: 35px; color: #007aff;" 
                      (click)="saveProductChanges()">
                    </ion-icon>
                  </div>
                </ion-col>
          <ion-col size="1">

          </ion-col>
                <!-- Precio -->
                <ion-col size="12">
                  <div style="position: relative;">
                    <p style="font-size: 16px; font-weight: bold; color: #555;">Precio</p>
                    <ion-input 
                      type="number" 
                      [(ngModel)]="selectedProduct.precio" 
                      placeholder="Editar precio" 
                      style="font-size: 16px;">
                    </ion-input>
                    <ion-icon 
                      name="create-outline" 
                      style="position: absolute; right: 10px; top: 35px; color: #007aff;" 
                      (click)="enableEdit('precio')">
                    </ion-icon>
                  </div>
                </ion-col>
              </ion-row>
          
              <!-- Descripción e Imagen -->
              <ion-row>
                <!-- Descripción -->
                <ion-col size="12">
                  <div style="position: relative;">
                    <p style="font-size: 16px; font-weight: bold; color: #555;">Descripción</p>
                    <ion-textarea 
                      [(ngModel)]="selectedProduct.desc" 
                      placeholder="Editar descripción" 
                      style="font-size: 16px;color: #000;">
                    </ion-textarea>
                    <ion-icon 
                      name="create-outline" 
                      style="position: absolute; right: 10px; top: 35px; color: #007aff;" 
                      (click)="enableEdit('desc')">
                    </ion-icon>
                  </div>
                </ion-col>

       
         
      
        
              </ion-row>
            </ion-grid>
      
       
       
          </ion-card-content>
          
        </ion-card>
      </ion-col>

      <ion-col [attr.size]="12"
      [attr.size-md]="5" *ngIf="selectedProduct">
        <ion-card color="light" style="min-height: 500px; border-radius: 22px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <ion-card-header style="background-color: #f4f5f7; border-radius: 20px 20px 0 0;">
            <ion-card-title style="font-size: 18px; font-weight: bold; text-align: center; color: #333;">
              Complementos
              <ion-icon *ngIf="sizeSubcategoria === 0" 
                name="save-outline" 
                style="color: #4aa2ff; font-size: 24px; position: absolute; right: 20px;" 
                (click)="saveProductChanges()">
              </ion-icon>

              <ion-icon  *ngIf="sizeSubcategoria > 0"
              name="save-outline" 
              style="color: #008d70; font-size: 24px; position: absolute; right: 20px;" 
              (click)="saveProductChanges2()">
            </ion-icon>
            <ion-icon  *ngIf="sizeSubcategoria2 > 0"
              name="save-outline" 
              style="color: #7300ff; font-size: 24px; position: absolute; right: 20px;" 
              (click)="saveProductChanges3()">
            </ion-icon>
   

            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="padding: 0px;">
            <!-- Nombre y Precio -->
            <ion-grid>
   
              <!-- Descripción e Imagen -->
              <ion-row>
                <!-- Descripción -->
      
                <ion-col size="12">
                    <ion-button  color="dark" mode="ios" (click)="selectComplementModal()">
                      <b style="color: white;">Asignar complemento</b>
                    </ion-button>
                </ion-col>
           <ion-col size="12">
            <ion-list>
              <ion-list-header>
                <ion-label style="font-size: 13px;">Complementos asignados</ion-label>
              </ion-list-header>
              <ion-reorder-group disabled="false" (ionItemReorder)="reorderToppings($event)">
                <ion-item class="zebra-item" *ngFor="let item of selectedProduct.addons; let i = index" lines="full">
                  <ion-reorder slot="start" style="color: black;"></ion-reorder>
              
                  <ion-label style="font-size: 12px;color: #000;">
                    <h2 style="font-weight: bold;font-size: 11px;color: #000;">{{ item.nameTopping }}</h2>
                    <p style="margin: 0;font-size: 11px;color: black;">Tipo: {{ item.type }}</p>
                    <p style="margin: 0;font-size: 11px;color: black;">Obligatorio: {{ item.isMandatory }}</p>
                    <p style="margin: 0;font-size: 11px;color: black;" *ngIf="item.type === 'increment'">
                      Min: {{ item.min || 0 }} - Max: {{ item.max || 0 }}
                    </p>
                    <br>
                
                  </ion-label>
                  <ion-label slot="end" style="color: black;">
                  <p style="margin: 0;font-size: 10px;color: black;" *ngFor="let itemk of item.arrayToppings">
                       {{ itemk.name || 0 }}<br>
                       Precio: ${{ itemk.Precio || 0 }}<br><br>
                    </p>
                  </ion-label>
                     
                  <ion-icon
                    name="trash"
                    slot="end"
                    color="primary"

                    (click)="removeTopping(i)"
                    style="cursor: pointer;font-size: 20px;color: red;"
                  ></ion-icon>
                </ion-item>
              
        
              </ion-reorder-group>
              
              
              
              
            </ion-list>
           </ion-col>
        
              </ion-row>
            </ion-grid>
      
       
       
          </ion-card-content>
          
        </ion-card>
      </ion-col>

       <!-- Columna 2: Lista de productos de la categoría seleccionada DEPRECTATED -->
  
    </ion-row>
  </ion-grid>



</ion-content>
