.map-container {
    position: relative;
    margin: 0px;
    max-height: 180px;
    text-align: center;
  }
  
  .edit-marker-btn {
    position: absolute;
    bottom: 3px;
    left: 2%;
    background: white;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  