<ion-header >
  <ion-toolbar color="dark" mode="md">
    <ion-buttons (click)="closeModal()" slot="start">
      <ion-button style="    margin-inline-start: -8px;--padding-end:0px">
       <ion-icon name="close-circle-outline" style="color: rgb(214, 214, 214);font-size: 28px;">
   
       </ion-icon>
   
      </ion-button>
   
       </ion-buttons>
    <ion-buttons slot="start">
      
      <ion-back-button style="color: rgb(210, 210, 210);">

      </ion-back-button>

    </ion-buttons>
    
   
    
    



    <ion-title style="color: rgb(215, 215, 215);font-size: 17px;">{{this.name}}
      <br> <div style="font-size: 10px;"> {{this.street}}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  style="--background: #111111;">

<div class="padidor">
 
  <img class="imgPortada" (click)="openImg()" [src]="mapUrl" >
      <div id="map-container">
    
      <!-- La imagen del mapa se insertará aquí -->
  </div>
<ion-grid   >

  <ion-row style="background: #111111;">
    
    <div style="text-align: center;">
      <img  src="{{this.croppedImage}}" style="border-radius: 20px;max-height: 150px;max-width: 150px;" id="imagenProfile2"   />
    </div>


    <ion-col class="gridShow"  size="4">
      <div style="
      margin-left: 10px;
    display: inline-block; 
    overflow: hidden; 
    border-radius: 50%; 
    background: linear-gradient(to right, #2d59e9, #bd4ff0); 
    padding: 5px;
">
    <div style="
        overflow: hidden; 
        border-radius: 50%; 
        position: relative; 
        background: #111; 
        padding: 3px;
    ">

        <img (click)="openImg()" src="https://w7.pngwing.com/pngs/806/991/png-transparent-logo-logo-whatsapp-logo-text-trademark-sticker-thumbnail.png" 
            style="max-width: 120px; min-width: 120px; display: block; border-radius: 50%; position: relative; z-index: 2;
            max-height: 120px;min-height: 120px;">
    </div>
</div>
      </ion-col>
      <ion-col size="0.5">

      </ion-col>
      <ion-col  class="gridShowCamera" size="1.5">
        <div (click)="shareGralLoc('var1','var2')" style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
          <ion-icon name="share-social-outline" style="color: rgb(238, 238, 238);margin-top: 12px;font-size: 22px;">
      
          </ion-icon>
          <input style="display: none;"  type="file" id="upload2" accept="image/x-png,image/jpeg" onchange="process9()" />
          <button style="display: none;" id="btnUpload3" (click)="uploadImg()"></button>
          <div style="display: none;" id="resetArrayImg2" (click)="resetArray()"></div>
          <button style="display: none;" id="btnUpload2" (click)="newBot()"></button>
        </div>
      </ion-col>
  
      <ion-col  class="gridShow"  size="5">
 
        <ion-button style="--background: #111;margin-top: 85px;" >
          <div style="text-align: center;background: #3f3f3f;color: white;
          border-radius: 10px;font-size: 12px;padding: 8px;font-weight: bold;">
                  Costo de envio: ${{this.costoEnvio}}

          </div>
          </ion-button>
        </ion-col>
        <ion-col size="1.5">

        </ion-col>
      <ion-col size="12">
        <div style="margin-left: 1px;">
          <div style="text-align: left; font-weight: bold; font-size:22px;color: white;padding-bottom: 5px;margin-left: 10px;">
            {{this.name}}  
         
           </div>
         
        </div>
      
      </ion-col>
      
      <ion-col size="12">
        <div style="margin-left: 1px;">
  
      <div style="text-align: left; font-weight: bold; font-size: 14px;color: rgb(172, 172, 172);margin-left: 10px;" >
      Etiquetas: <b *ngIf="this.admin === false"> Client </b> <b *ngIf="this.admin === true"> Administrator </b> <b *ngIf="this.admin === 'Coach'"> Coach </b>
      <ion-chip color="danger" style="background: rgb(15, 182, 140);">
        <b style="color:white">{{this.tag}}</b>
      </ion-chip><br>
      Sucursal:
      <ion-chip color="danger" style="background: rgb(101, 15, 182);">
        <b style="color:white">{{this.sucursal}}</b>
      </ion-chip>
    </div>

  
    </div>

      </ion-col>
      <ion-col size="12">
        <div style="text-align: center;padding: 10px;color: white;">
          {{this.desc}} <ion-icon name="create-outline" (click)="presentTextAlert()" style="font-size: 20px;" *ngIf="owner">

          </ion-icon>
        </div>
      </ion-col>

<ion-col style="margin-top: 0px;" size="8">
  <div style="text-align: left;padding: 10px;color: white;">

  Estadisticas de compra
</div>
</ion-col>

<ion-col size="12">
  <ion-row>

    <ion-col size="2.5">
      <div style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
        <ion-icon name="logo-usd" style="color: rgb(108, 251, 120);margin-top: 12px;font-size: 22px;">
    
        </ion-icon>
      </div>
    </ion-col>
    <ion-col size="6.5">
      <div style="font-weight: bold;text-align: left;font-size: 14px;margin-top: 5px;color: white;">
       <b style="font-weight: bold;font-size: 18px;color: rgb(63, 218, 184);"> ${{this.gastoTotal}}</b><br>
     
      Gastos totales del cliente
    
      </div>
    </ion-col>
    <ion-col  style="margin-top: 10px;" size="3">
  
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 10px;">

    <ion-col size="2.5">
      <div style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
        <ion-icon name="cart" style="color: rgb(238, 238, 238);margin-top: 12px;font-size: 22px;">
    
        </ion-icon>
      </div>
    </ion-col>
    <ion-col size="6.5">
      <div style="font-weight: bold;text-align: left;font-size: 14px;margin-top: 5px;color: white;">
       <b style="font-weight: bold;font-size: 18px;"> {{this.pedidosUserArray.length}}</b><br>
      Numero de compras
    
      </div>
    </ion-col>
    <ion-col  style="margin-top: 10px;" size="3">
      
    </ion-col>
  </ion-row>
</ion-col>

<ion-col style="margin-top: 10px;" size="9">
  <div style="text-align: left;padding: 10px;color: white;">

Producto Favorito
</div>
</ion-col>
  
<ion-col style="margin-top: 10px;" size="3">
  
</ion-col>
<ion-col size="2.5">
  <div style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
    <ion-icon name="star" style="color: rgb(255, 229, 83);margin-top: 12px;font-size: 22px;">

    </ion-icon>
  </div>
</ion-col>
<ion-col size="9.5">
  <div style="font-weight: bold;text-align: left;font-size: 12px;margin-top: 5px;color: white;">
   <b style="font-weight: bold;font-size: 16px;font-style: italic;color: white;"> {{this.favProd}} ({{this.favProdTimes}} veces)</b><br>
  Producto

  </div>
</ion-col>

<ion-col style="margin-top: 10px;" size="9">
  <div style="text-align: left;padding: 10px;color: white;">

Informacion de contacto
</div>
</ion-col>
  
<ion-col style="margin-top: 10px;" size="3">
  
</ion-col>
<ion-col size="2.5">
  <div style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
    <ion-icon name="call-outline" style="color: rgb(238, 238, 238);margin-top: 12px;font-size: 22px;">

    </ion-icon>
  </div>
</ion-col>
<ion-col size="9.5">
  <div style="font-weight: bold;text-align: left;font-size: 12px;margin-top: 5px;color: white;">
   <b style="font-weight: bold;font-size: 16px;font-style: italic;color: white;"> {{this.typeCart}}</b><br>
  Celular
 
  </div>
</ion-col>

<br>
<ion-col style="margin-top: 10px;" size="9">
  <div style="text-align: left;padding: 10px;color: white;">

  Ubicacion de contacto
</div>
</ion-col>
  
<ion-col style="margin-top: 10px;" size="3">
  
</ion-col>
<ion-col size="2.5">
  <div style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
    <ion-icon name="location-outline" style="color: rgb(238, 238, 238);margin-top: 12px;font-size: 22px;">

    </ion-icon>
  </div>
</ion-col>
<ion-col size="9.5">
  <div style="font-weight: bold;text-align: left;font-size: 12px;margin-top: 5px;color: white;">
   <b style="font-weight: bold;font-size: 15px;font-style: italic;color: rgb(236, 236, 236);"> {{this.street}}</b><br>
  Dirección completa
  <ion-icon name="create-outline" (click)="presentTextAlertNameAdminCorreo()" 
  style="font-size: 20px;" *ngIf="admin"></ion-icon>

  </div>
</ion-col>

<ion-col style="margin-top: 10px;" size="9">
  <div style="text-align: left;padding: 10px;color: white;">

  Basic information
</div>
</ion-col>
  
<ion-col style="margin-top: 10px;" size="3">
 
</ion-col>


<ion-col size="12">
  <ion-row>

    <ion-col size="2.5">
      <div style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
        <ion-icon name="sparkles-outline" style="color: rgb(238, 238, 238);margin-top: 12px;font-size: 22px;">
    
        </ion-icon>
      </div>
    </ion-col>
    <ion-col size="6.5">
      <div style="font-weight: bold;text-align: left;font-size: 12px;margin-top: 5px;color: white;">
       <b style="font-weight: bold;font-size: 16px;color: white;"> {{this.hbd}}</b>
       <br>
      Birthday
    
      </div>
    </ion-col>
    <ion-col (click)="presentDateAlert()"  style="margin-top: 10px;" size="3">
      <div style="text-align: center;padding: 10px;color: rgb(105, 201, 145);">
      Edit
    </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 10px;">

    <ion-col size="2.5">
      <div style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
        <ion-icon name="male-female-outline" style="color: rgb(238, 238, 238);margin-top: 12px;font-size: 22px;">
    
        </ion-icon>
      </div>
    </ion-col>
    <ion-col size="6.5">
      <div style="font-weight: bold;text-align: left;font-size: 12px;margin-top: 5px;color: white;">
       <b style="font-weight: bold;font-size: 16px;color: white;"> {{this.gender}}</b><br>
      Gender
    
      </div>
    </ion-col>
    <ion-col (click)="getGender()"  style="margin-top: 10px;" size="3">
      <div style="text-align: center;padding: 10px;color: rgb(105, 201, 145);">
      Edit
    </div>
    </ion-col>
  </ion-row>
</ion-col>

<ion-col style="margin-top: 10px;" size="9">
  <div style="text-align: left;padding: 10px;color: white;">

 Transparencia del perfil
</div>
</ion-col>
  
<ion-col style="margin-top: 10px;" size="3">
 
</ion-col>
<ion-col size="12">
  <ion-row>

    <ion-col size="2.5">
      <div style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
        <ion-icon name="timer-outline" style="color: rgb(238, 238, 238);margin-top: 12px;font-size: 22px;">
    
        </ion-icon>
      </div>
    </ion-col>
    <ion-col size="9.5">
      <div style="font-weight: bold;text-align: left;font-size: 12px;margin-top: 5px;">
       <b style="font-weight: bold;font-size: 16px;color: white;"> {{this.quejas}}</b>
       <br>
      Quejas realizadas
    
      </div>
    </ion-col>
    
    <ion-col style="margin-top: 10px;" size="2.5">
      <div style="background: rgb(54, 54, 54);text-align: center;border-radius: 50%;height: 45px;width: 45px;margin-left: 10px;">
        <ion-icon name="finger-print-outline" style="color: rgb(238, 238, 238);margin-top: 12px;font-size: 22px;">
    
        </ion-icon>
      </div>
    </ion-col>
    <ion-col style="margin-top: 10px;" size="9.5">
      <div style="font-weight: bold;text-align: left;font-size: 12px;margin-top: 5px;">
       <b style="font-weight: bold;font-size: 16px;"> {{this.nocivo}}</b>
       <br>
      Actitudes nocivas
    
      </div>
    </ion-col>
  </ion-row>
</ion-col>





  </ion-row>

  <br>
  <br>
</ion-grid>

    
<ion-list style="padding: 0px; background: #232323;" *ngIf="loaded === 0">
  
  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>  <ion-item color="warning">
    <ion-thumbnail slot="start">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>













</div>








</ion-content>