<ion-header class="glass-header">
  <ion-toolbar>
        <ion-buttons (click)="dismissModal()" slot="start">
      <ion-buttons>
        <ion-icon name="close-circle-outline" style="font-size: 25px;">

        </ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      Agregar filtro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="glass-bg">

  <div class="glass-container">
    <div 
      class="glass-card"
      *ngFor="let item of arrayVariables"
      (click)="selectedFilter(item)">

      <div class="glass-name">
        {{item.Name}}
      </div>

      <div class="glass-desc">
        {{item.Desc}}
      </div>

    </div>
  </div>

</ion-content>
