<ion-header translucent="true">
  <ion-toolbar class="glass-header">
    <ion-title>Control Multimedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="glass-content">

  <div class="container">

    <!-- SELECT TYPE -->
    <ion-item class="glass-item">
      <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="menuType" interface="popover" placeholder="Selecciona uno">
        <ion-select-option value="Menu">Menu</ion-select-option>
        <ion-select-option value="Promo">Promo</ion-select-option>
        <ion-select-option value="Banner">Banner</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- SUBIR IMAGEN -->
    <div class="upload-box">
      <label class="upload-label">Subir Imagen</label>
      <input type="file" accept="image/*" (change)="onFileSelected($event)">
    </div>

    <!-- PREVIEW -->
    <div class="preview" *ngIf="previewImg">
      <img [src]="previewImg">
    </div>

    <!-- BOTÓN GUARDAR -->
    <ion-button expand="block" class="glass-btn" (click)="guardarMenu()">
      Guardar Menú
    </ion-button>

  </div>

</ion-content>
