.glass-content {
  --background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
}

.container {
  padding: 20px;
}

.glass-header {
  backdrop-filter: blur(25px);
  --background: rgba(255, 255, 255, 0.12);
  --color: white;
}

.glass-item {
  --background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 20px;
}

.upload-box {
  background: rgba(255, 255, 255, 0.15);
  border: 2px dashed rgba(255, 255, 255, 0.25);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.preview {
  width: 100%;
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
}

.preview img {
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.glass-btn {
  --background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  --border-radius: 16px;
}
