
<ion-header>
  <ion-toolbar>
    <ion-title>Nueva campaña WhatsApp</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="campaignForm" class="form">

    <ion-item>
      <ion-label>Tipo de media</ion-label>
      <ion-select formControlName="mediaType">
        <ion-select-option value="image">Imagen</ion-select-option>
        <ion-select-option value="video">Video</ion-select-option>
      </ion-select>
    </ion-item>

<ion-item *ngIf="campaignForm.value.mediaType === 'image'">
  <ion-label position="stacked">Imagen</ion-label>
  <input
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
  />
</ion-item>

    <ion-item *ngIf="campaignForm.value.mediaType === 'video'">
      <ion-label position="stacked">Video URL</ion-label>
      <ion-input formControlName="videoUrl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select formControlName="gender">
        <ion-select-option value="all">Todos</ion-select-option>
        <ion-select-option value="female">Mujeres</ion-select-option>
        <ion-select-option value="male">Hombres</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Edad mínima</ion-label>
            <ion-input type="number" formControlName="agemin"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Edad máxima</ion-label>
            <ion-input type="number" formControlName="agemax"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label>Stock ADX</ion-label>
      <ion-select formControlName="numberStock">
        <ion-select-option [value]="1">1</ion-select-option>
        <ion-select-option [value]="2">2</ion-select-option>
        <ion-select-option [value]="3">3</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Presupuesto diario</ion-label>
      <ion-input type="number" value="40" formControlName="dailyBudget"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">WhatsApp</ion-label>
      <ion-input formControlName="whatsappNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mensaje</ion-label>
      <ion-textarea rows="3" formControlName="message"></ion-textarea>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="submit()" [disabled]="campaignForm.invalid || loading">
      {{ loading ? 'Creando...' : 'Crear campaña' }}
    </ion-button>

  </form>
</ion-content>
