<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asignación pendiente</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="waiting-content">
<br>
  <div class="waiting-container" style="margin-left: 10px;margin-right: 10px;">
    <ion-icon name="time-outline" class="waiting-icon"></ion-icon>
    <h2>Estamos casi listos!</h2>
    <p>Para obtener un restaurante, por favor contacta vía WhatsApp:</p>
    <h3>+52 833 428 5513</h3>

    <ion-button expand="block" color="dark" shape="round" (click)="openWhatsapp()">
      <ion-icon slot="start" name="logo-whatsapp" style="color: white;"></ion-icon>
    <b style="color: white;">  Abrir WhatsApp</b>
    </ion-button>
  </div>

</ion-content>
