.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.281); // fondo gris oscuro traslúcido
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999999999; // por encima de todo
}
.ionicon{
  color: #000 !important;
  stroke: rgb(0, 0, 0);

}
ionicon {
  stroke: rgb(0, 0, 0);
  color: #000 !important;

}

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
    color: #e21616;
}

.item-detail-icon {
  color: #000 !important;

}

.ionicon{
  color: #000 !important;
}
.icon-inner{
  color: #000 !important;
  stroke: rgb(0, 0, 0);

}
icon-inner{
  color: #000 !important;
  stroke: rgb(0, 0, 0);

}
.alert-box {
  background: white;
  border-radius: 20px;
  padding: 20px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 75%;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
}

.alert-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 145px;
  margin-bottom: 16px;
}

.alert-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animated-button {
    animation: fadeInUp 1s ease-in-out;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px); /* Start 50px below */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End in normal position */
    }
  }
  

  .card-container {
    width: 350px;
    padding: 18px;
    border-radius: 15px;
    background: linear-gradient(135deg, #1a1a1a, #000000);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 18px auto;
    position: relative;
  }

  .card-subtitle {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 9px;
  }
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 9px;
  }

  .card-details {
    font-size: 0.9em;
    line-height: 1.6;
  }

  .card-details div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .card-details div label {
    font-weight: bold;
  }

  .card-number {
    font-size: 1.4em;
    letter-spacing: 2px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
  }

  .copy-button {
    background-color: #ffffff;
    color: #FF6347;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s;
  }

  .copy-button:hover {
    background-color: #FF6347;
    color: #ffffff;
  }

  .footer {
    text-align: center;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 15px;
    width: 100%;
  }

  .capture-box {
    width: 180px;
    height: 180px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed gray;
    border-radius: 10px;
    color: gray;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
  }
  
  .capture-box p {
    margin: 5px 0 0 0;
    font-size: 12px;
  }
  .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.custom-action-sheet {
  --background: rgba(25, 25, 25, 0.95);
  --color: #fff;
  text-align: center;

  ion-icon {
    color: #00b4d8;
  }

  ion-button,
  button {
    color: #fff;
  }
}

.line {
  flex-grow: 1;
  height: 0.5px;
  background-color: #e4e4e4;
}

   ion-content{
      --background: #ffffff;
         --padding-start: 0%;
        --padding-end: 0%;
    }

    .my-skeleton {
  /* Fondo más oscuro */
  --background: #8a8a8a;
  --background-rgb: 138, 138, 138;

  /* Shimmer más visible */
  --shimmer-color: #ffffff44;
  --shimmer-color-rgb: 255, 255, 255;

  border-radius: 6px;
}

.floating-back {
  position: fixed;
  top: 9px;
  left: 16px;
  z-index: 9999;

  width: 44px;
  height: 44px;

  --border-radius: 50%;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
  --background: #ffffff;
  --color: #111;

  ion-icon {
    font-size: 22px;
  }
}


.payment-card {
  --background: #ffffff;
  border-radius: 16px;
  margin: 10px 0;
  padding: 14px 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;

  &.selected {
    border: 2px solid #34c759;
  }
}
.payment-card-top {
  --background: #ffffff;
  border-radius: 16px;
  margin: 10px 0;
  padding: 14px 12px;
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;

  &.selected {
    border: 2px solid #34c759;
  }
}
.left {
  margin-right: 12px;

  .icon {
    width: 36px;
    height: 36px;
  }
}

.content {
  flex: 1;

  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #111;
  }

  p {
    margin: 2px 0 0;
    font-size: 13px;
    color: #6b6b6b;
  }
}

.right {
  display: flex;
  align-items: center;

  ion-radio {
    --color: #d1d1d6;
    --color-checked: #34c759;
  }
}

.check-icon {
  font-size: 26px;
  color: #34c759;
}



.summary-card {
  background: #f4f4f4;
  border-radius: 22px;
  padding: 16px;
  margin: 9px 0px 0px 0px;

  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.06),
    inset 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* MÉTODO DE PAGO */
.payment-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  border-radius: 18px;
  padding: 14px;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
}

.payment-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.payment-icon {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background: #eaf5ea;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.payment-title {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.payment-subtitle {
  font-size: 13px;
  color: #666;
}

/* DIVISOR */
.divider {
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  margin: 14px 0;
}

/* FILAS DE PRECIO */
.price-row {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #111;
  margin-bottom: 10px;
}

/* TOTAL */
.total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.total-row span:first-child {
  font-size: 16px;
  font-weight: 600;
}

.total-amount {
  font-size: 18px;
  font-weight: 700;
  color: #2e7d32; // verde pro
}






.checkout-footer {

  height: 77px;

  padding: 10px 14px env(safe-area-inset-bottom);
}

.checkout-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Total */
.total-box {
  flex: 0.5;
  background: #f7f7f7;
  border-radius: 16px;
  padding: 10px 12px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.04);
}

.total-label {
  font-size: 11px;
  color: #555;
  margin-bottom: 2px;
}

.total-amount {
  font-size: 22px;
  font-weight: 800;
  color: #0a4b37;
}

/* Botón */
.checkout-btn {
  flex: 1.3;
  height: 48px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  --background: linear-gradient(135deg, #1c1f24, #2c2f36);
  --box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.checkout-btn ion-spinner {
  --color: #ffffff;
}
