/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
.toast-white-text {
  --color: #ffffff;
  --background: #1e1e1e;
}
.side-modal {
  --width: 480px;
  --height: 100%;
  --border-radius: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  animation: slideInRight 0.4s ease;
}
.message-popover::part(content) {
  background: linear-gradient(135deg, #ffffff, #ffffff) !important;
  backdrop-filter: blur(20px) saturate(180%) !important;
}
.popover-arrow::after {
        background: #fff;
        backdrop-filter: saturate(180%) blur(20px);
    }
.message-popover::part(arrow) {
  --background: linear-gradient(135deg, #ffffff, #ffffff) !important;
}




.fullscreen-modal {
  --height: 100%;
  --width: 100%;
  --border-radius: 0;
}
.flow-modal {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
  
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */
 ion-accordion.accordion-animated > [slot=header] .ion-accordion-toggle-icon {
  color: rgb(145, 145, 145);
  transition: 300ms transform cubic-bezier(0.25, 0.8, 0.5, 1);
}
.item-detail-icon {
  color: rgb(114, 114, 114); /* cambia el color */
  font-size: 24px; /* tamaño */
  opacity: 1; /* visibilidad */
  margin-inline-start: 8px; /* margen izquierdo */
  margin-inline-end: -4px; /* margen derecho */
}

 ion-item{
 .icon-inner {
    color: #000;;
 }
 .ionicon {
    color: black;
}
 }
 .icon-inner {
    stroke: rgb(47 47 47);
 }
.icon-inner, .ionicon {
    color: black;
}
/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
.input-wrapper.sc-ion-input-ios input.sc-ion-input-ios {
    color: black;
}
.modal-handle{
background: #000000;
}
.list-ios {
  background: #ffffff;

}
ion-item {
  --background: #ffffff;
  background: #ffffff;
  --inner-border-width: 0px 0px 0px 0px;

}



.ionicon{
  color: #000 !important;
  stroke: rgb(0, 0, 0);

}
ionicon {
  stroke: rgb(0, 0, 0);
  color: #000 !important;

}

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
    color: #e21616;
}

.item-detail-icon {
  color: #000 !important;

}

.ionicon{
  color: #000 !important;
}
.icon-inner{
  color: #000 !important;
  stroke: rgb(0, 0, 0);

}
.item-detail-icon {
  color: #bebebe !important;
  opacity: 1 !important;
}
ion-item::part(detail-icon) {
  color: #c2c2c2 !important; /* tu color */
  opacity: 1 !important;     /* asegúrate que sea visible */
}

.sc-ion-alert-ios-h {
--background: #ffffff;
color:black

}
.alert-title.sc-ion-alert-ios {
  color: #000;
}
.alert-input.sc-ion-alert-ios {
  background-color: #f8fff7;
  color: #000;
}
.alert-message.sc-ion-alert-ios {
  color: #000;
}
.alert-radio-label.sc-ion-alert-ios {
  color: #000;
}
ion-title{
  --color: rgb(0, 0, 0);
}

.boton-verde {
  color: green !important;
  font-weight: bold;
}

.boton-rojo {
  color: red !important;
  font-weight: bold;
}
  ion-row{
  padding: 0px;
  }
  ion-col{
  padding: 0px;
  }
 ion-grid{
  padding: 0px;
  }
@font-face {
    font-family: 'titulos';
    src: url('../src/assets/icon/UberMoveMedium.otf');
  }
  @font-face {
    font-family: 'descripciones';
    src: url('../src/assets/icon/Poppins-Light.ttf');
  }
    @font-face {
    font-family: 'bschat';
    src: url('../src/assets/icon/ARIALMTEXTRABOLDITALIC.ttf');
  }
  
  div {
    font-family: "titulos";
  }
  .sc-ion-searchbar-ios-h {
    min-height: 50px;
  }
  .textarea-wrapper.sc-ion-textarea-md textarea.sc-ion-textarea-md {
  color: rgb(0, 0, 0);
  }
  .searchbar-input-container.sc-ion-searchbar-ios {
    min-height: 45px;
    background-color:#f6f6f6;
    --background:#f6f6f6;
    border-radius: 14px;
  } 

  /**
   * Ionic Dark Mode
   * -----------------------------------------------------
   * For more info, please see:
   * https://ionicframework.com/docs/theming/dark-mode
   */
  
  /* @import "@ionic/angular/css/palettes/dark.always.css"; */
  /* @import "@ionic/angular/css/palettes/dark.class.css"; 
  @import "@ionic/angular/css/palettes/dark.system.css";*/
  .searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
    -webkit-padding-start: 2.7rem;
    padding-inline-start: 2.7rem;
    color: black;
      letter-spacing: 1.5px;
      font-weight: 500;
      font-size: 15px;
      background: #f5f5f5;
  
      border-radius: 40px;
  }
  /* Estilos generales para scrollbars oscuras */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff; /* fondo de la pista del scroll */
}

::-webkit-scrollbar-thumb {
  background-color: #f0f0f0; /* color de la barra */
  border-radius: 10px;
  border: 2px solid #dddddd; /* opcional: bordes para efecto de profundidad */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c4c4c4;
}

  .searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-search-icon.sc-ion-searchbar-ios {
    -webkit-margin-start: 10px;
    margin-inline-start: 10px;
    color: #000000;
    font-size: 12px; /* Tamaño del ícono */
    filter: drop-shadow(0px 0px 1px black); /* Sombra difusa */
  }
  .searchbar-search-icon.sc-ion-searchbar-ios {
    width:1.1rem ;
  }
 

  @media only screen and (min-width: 1024px){
    .flow-modal {
  --width: 100%;
  --height: 100%;
  border-radius: 12px;
}
  
    ::-webkit-scrollbar {
      height: 12px;
    }
    ion-menu{
          --side-max-width: 20%;
  }
  
   
  ion-content{
    --padding-start:25%;
    --padding-end:25%;
  }
ion-router-outlet {
  margin: 16px;
  background: #fff;
  border-radius: 14px;
}


  .headerPanel{
    display: block !important;
   
  }
  .headerToolbarsFake{
    display: block !important
  
  }
  }
  ion-item{
   
    ion-label{
      color: #000;
      font-family: 'titulos';
    }
  }
  ion-list{
    --background:#fff;
    background:#fff;
  }
  ion-label{
    color: #000;
    font-family: 'titulos';
  }
  .headerPanel{
    display: none;
  }
  .ion-invalid.ion-touched .label-stacked.sc-ion-label-md-h:not(.ion-color){
    color: black;
  }
  .headerToolbarsFake{
    display: none;
  }
  .header-ios ion-toolbar:last-of-type {
    --border-width: 0px;
  }
  ion-button{
    font-family: 'titulos';
    font-weight: bold;
    letter-spacing: 3px;
  }
  
  ion-fab-button{
    margin-bottom: 16px;
    margin-right: 22px;
  }
  /* Estilos para personalizar el scroll 
  ::-webkit-scrollbar {
      width: 0px; /* Ancho del scrollbar 
    }
    */
    ::-webkit-scrollbar-thumb {
      background-color: #e7e7e7; /* Color del thumb (barra de desplazamiento) */
      border-radius: 10px; /* Redondear el borde del thumb */
    }
    
    ::-webkit-scrollbar-track {
      background: #ffffff; /* Color de fondo del track (pista del scrollbar) */
      border-radius: 10px;
    }
    ::-webkit-scrollbar {
      height: 0px;
    }
    @media (max-width: 768px) { /* Puedes ajustar el ancho según tus necesidades */
      .flow-modal {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
  
      :root {
        --padding-top: 0px;
      }
      ::-webkit-scrollbar {
        height: 0px;
        display: none;
      }
    }

   
    ion-label{
      font-family: 'titulos';  
      color: #000;
    }
    /* Asegura que el área sea deslizable */
    .scrollable {
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;      /* Firefox */
    }
  
    /* Personaliza la barra de desplazamiento en el ion-segment */
  ion-segment[scrollable] ::-webkit-scrollbar {
    display: none; /* Altura de la barra de desplazamiento */
  }
  
  ion-segment[scrollable] ::-webkit-scrollbar-thumb {
    background-color: #4a4a4a; /* Color del thumb de la scrollbar */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  ion-segment[scrollable] ::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color de la pista */
  }
  
    ion-segment{
      ion-label{
        font-size: 12px;
          color: rgb(60, 59, 59);
      }
  }
  .sc-ion-input-ios-h {
    --padding-start: 10px;
    font-size: 14px;
  
  }
  ion-modal>.ion-page {
    background: #fff;
    position: relative;
    contain: layout style;
    height: 100%;
  }
   ion-textarea{
    font-size: 18px;
     border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      width: 100%; 
      background: #f9f9f9;
  
  }
/* Scrollbar completa */
::-webkit-scrollbar {
  width: 5px;
}

/* Fondo de la scrollbar */
::-webkit-scrollbar-track {
  background: #ffffff00; /* negro */
}

/* Parte móvil de la scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #f3f3f3; /* gris oscuro */
  border-radius: 6px;
  border: 3px solid #eaeaea;
}

  ion-input{
    font-size: 18px;
     border: 1px solid #d1d1d1;
      border-radius: 14px;
      padding: 10px;
      width: 100%; 
      background: #f9f9f9;
  
  }
  
  ion-select{
    margin-left: 0px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2px 1px 3px 15px;
    width: 100%;
    background-color: #f9f9f9;
  }
    /* Aplica solo al scroll dentro del ion-menu */
  ion-menu {
    --side-min-width: 55%;
      --background: #fff; /* Color de fondo del menú */
    }
    td{
      font-family: sans-serif;
    }
    th{
      font-weight: 500;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2; /* Gris claro */
    }
    
    /* Estilo para filas pares (blanco) */
    tr:nth-child(odd) {
      background-color: #ffffff; /* Blanco */
    }
    ion-menu::-webkit-scrollbar {
      width: 3px; /* Ancho del scrollbar */
    }
    
    ion-menu::-webkit-scrollbar-thumb {
      background-color: #fff; /* Color del thumb */
      border-radius: 10px; /* Redondear el borde del thumb */
    }
    
    ion-menu::-webkit-scrollbar-track {
      background: #fff; /* Color de fondo del track */
      border-radius: 10px;
    }
  
    
    ion-button{
      color: rgb(0, 0, 0);
    }
  
    .item-fill-outline.item-has-focus.ion-color .label-floating.sc-ion-label-md-h:not(.ion-color) {
  
      background: rgb(229, 229, 229);
      color: rgb(0, 0, 0);
    }
    
    .item-fill-outline.ion-focused.label-floating.sc-ion-label-md-h::before, .item-fill-outline.ion-focused .label-floating.sc-ion-label-md-h::before, .item-fill-outline.ion-focused.label-floating.sc-ion-label-md-h::after, .item-fill-outline.ion-focused .label-floating.sc-ion-label-md-h::after, .item-fill-outline.item-has-focus.label-floating.sc-ion-label-md-h::before, .item-fill-outline.item-has-focus .label-floating.sc-ion-label-md-h::before, .item-fill-outline.item-has-focus.label-floating.sc-ion-label-md-h::after, .item-fill-outline.item-has-focus .label-floating.sc-ion-label-md-h::after, .item-fill-outline.item-has-placeholder.sc-ion-label-md-h:not(.item-input).label-floating::before, .item-fill-outline.item-has-placeholder:not(.item-input) .label-floating.sc-ion-label-md-h::before, .item-fill-outline.item-has-placeholder.sc-ion-label-md-h:not(.item-input).label-floating::after, .item-fill-outline.item-has-placeholder:not(.item-input) .label-floating.sc-ion-label-md-h::after, .item-fill-outline.item-has-value.label-floating.sc-ion-label-md-h::before, .item-fill-outline.item-has-value .label-floating.sc-ion-label-md-h::before, .item-fill-outline.item-has-value.label-floating.sc-ion-label-md-h::after, .item-fill-outline.item-has-value .label-floating.sc-ion-label-md-h::after {
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: var(--ion-item-background, var(--ion-background-color, rgb(231, 231, 231)));
      content: "";
    }
    .ion-color.sc-ion-input-md-h {
      color: #000000;
    }
    
    .item-fill-outline.ion-focused.label-floating.sc-ion-label-md-h, .item-fill-outline.ion-focused .label-floating.sc-ion-label-md-h, .item-fill-outline.item-has-focus.label-floating.sc-ion-label-md-h, .item-fill-outline.item-has-focus .label-floating.sc-ion-label-md-h, .item-fill-outline.item-has-placeholder.sc-ion-label-md-h:not(.item-input).label-floating, .item-fill-outline.item-has-placeholder:not(.item-input) .label-floating.sc-ion-label-md-h, .item-fill-outline.item-has-value.label-floating.sc-ion-label-md-h, .item-fill-outline.item-has-value .label-floating.sc-ion-label-md-h {
      -webkit-transform: translateY(-6px) scale(0.75);
      transform: translateY(-6px) scale(0.75);
      position: relative;
      max-width: -webkit-min-content;
      max-width: -moz-min-content;
      max-width: min-content;
      background-color: var(--ion-item-background, var(--ion-background-color, rgb(230, 230, 230)));
      overflow: visible;
      z-index: 3;
    }
    .selected-label {
      color: #000000 !important;
    }
    .custom-modal-class {
      --height: 88%;      
      bottom: -50px;
          /* Set the height to 85% */
      --border-radius: 20px 20px 20px 20px;  /* Round the top corners */
      --border-width: 0px;
      --box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1);
      --background: #fff;      /* You can also adjust the background color if necessary */
    }
    .custom-login-class {
      --height: 99%;      
      bottom: -50px;
          /* Set the height to 85% */
      --border-radius: 20px 20px 20px 20px;  /* Round the top corners */
      --border-width: 0px;
      --box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1);
      --background: #fff;      /* You can also adjust the background color if necessary */
    }
    .custom-modalhash-class {
      --height: 33%;      
      bottom: -350px;
          /* Set the height to 85% */
      --border-radius: 20px 20px 20px 20px;  /* Round the top corners */
      --border-width: 0px;
      --box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1);
      --background: #fff;      /* You can also adjust the background color if necessary */
    }
    .custom-filtro-class {
      --height: 20%;      
      bottom: -400px;
          /* Set the height to 85% */
      --border-radius: 20px 20px 20px 20px;  /* Round the top corners */
      --border-width: 0px;
      --box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1);
      --background: #fff;      /* You can also adjust the background color if necessary */
    }
    .custom-modal {
      --width: 80%;   // Ancho del modal (ajusta según tus necesidades)
      --height: 90%;  // Altura del modal (ajusta según tus necesidades)
      --border-radius: 20px;  // Borde redondeado (opcional)
    }
    .custom-modal-maps {
      --width: 45%;   // Ancho del modal (ajusta según tus necesidades)
      --height: 85%;  // Altura del modal (ajusta según tus necesidades)
      --border-radius: 20px;  // Borde redondeado (opcional)
    }
ion-button[color="dark"] {
  --color-contrast: #ffffff;
}

h1{
  color: #000 !important;
}

    .custom-modal-min {
      bottom: -190px;
      --width: 100%;   // Ancho del modal (ajusta según tus necesidades)
      --height: 80%;  // Altura del modal (ajusta según tus necesidades)
      --border-radius: 20px;  // Borde redondeado (opcional)
    }
    .custom-modal-texts {
      bottom: -190px;
      --width: 100%;   // Ancho del modal (ajusta según tus necesidades)
      --height: 85%;  // Altura del modal (ajusta según tus necesidades)
      --border-radius: 20px;  // Borde redondeado (opcional)
    }
    .searchbar-has-value.searchbar-should-show-clear.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
      padding-inline-start: 2.75rem;
    }
    .custom-modal-products {
      --width: 45%;   // Ancho del modal (ajusta según tus necesidades)
      --height: 95%;  // Altura del modal (ajusta según tus necesidades)
      --border-radius: 20px;  // Borde redondeado (opcional)
    }
    ion-radio{
      --border-width: 0.230rem;
     
      --color: #bebcbc;
    }

    .input-fill-outline.sc-ion-input-md-h {
    --border-color: var(--ion-color-step-300, var(--ion-background-color-step-300, #b3b3b3));
    --border-radius: 4px;
    --padding-start: 16px;
    --padding-end: 16px;
    min-height: 46px;

    }
    ion-checkbox{
      --border-width: 0.230rem;
      color: black;
  
    }
    .native-wrapper .radio-icon {
      width: 1.55rem;
      color: black;
  
      height: 1.55rem;
  }
ion-content::part(scroll)::-webkit-scrollbar {
  width: 2px;
}

ion-content::part(scroll)::-webkit-scrollbar-track {
  background: #ffffff;
}

ion-content::part(scroll)::-webkit-scrollbar-thumb {
  background-color: #ededed;
  border-radius: 10px;
}

    .custom-modal-class .modal-wrapper {
      height: 85%;
      border-radius: 20px 20px 0px 0px;
      position: absolute;
      bottom: 0; /* This makes the modal stay at the bottom */
    }
    @keyframes grow-shrink {
      0% {
        transform: scale(0.5); /* Comienza más pequeño */
        opacity: 0; /* Comienza invisible */
      }
      50% {
        transform: scale(1); /* Crece a tamaño completo */
        opacity: 1; /* Se vuelve visible */
      }
      100% {
        transform: scale(0.9); /* Se reduce un 10% al final */
      }
    }
    
    ion-avatar {
      animation: grow-shrink 1.7s ease forwards; /* Aplica la animación */
      display: inline-flex; /* Asegura que el avatar se mantenga como un bloque en línea */
    }
    
    