
   <ion-toolbar class="glass-toolbar" color="light" style="height: 33px;" translucent="true" mode="md">
    </ion-toolbar>
<ion-toolbar *ngIf="currentBusiness === 'all'" class="headerPanel"
 mode="md" style="height: 60px;" color="light">
  <ion-buttons slot="start" style="margin-left: 10px;">
    

</ion-buttons>


  <ion-title  style="color: #000000;font-style: italic;">
<b>    Channel Manager System 1.3</b>
<div class="project-name" style="letter-spacing: 2px;color: #0039a6;font-size: 20px;font-weight: bold;display: inline-block;margin-left: 100px;">
  {{this.nombreRestaurante}}
   </div>

  
  </ion-title>
  
<ion-buttons style="margin-right: 10px;" slot="end">
  
<ion-toggle style="margin-left: 40px;" color="secondary" *ngIf="currentBusiness !== 'all'" mode="ios" (ionChange)="onToggleChange($event)" [(ngModel)]="enableRestaurante">
  <ion-label style="color: #000000;" *ngIf="enableRestaurante">Estado: Activo</ion-label>
  <ion-label style="color: #000000;" *ngIf="!enableRestaurante">Estado: Inactivo</ion-label>

</ion-toggle>

</ion-buttons>

</ion-toolbar>

<ion-toolbar *ngIf="!isLargeScreen" style="height: 50px;" color="light" mode="md">
  <ion-buttons slot="start">
    <ion-menu-button style="color: black;"></ion-menu-button>
  </ion-buttons>



<ion-title style="color: rgb(0, 0, 0);font-weight: bold;font-family: 'bschat';padding-inline-start: 0px;font-size: 19px;">
{{currentBusiness}}
</ion-title>






<ion-buttons (click)="alertActivar()" style="margin-right: 10px;" slot="end">
  
  <!-- <ion-toggle style="margin-left: 40px;" color="primary" *ngIf="currentBusiness !== 'all'" mode="ios" (ionChange)="onToggleChange($event)" [(ngModel)]="enableRestaurante">
    <ion-label style="color: #ffffff;" *ngIf="enableRestaurante"> </ion-label>
    <ion-label style="color: #ffffff;" *ngIf="!enableRestaurante"> </ion-label>
  
  </ion-toggle> -->
  <div class="chip-filter">
  <span *ngIf="enableRestaurante" class="chip-dot"></span>
  <span *ngIf="!enableRestaurante" class="chip-dot-red"></span>
  <span *ngIf="enableRestaurante" class="chip-text">Abierto</span>
  <span *ngIf="!enableRestaurante" class="chip-text">Cerrado</span>
  <ion-icon name="chevron-down-outline" class="chip-icon"></ion-icon>
</div>
  </ion-buttons>
</ion-toolbar>
  <ion-content fullscreen="true" style="--background: #fafafa;">






    <!-- MOVILES VISTA -->

   


      <!-- Ocultar tabla en pantallas grandes y mostrar solo en móviles -->
      <div *ngIf="!isLargeScreen" class="mobile-view">
        <ion-grid>
          <ion-row>
    
            <!-- Columna para la lista de pedidos -->
            <ion-col size="12">
              <ion-segment mode="md" color="dark" value="TODOS" style="background: #fff;padding: 0px;" (ionChange)="segmentChangedAppPartner($event)">



              
              
                <ion-segment-button value="TODOS" style="padding: 0px;">
                  <b style="color: rgb(43, 43, 43);"> Nuevos ({{ pedidosTodosTotalCountRestaurante }})</b> 
                </ion-segment-button>
 
      
  
                <ion-segment-button value="En camino" style="padding: 0px;">
                 <b style="color: rgb(43, 43, 43);"> En Camino ({{ pedidosEnCaminoCount }})</b>
                </ion-segment-button>
       

         


              </ion-segment>
              
            </ion-col>

            <ion-col size="12" style="padding: 1px;">
              <ion-list style="padding-left: 10px;padding-right: 10px;height: 100%;overflow: scroll;">
                <ion-row>
                  <ng-container  *ngFor="let pedido of pedidosFiltrados let i = index">

             <ion-card 
  style="padding: 0px; background: #f5f5f5; border-radius: 14px; margin-bottom: 10px;width: 100%;"
  *ngIf="pedido.status !== 'Cancelado' && pedido.status !== 'Entregado'"
    [ngClass]="{
    'pedido-card': pedido.envio !== 0,
    'pedido-card-local': pedido.envio === 0,
    'nuevo': pedido.status === 'Nuevo'
  }"
  color="light"
  routerLink="/comanda/{{pedido.id}}"
>

<!-- *ngIf="pedido.status !== 'Cancelado' " -->
  <div  (click)="mostrarDetalles(pedido)" style="padding: 14px;    padding-left: 55px; display: flex; flex-direction: column;">

    <!-- Primera fila: Nombre + Precio -->
    <div style="display: flex; justify-content: space-between; width: 100%;">

      <div style="font-weight: 600; font-size: 15px; color: #000;">
        {{ pedido.cliente }}
      </div>

      <div style="font-weight: 600; font-size: 15px; color: #000;">
        {{pedido.devMode}}
      </div>

    </div>

    <!-- Segunda fila: ID + fecha -->
    <div style="display: flex; justify-content: space-between; font-size: 13px; color: #555; margin-top: 8px;">
      <div>#{{ pedido.idn?.slice(-5) }}</div>
      <div>{{ pedido.status }}</div>
    </div>
<!-- Botón único con chevron -->


  </div>
  <ion-icon 
    name="ellipsis-horizontal-circle-outline"
    style="font-size: 32px; margin-left: 10px; color: #000;    bottom: 15px;
    position: fixed;"
    (click)="abrirOpcionesPedido(pedido, i)">
  </ion-icon>
</ion-card>

                  
              
                  
                 
              

              
                </ng-container>

                </ion-row>
                
             
              </ion-list>
              
            </ion-col>
          
    
   
    
          </ion-row>
        </ion-grid>
      </div>
    

    <!-- Contenedor con desplazamiento horizontal para la tabla -->
    <div *ngIf="isLargeScreen"  class="scroll-x" style="height: 100%">
        <!-- Contenedor de la tarjeta "Administrar Pedidos" -->
  <div *ngIf="isLargeScreen" style="padding: 0px;text-align: left;box-shadow: 0px 0px 4px 2px rgb(44 44 44 / 9%);font-size: 27px; margin-left: 0px;margin-right: 10px;margin-top: 15px;">
    <ion-grid style="margin-top: 3px;">
      <ion-row>
        <ion-col size="0.3">
        </ion-col>
        <ion-col size="1">
          <div style="margin-top: 10px;background: #e8e8e8;text-align: center;width: 55px;height: 55px;padding: 10px;border-radius: 50%;">
            <ion-icon name="cube-outline" style="font-size: 28px;margin-top: 1px;color: #000;"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="6.7">
          <div style="margin-top: 20px;margin-left: 2px;color: #000;">
             {{currentBusiness}}
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-row>

            <ion-col size="12" size-md="12" size-lg="12" size-xl="12">
              <ion-searchbar mode="ios" [(ngModel)]="searchTerm" style="min-height: 42px;" placeholder="Buscar Pedido..."></ion-searchbar>
            </ion-col>
               
           
            <!-- <ion-col size="12" size-md="5" size-lg="5" size-xl="5">
              <ion-button *ngIf="currentBusiness === 'all'" style="margin-top: 10px;" routerLink="/reczon-api/{{currentBusiness}}" expand="full" color="dark" shape="round">
                <b style="color: white;">Solicitar Repartidor</b>
                <ion-icon name="bicycle" style="color: white;" slot="end"></ion-icon>
              </ion-button>
              <ion-button *ngIf="currentBusiness !== 'all'" style="margin-top: 10px;" routerLink="/reczon-api/{{currentBusiness}}" expand="full" color="dark" shape="round" >
                <b style="color: white;">Solicitar Repartidor</b>
                <ion-icon name="bicycle" style="color: white;" slot="end"></ion-icon>
              </ion-button>
            </ion-col> -->
            
          </ion-row>
        </ion-col>
        <ion-col style="display: none;" size="12">
          <ion-segment mode="ios" value="todos" (ionChange)="segmentChanged($event)">
        
            <ion-segment-button value="Nuevo">
              <span class="status-indicator nuevo"></span> Nuevo ({{ pedidosNuevoCount }})
            </ion-segment-button>
            
            <ion-segment-button value="todos">
              <span class="status-indicator todos"></span> Todos ({{ pedidosTotalCount }})
            </ion-segment-button>
            <ion-segment-button value="Aceptado">
              <span class="status-indicator aceptado"></span> Aceptado ({{ pedidosAceptadoCount }})
            </ion-segment-button>
            <ion-segment-button value="En preparacion">
              <span class="status-indicator preparacion"></span> En Preparación ({{ pedidosPreparacionCount }})
            </ion-segment-button>
            <ion-segment-button value="Listo para recoger">
              <span class="status-indicator listo"></span> Listo para Rec. ({{ pedidosListoCount }})
            </ion-segment-button>
            <ion-segment-button value="En camino">
              <span class="status-indicator camino"></span> En Camino ({{ pedidosEnCaminoCount }})
            </ion-segment-button>
            <ion-segment-button [ngClass]="{'temp-background': isTempBackgroundActive}"  value="Entregado">
              
              <span class="status-indicator terminado"></span> 
              <span [ngClass]="{'vibrate-text': isTempBackgroundActive}">Entregado ({{ pedidosTerminadoCount }})</span>
            </ion-segment-button>
            <ion-segment-button value="Cancelado">
              <span class="status-indicator cancelado"></span> Cancelado ({{ pedidosCanceladosCount }})
            </ion-segment-button>
          </ion-segment>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
      <table style="
     width: 100%;
  min-width: 600px;
    ">
    <thead style="height: 45px;">
      <tr style="background: #fafafa">
        
    

    

        <th style="text-align: center;  max-width: 150px; border-bottom: 1px solid #d3d3d3;">
          ID PEDIDO
          
        </th>
  

        

    
    
    
        <th style="text-align: center; border-bottom: 1px solid #d3d3d3;min-width: 150px;">
          Acciones
      
        </th>
        <th style="text-align: center; border-bottom: 1px solid #d3d3d3;min-width: 120px;max-width: 180px;">
          Cliente y modo
    
        </th>
    
 
        <th style="text-align: center; border-bottom: 1px solid #d3d3d3; min-width: 110px;">
          Carrito
        
        </th>
    
      
   
       
      </tr>
    </thead>
    
    
        
   
        <tbody *ngIf="selectedStatus !== 'todos'">
          <tr *ngFor="let marca of pedidosFiltrados; let i = index" 
          [ngStyle]="{'background': getStatusColor(marca.status)}"
          style="opacity: 0.1px;max-height: 100px; ">
          
  
        
            <td routerLink="/comanda/{{marca.id}}" style="text-align: center; padding: 5px; border: none;min-width: 140px;">
                 <ion-icon 
          [ngClass]="{ 'hover-active': isHovered[i] }" 
          name="copy" 
          (click)="copiarTexto(marca,i)" 
          style="font-size: 20px; color: gray;">

        </ion-icon>
              <u>{{ marca.idn }} </u>
              
              <br>
          
              <div style="font-size: 12px;margin-top:5px;border-radius: 3px;cursor:pointer;padding-left: 3px;padding-right: 3px;padding-top: 3px;padding-bottom: 3px;background: #090019;color: white;font-weight: bold;text-align: center;" routerLink="/comanda/{{marca.id}}">
                Ver pedido
              </div>
              
              <b style="font-size: 10px;">{{marca.fecha}}</b>

            </td>
            
          
      
        
            
      

            <td style="text-align: center; padding: 0px; border: none;">
              <div class="custom-chip" [ngStyle]="{'border': '2px solid ' + getStatusColor(marca.status)}">
                <div *ngIf="marca.status !== 'Pendiente'">
                  <b *ngIf="marca.status !== 'Nuevo'">  
                    <ion-select 
                    interface="popover" 
                    (ionChange)="cambiarStatus($event, marca)" 
                    class="status-select"
                    [value]="marca.status" 
                    [placeholder]="marca.status"
                    >
              
                    
                    <ion-select-option *ngIf="marca.status === 'Aceptado'" style="color: black;" value="En preparacion">En preparación</ion-select-option>
                    <ion-select-option *ngIf="marca.status === 'En preparacion'" value="Listo para recoger">Listo para recoger</ion-select-option>
                  
                    <ion-select-option *ngIf="marca.status === 'Listo para recoger' && currentBusiness === 'all'" value="En camino">En camino</ion-select-option>
                    <ion-select-option *ngIf="marca.status === 'En camino' && currentBusiness === 'all'" value="Entregado">Finalizar pedido</ion-select-option>
                  </ion-select>

          
                  </b>   
                </div>
        

                <ion-icon *ngIf="marca.status === 'Nuevo'" (click)="presentTiempoEntregaAlert(marca.id,marca.uid, marca.nameRest, marca.idBs, marca)" name="checkmark-circle" style="font-size: 50px;color: green;">

                </ion-icon>
                <ion-icon *ngIf="marca.status === 'Nuevo'"  (click)="mostrarAlertaCancelacion(marca.id,marca.uid, marca.nameRest, marca.idBs,marca.idrepa, marca)" name="close-circle" style="font-size: 50px;color: red;">

                </ion-icon>
                <div *ngIf="marca.status === 'Nuevo' || marca.status === 'Pendiente'" style="text-align: center;">  
                Pedido {{ marca.status }}
          
                </div>   
        
              </div>
            </td>
            <td style="text-align: center;border: none;">
                           {{ marca.cliente }}
                <br>
              {{ marca.devMode }}

            </td>
          
            <td style="text-align: center;border: none;">
              ${{ marca.total }}<br>
              {{ marca.typePay }}
            </td>
        
        
      
        
      
          
      

      
      
          </tr>
        
        </tbody>
        <!-- <tbody *ngIf="selectedStatus !== 'todos'">
          <tr *ngFor="let marca of pedidosFiltrados; let i = index" [ngStyle]="{'background': getStatusColor(marca.status)}"
          style="opacity: 0.1px;max-height: 100px; ">
          
    
        
            <td routerLink="/comanda/{{marca.id}}" style="text-align: left; padding: 5px; border: none;">
          
              <u>{{ marca.idn }} </u>
              
              <br>

            <div style="font-size: 12px;margin-top:5px;border-radius: 3px;cursor:pointer;padding-left: 3px;padding-right: 3px;padding-top: 3px;padding-bottom: 3px;background: #d10074;color: white;font-weight: bold;text-align: center;" routerLink="/comanda/{{marca.id}}">
            Ver pedido
            </div>

            </td>
            
          
      
        
            
            <td style="text-align: center; padding: 5px; border: none;">
              
              <img *ngIf="marca.channel === 'Soy Juan'" src="../../../assets/icon/soyjuan.png" style="border-radius: 4px; width: 40px; height: 40px;">
              <img *ngIf="marca.channel === 'Uber'" src="../../../assets/icon/ubereats.png" style="border-radius: 4px; width: 40px; height: 40px;">
              <img *ngIf="marca.channel === 'WhatsApp'" src="https://static.vecteezy.com/system/resources/thumbnails/016/716/480/small/whatsapp-icon-free-png.png" style="border-radius: 4px; width: 40px; height: 40px;">
              <img *ngIf="marca.channel === 'Didi'" src="https://seeklogo.com/images/D/didi-food-logo-107CC0FF4B-seeklogo.com.png" style="border-radius: 4px; width: 40px; height: 40px;">
            </td>

            <td style="text-align: left; padding: 0px; border: none;">
              <div class="custom-chip" [ngStyle]="{'border': '2px solid ' + getStatusColor(marca.status)}">
                <div *ngIf="marca.status !== 'Pendiente'">
                  <b *ngIf="marca.status !== 'Nuevo'">  
                    <ion-select 
                    interface="popover" 
                    (ionChange)="cambiarStatus($event, marca)" 
                    class="status-select"
                    [value]="marca.status" 
                    [placeholder]="marca.status"
                    >
              
                    
                    <ion-select-option *ngIf="marca.status === 'Aceptado'" style="color: black;" value="En preparacion">En preparación</ion-select-option>
                    <ion-select-option *ngIf="marca.status === 'En preparacion'" value="Listo para recoger">Listo para recoger</ion-select-option>
                  
                    <ion-select-option *ngIf="marca.status === 'Listo para recoger' && currentBusiness === 'all'" value="En camino">En camino</ion-select-option>
                    <ion-select-option *ngIf="marca.status === 'En camino' && currentBusiness === 'all'" value="Entregado">Finalizar pedido</ion-select-option>
                  </ion-select>

          
                  </b>   
                </div>
        

                <ion-icon *ngIf="marca.status === 'Nuevo'" (click)="presentTiempoEntregaAlert(marca.id,marca.uid, marca.nameRest, marca.idBs, marca)" name="checkmark-circle" style="font-size: 50px;color: green;">

                </ion-icon>
                <ion-icon *ngIf="marca.status === 'Nuevo'"  (click)="mostrarAlertaCancelacion(marca.id,marca.uid, marca.nameRest, marca.idBs,marca.idrepa, marca)" name="close-circle" style="font-size: 50px;color: red;">

                </ion-icon>
                <div *ngIf="marca.status === 'Nuevo' || marca.status === 'Pendiente'" style="text-align: left;">  
                Pedido {{ marca.status }}
          
                </div>   
        
              </div>
            </td>
            <td style="text-align: left;border: none;">
              {{ marca.nameRest }}<br>
            </td>
            <td style="text-align: left; padding: 5px; border: none;">
              {{ marca.fecha }}
            </td>
            <td style="text-align: left;border: none;">
              ${{ marca.total }}<br>
    
            </td>
        
        
      
        
            <td style="text-align: left; padding: 5px; border: none;">
              {{ marca.cliente }}
            </td>
            <td style="text-align: left; padding: 5px; border: none;">
              {{ marca.devMode }}
            </td>
            <td style="text-align: left; padding: 5px; border: none;">
              {{ marca.typePay }}
            </td>
            <td *ngIf="currentBusiness === 'all'" style="text-align: left; padding: 5px; border: none;" >
              <ion-chip
              *ngIf="marca.status === 'Nuevo' || marca.status === 'Aceptado' || marca.status === 'En preparacion' || marca.status === 'Listo para recoger'"
              (click)="openRepartidoresModal(marca)">
              Asignar Repartidor
        
            </ion-chip>
        
          
          <div *ngIf="marca.idrepa !== undefined">
     
            Repartidor: {{marca.RepaName}}<br>
            {{marca.CelRepa}}<br>
          </div>
            <div *ngIf="marca.typePay === 'Transferencia'">
              <img src="{{marca.imgTrans}}" (click)="openModalImg(marca.imgTrans)" style="height: 40px;width: 40px;">
    
              </div>
          
            </td>
      

      <td>
      
          <ion-icon 
          [ngClass]="{ 'hover-active': isHovered[i] }" 
          name="copy" 
          (click)="copiarTexto(marca,i)" 
          style="font-size: 25px; color: gray;">

        </ion-icon>
      
      </td> 
      
          </tr>
        
        </tbody> -->
      </table>
    </div>

    <br *ngIf="!isLargeScreen" >
    <br *ngIf="!isLargeScreen">
    <br *ngIf="!isLargeScreen">
    <br *ngIf="!isLargeScreen">
    <br *ngIf="!isLargeScreen">
    <br *ngIf="!isLargeScreen">
    <br *ngIf="!isLargeScreen">
    <br *ngIf="!isLargeScreen">
    
  </ion-content>


